﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="Careers_Default"
    Buffer="true" Strict="true" Explicit="true" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div style="position: relative; left: 47%; top: 300px; width: 100%">
        <asp:HyperLink ID="btnBegin" runat="server" Text="Begin Application" NavigateUrl="~/Careers/JobApplicationWizard.aspx"></asp:HyperLink>
    </div>
    </form>
</body>
</html>
