﻿body
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-width: 0px;
	border-collapse: collapse;
	overflow: auto;
    background-color: #F2F0F2; /*Light Silver*/
}
p
{
	font-family: Arial, Helvetica, sans-serif;
	color: #333399;
	font-size: 10px;
}   
table
{
	background-color: #F2F0F2; /*Light Silver*/
	border-width: 0px;
	border-collapse: collapse;
	padding: 0px 0px 0px 0px;
}
#div
{
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 5px 5px 5px 5px;
    position: relative;
    display: table;
}
.div_container
{
    background-color: #F2F0F2; /*Light Silver*/
	display: table;
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 1px solid gray;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333399;
}
.div_header
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:900;
	text-align: center;
	color: #333399;
    background-color: Silver;
	width: 100%;
}
.lblInfoBold
{
	font-family: Arial, Helvetica, sans-serif;
	color: #333399;
	font-weight: 900;
	font-size: 10px;
}
.lblSubscript
{
	font-family: Arial, Helvetica, sans-serif;
	color: Gray;
	font-size: 10px;
}
.lblTitle
{
	font-family: Arial, Helvetica, sans-serif;
	color: #333399;
	font-size: 12px;
	font-weight: bold;
}
.stdHyperLink
{
	font-family: Arial, Helvetica, sans-serif;
	color: #333399;
	font-size: 10px;
}
