/* CUSTOM */
body { font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: #F2F0F2; /* Light Silver */ margin: 0; padding: 0; border-width: 0px; overflow-x: hidden; overflow-y: auto; width: 100%; }

.div_container { width: 99%; position: relative; float: left; text-align: left; /*background-color: #C48ADA;  Light Purple */ margin: 4px; border: 1px solid gray; background-color: white; color: #68069A; }

.div_header { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 900; text-align: center; color: #68069A; background-image: url('Images/HeaderBar.png'); background-repeat: repeat-x; background-position: center; border-collapse: collapse; height: 18px; width: 100%; }

#div_main /* All Pages, main div */ { position: relative; background-color: #F2F0F2; /* Light Silver */ text-align: left; vertical-align: central; width: 100%; height: auto; }

.lblInfoBold { font-family: Arial, Helvetica, sans-serif; color: #68069A; font-weight: 900; font-size: 12px; }

.lblInfo { font-family: Arial, Helvetica, sans-serif; color: #68069A; font-size: 12px; }

.lblSmall { font-family: Arial, Helvetica, sans-serif; color: #68069A; font-size: 10px; }

.lblSmallBold { font-family: Arial, Helvetica, sans-serif; color: #68069A; font-weight: 900; font-size: 10px; }

.lblSubscript { font-family: Arial, Helvetica, sans-serif; color: Gray; font-size: 9px; }

.lblTitle { position: relative; top: 6px; font-family: Arial, Helvetica, sans-serif; color: #68069A; background-color: Silver; border: 2px solid #68069A; font-size: 12px; font-weight: bold; }

/* RAD GRIDS */
.rgMasterTable.rgClipCells { width: 100% !important; overflow: scroll !important; }

/* ViewSchedule Legend */
.legendVSCompleted { font-weight: bold !important; color: #C48ADA !important; }
.legendVSCompletedEx { font-weight: bold !important; color: Red !important; }
.legendVSCancelled { font-weight: bold !important; text-decoration: line-through !important; color: #C48ADA !important; }
.legendVSScheduled { font-weight: bold !important; color: Green !important; }
.legendVSScheduled2 { font-weight: bold !important; background-color: Green !important; color: white !important; }
.legendVSNonScheduled { font-weight: bold !important; color: LightBlue !important; }
.legendVSFuture { font-weight: bold !important; color: Gray !important; }

/* MasterSchedule Legend */
.legendMSCompleted { font-weight: bold !important; color: #C48ADA !important; }
.legendMSCompletedEx { font-weight: bold !important; color: Red !important; }
.legendMSCancelled { font-weight: bold !important; color: Black !important; }
.legendMSScheduled { font-weight: bold !important; color: Green !important; }
.legendMSFuture { font-weight: bold !important; color: Gray !important; }

/* MENU */
.RadMenu.RadMenu_ATGSkin { z-index: 7000 !important; width: 100% !important; }
.RadMenu.RadMenu_ATGSkin ul.rmRootGroup.rmHorizontal { width: 100% !important; }
/*.RadMenu .RadMenu_ATGSkin ul.rmVertical.rmGroup { line-height: 32px !important; }
.RadMenu .RadMenu_ATGSkin a.rmLink { height: 32px !important; }*/
.RadMenu.RadMenu_ATGSkin a.rmLink img { height: 16px !important; width: 16px !important; }
/*.RadMenu .RadMenu_ATGSkin .rmLink, .RadMenu_ATGSkin .rmText { line-height: 32px !important; }*/

.modalBackground { background-color: Gray; filter: alpha(opacity=70); opacity: 0.7; }

.myCustSortAsc { background-image: url('Grid/SortAsc.gif'); height: 10px; }

.myCustSortDesc { background-image: url('Grid/SortDesc.gif'); height: 10px; }

/* BUTTONS */
/*.rbSkinnedButton { padding: 0; margin: 2px; }
.rbSkinnedButton:hover .rbDecorated { background-image: none !important; }*/
.RadButton.RadButton_ATGSkin.rbSkinnedButton:hover input { background-color: silver; }
.RadButton.RadButton_ATGSkin.rbSkinnedButton input { border: 1px solid gray; }

.rgCurrentPage .stdLabel { color: Green; font-weight: 900; }

.rgPagerCell { }

.siteHeader { height: 76px; top: 30px; width: 100%; background-image: url('Images/Header.png'); background-repeat: no-repeat; }

.siteSplash { height: 76px; top: 30px; background-image: url('Images/SiteSplash.png'); background-repeat: no-repeat; }

.siteHeaderStub { height: 76px; top: 30px; background-image: url('Images/HeaderStub.png'); background-repeat: repeat-x; }

.stdHyperLink { font-family: Arial, Helvetica, sans-serif; font-size: 12px; }

.stdHyperLinkImage { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #F2F0F2; }

/* Careful - changes affect grid pager */
.stdLabel { font-family: Arial, Helvetica, sans-serif; color: Gray; /*#68069A;*/ font-size: 12px; margin-right: 2px; }

/* Careful - changes affect grid pager */
.stdPanel { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: Gray; /*#68069A;*/ border: solid 0px; /*#68069A;*/ float: left; }

.stdValidator { font-size: 10px; color: Red; }

.watermark { color: Red; background-color: Silver; font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; text-align: left; }
