/* CUSTOM */    
body
{
	background-color: #F2F0F2; /* Light Silver */
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-width: 0px;
	overflow: auto;
	font-family: Arial, Helvetica, sans-serif;
}

.div_container
{
    background-color: white;
    /*background-color: #C48ADA;  Light Purple */
    float: none;
	display: block;
	margin: 2px 2px 2px 2px;
	padding: 1px 1px 1px 1px;
	border: 1px solid gray;
	color: #333399;
    text-align: left;
}

.div_header
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 900;
	text-align: center;
	color: #333399;
	background-image: url('Images/HeaderBar.png');
	background-repeat: repeat-x;
	background-position: center;
	border-collapse: collapse;
	height: 18px;
	width: 100%;
}

#div_main /* All Pages, main div */
{
    background-color: #F2F0F2; /* Light Silver */
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 2px 2px 2px 2px;
    display: inline;
}

.lblInfoBold
{
	font-family: Arial, Helvetica, sans-serif;
	color: #333399;
	font-weight: 900;
	font-size: 12px;
}

.lblInfo
{
	font-family: Arial, Helvetica, sans-serif;
	color: #333399;
	font-size: 12px;
}

.lblSmall
{
	font-family: Arial, Helvetica, sans-serif;
	color: #333399;
	font-size: 10px;
}

.lblSmallBold
{
	font-family: Arial, Helvetica, sans-serif;
	color: #333399;
	font-weight: 900;
	font-size: 10px;
}

.lblSubscript
{
	font-family: Arial, Helvetica, sans-serif;
	color: Gray;
	font-size: 9px;
}

.lblTitle
{
	font-family: Arial, Helvetica, sans-serif;
	color: #333399;
	background-color: Silver;
	border: 2px solid #333399;
    padding: 2px 5px 2px 5px;
	font-size: 12px;
	font-weight: bold;
}

/* ViewSchedule Legend */
.legendVSCompleted 
{
    font-weight: bold !important; 
    color: #C48ADA !important;
}
.legendVSCompletedEx 
{
    font-weight: bold !important; 
    color: Red !important;
}
.legendVSCancelled 
{
    font-weight: bold !important; 
    text-decoration: line-through !important; 
    color: #C48ADA !important;
}
.legendVSScheduled 
{
    font-weight: bold !important; 
    color: Green !important;
}
.legendVSNonScheduled 
{
    font-weight: bold !important; 
    color: LightBlue !important;
}
.legendVSFuture 
{
    font-weight: bold !important; 
    color: Gray !important;
}

/* MasterSchedule Legend */
.legendMSCompleted 
{
    font-weight: bold !important; 
    color: #C48ADA !important;
}
.legendMSCompletedEx 
{
    font-weight: bold !important; 
    color: Red !important;
}
.legendMSCancelled 
{
    font-weight: bold !important; 
    color: Black !important;
}
.legendMSScheduled 
{
    font-weight: bold !important; 
    color: Green !important;
}
.legendMSFuture 
{
    font-weight: bold !important; 
    color: Gray !important;
}

.modalBackground {
	background-color: Gray;
	filter: alpha(opacity=70);
	opacity: 0.7;
}

.myCustSortAsc
{
	background-image: url('Grid/SortAsc.gif');
	height:10px;
}

.myCustSortDesc
{
	background-image: url('Grid/SortDesc.gif');
	height:10px;
}

.rgCurrentPage .stdLabel
{
    color: Green;
    font-weight: 900;
}

.rgPagerCell 
{
}

.siteHeader 
{
	height: 76px; 
	top: 30px; 
	background-image: url('Images/Header.png');
    background-repeat: no-repeat;
}

.siteSplash 
{
	height: 76px; 
	top: 30px; 
	background-image: url('Images/SiteSplash.png');
    background-repeat: no-repeat;
}

.siteHeaderStub 
{
	height: 76px; 
	top: 30px; 
	background-image: url('Images/HeaderStub.png');
    background-repeat: repeat-x;
}

.stdHyperLink
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/* Careful - changes affect grid pager */
.stdLabel
{
	font-family: Arial, Helvetica, sans-serif;
	color: Gray; /*#333399;*/
	font-size: 12px;
    margin-right: 2px;
}

/* Careful - changes affect grid pager */
.stdPanel
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: Gray; /*#333399;*/
	border: solid 0px; /*#333399;*/
	float: left;
}
        
.stdValidator
{
    font-size: 10px;
    color: Red;
}

.watermark {
	color: Red;
	background-color: Silver;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: left;
}