/* RadButton Office2007 Skin */

.RadButton_rbSkinnedButton,
.RadButton_ATGSkin .rbDecorated,
.RadButton_rbVerticalButton,
.RadButton_rbVerticalButton .rbDecorated,
.RadButton_ATGSkin .rbSplitRight,
.RadButton_ATGSkin .rbSplitLeft
{
	background-image:url(<%= WebResource("ATGFedExSkin.Button.ButtonSprites.gif") %>);
}

.RadButton_ATGSkin .rbToggleCheckbox,
.RadButton_ATGSkin .rbToggleCheckboxChecked,
.RadButton_ATGSkin .rbToggleCheckboxFilled,
.RadButton_ATGSkin .rbToggleRadio,
.RadButton_ATGSkin .rbToggleRadioChecked
{
	background-image:url(<%= WebResource("ATGFedExSkin.Button.ToggleSprite.gif") %>);
}

.RadButton_rbToggleButton,
.RadButton_rbToggleButton.rbDisabled,
.RadButton_rbToggleButton.rbDisabled:hover
{
	color: #000;
}

.RadButton_rbDisabled .rbDecorated,
.RadButton_rbDisabled:hover .rbDecorated,
.RadButton_rbToggleButton:hover
{
	color: #6b6b6b;
}

.RadButton_rbLinkButton
{
	border: 1px solid #e0d5f5;
	color: #25006e;
	text-decoration: none;
}

.RadButton_rbLinkButton:hover
{
	background-color: #af87ff;
	color: #25006e;
}

.RadButton_rbLinkButtonChecked,
.RadButton_rbLinkButtonChecked:hover
{
	background-color: #7837fa;
}

.RadButton_rbLinkButton.rbDisabled,
.RadButton_rbLinkButton.rbDisabled:hover
{
	background-color: #fafafa;
	border: 1px solid #d1d1d1;
	color: #6b6b6b;
}

.RadButton_rbLinkButton:hover .rbSplitLeft,
.RadButton_rbLinkButton:hover .rbSplitRight
{
	background-color: #fff;
}

.RadButton_rbLinkButton .rbSplitRight
{
	border-left: 1px solid #e0d5f5;
}

.RadButton_rbLinkButton .rbSplitRight:hover
{
	background-position: -126px -137px;
	background-color: #5605f7;
	border-left: 1px solid #e0d5f5;
}

.RadButton_rbLinkButton .rbSplitRight:active,
.RadButton_rbLinkButton .rbSplitRight:focus
{
	background-color: #4702d1;
	border-left: 1px solid #e0d5f5;
}

.RadButton_rbLinkButton .rbSplitLeft
{
	border-right: 1px solid #e0d5f5;
}

.RadButton_rbLinkButton .rbSplitLeft:hover
{
	background-position: -126px -137px;
	background-color: #5605f7;
	border-right: 1px solid #e0d5f5;
}

.RadButton_rbLinkButton .rbSplitLeft:active,
.RadButton_rbLinkButton .rbSplitLeft:focus
{
	background-color: #4702d1;
	border-right: 1px solid #e0d5f5;
}

/* IE6 Fix, should be important to override the joint selectors */
*html .RadButton_rbLinkButton,
*html .RadButton_rbLinkButton:hover
{
	border: 1px solid #25006e !important;
}