/*Telerik RadDataPager Office2007 Skin*/

.RadDataPager_ATGSkin
{
	border:1px solid #8068b0;
	background:#f2edfc 0 -7000px repeat-x url(<%= WebResource("ATGFedExSkin.Grid.sprite.gif") %>);
	color:#333333;
}

.RadDataPager_ATGSkin .rdpPageFirst,
.RadDataPager_ATGSkin .rdpPagePrev,
.RadDataPager_ATGSkin .rdpPageNext,
.RadDataPager_ATGSkin .rdpPageLast
{
	background:transparent no-repeat url(<%= WebResource("ATGFedExSkin.Grid.sprite.gif") %>);
}

.RadDataPager_ATGSkin .rdpPageFirst
{
	margin:0 3px 0 0;
	background-position:0 -550px;
}
.RadDataPager_ATGSkin .rdpPageFirst:hover
{
	background-position:0 -600px;
}
.RadDataPager_ATGSkin .rdpPagePrev
{
	margin:0 3px 0 0;
	background-position:0 -700px;
}
.RadDataPager_ATGSkin .rdpPagePrev:hover
{
	background-position:0 -750px;
}
.RadDataPager_ATGSkin .rdpPageNext
{
	margin:0 0 0 3px;
	background-position:0 -850px;
}
.RadDataPager_ATGSkin .rdpPageNext:hover
{
	background-position:0 -900px;
}
.RadDataPager_ATGSkin .rdpPageLast
{
	margin:0 0 0 3px;
	background-position:0 -1000px;
}
.RadDataPager_ATGSkin .rdpPageLast:hover
{
	background-position:0 -1050px;
}

.RadDataPager_ATGSkin .rdpPagerButton
{
	border:1px solid #8d77ba;
	background:#efe8fc repeat-x 0 -1550px url('Grid/sprite.gif');
	color:#25006e;
	font:12px/12px "segoe ui",arial,sans-serif;
}

.RadDataPager_ATGSkin .rdpNumPart a:hover,
.RadDataPager_ATGSkin .rdpNumPart a:hover span,
.RadDataPager_ATGSkin .rdpNumPart a.rdpCurrentPage,
.RadDataPager_ATGSkin .rdpNumPart a.rdpCurrentPage span
{
	background:no-repeat url(<%= WebResource("ATGFedExSkin.Grid.sprite.gif") %>);
}

.RadDataPager_ATGSkin .rdpNumPart a
{
	color:#25006e;
}

.RadDataPager_ATGSkin .rdpNumPart a:hover
{
	background-position:100% -1250px;
}

.RadDataPager_ATGSkin .rdpNumPart a:hover span
{
	background-position:0 -1150px;
}

.RadDataPager_ATGSkin .rdpNumPart a.rdpCurrentPage,
.RadDataPager_ATGSkin .rdpNumPart a.rdpCurrentPage:hover
{
	background-position:100% -1450px;
}

.RadDataPager_ATGSkin .rdpNumPart a.rdpCurrentPage span,
.RadDataPager_ATGSkin .rdpNumPart a.rdpCurrentPage:hover span
{
	background-position:0 -1350px;
}