/* RadEditor for ASP.NET AJAX Office 2007 Skin */

.RadEditor
{
    background-color: #e1d7f5;
}

/* reWrapper */
.reWrapper
{
    border: solid 1px #8068b0;
}

.ATGSkin .reContentCell
{
    border: solid 1px #6848a8;
}

/* common settings for .reModule, .reEditorModes and .reWrapper */
.reColorPicker,
.reInsertTable,
.reDropDownBody,
.reCustomLinks a:hover
{
	border: solid 1px #8068b0;
}

.reDropDownBody table
{
    background: transparent;
}

.ATGSkin .reModule,
.ATGSkin .reEditorModes,
.ATGSkin .reWrapper
{
	background-color: #e1d7f5;
}

/*NEW: Only in the Bottom zone - where the Statistics module is commonly set, remove uppper border, because it looks ugly*/
.ATGSkin .reBottomZone .reModule
{
    border-top: 0;
}


.ATGSkin .reModule
{
    border-top: solid 1px #7456b0;  
    color: #25006e;
}

.reCustomLinks a
{
    border: solid 1px #ffffff; /* should be the same as the background of the dropdown */
    color: black !important;
}

.reCustomLinks a:hover
{
    background-image: url(<%= WebResource("ATGFedExSkin.Editor.ToolBarSprites.gif") %>) !important;
    background-position: 0 -325px !important;
    background-repeat: repeat-x !important;
    border: solid 1px #ac96d9;
}
/* end of module */

.reToolbar li
{
    background-image: url(<%= WebResource("ATGFedExSkin.Editor.ToolBarSprites.gif") %>);
    background-position: 0 -26px;
    color: #000000;
}

.ATGSkin .reSpinBox a
{
    background-image: url(<%= WebResource("ATGFedExSkin.Editor.ToolBarSprites.gif") %>);
    -moz-user-select: none;
    outline: none;
}

/* separator */
.reToolbar.ATGSkin .reSeparator
{
    background-position: center -148px;
    background-image: url(<%= WebResource("ATGFedExSkin.Editor.ToolBarSprites.gif") %>);
}

/* common settings for left and right grip */
.reToolbar.ATGSkin .reGrip
{
	background-image: url(<%= WebResource("ATGFedExSkin.Editor.ToolBarSprites.gif") %>);
}

/* reTool */
.reTool span
{
    background-image: url(<%= WebResource("ATGFedExSkin.Common.CommandSpritesLight.png") %>);
}

/* IE6 does not support PNG alpha channel, so we use gifs for the command sprites instead */
* html .reTool span,
* html .reTool_text span,
* html .reTlbVertical .reTool_text span,
* html .reToolbar .reSplitButton.reTool_text span
{
    _background-image: url(<%= WebResource("ATGFedExSkin.Common.CommandSpritesLightIE6.gif") %>);
}

.reDialog .reTool,
.reModule .reTool
{
    background-image: url(<%= WebResource("ATGFedExSkin.Editor.ToolBarSprites.gif") %>);
    background-position: 0 -242px;
}

.reDialog .reTool:hover,
.reToolbar .reTool:hover,
.reModule .reTool:hover
{
    background-image: url(<%= WebResource("ATGFedExSkin.Editor.ToolBarSprites.gif") %>);
    background-position: 0 -52px;
}

.reToolbar .reTool.reTool_selected,
.reToolbar .reTool.reTool_selected:hover
{
    background-image: url(<%= WebResource("ATGFedExSkin.Editor.ToolBarSprites.gif") %>);
    background-position: 0 -124px;
    background-repeat: no-repeat;
}

/* .reTool_text */
.reToolbar .reTool_text span
{
    background-image: url(<%= WebResource("ATGFedExSkin.Common.CommandSpritesLight.png") %>);
}

.reToolbar .reTool_text:hover
{
    background-image: url(<%= WebResource("ATGFedExSkin.Editor.ToolBarSprites.gif") %>);
    background-repeat: repeat-x;
    background-position: 0 -100px;
    margin-left: 0;
    margin-right: 0;
    border-left: solid 1px #ac96d9;
    border-right: solid 1px #ac96d9;
}

.reToolbar .reTool_text.reTool_selected,
.reToolbar .reTool_text.reTool_selected:hover
{
    background-image: url(<%= WebResource("ATGFedExSkin.Editor.ToolBarSprites.gif") %>);
    background-repeat: repeat-x;
    background-position: 0 -174px;
    margin-left: 0;
    margin-right: 0;
    border-left: solid 1px #ac96d9;
    border-right: solid 1px #ac96d9;
}

/* these settings will not be included in the common CSS file of RadEditor */
.reToolbar .reTool_text.reTool_disabled,
.reToolbar .reTool_text.reTool_disabled:hover
{
    margin-left: 0;
    margin-right: 0;
    border: 0;
}
/* end of reTool_text */

.reTool.reSplitButton:hover
{
    background: url(<%= WebResource("ATGFedExSkin.Editor.ToolBarSprites.gif") %>) no-repeat 0 -76px;
}

/* add weight to the selector for IE6 so it is applied */
* html .reToolbar .reTool.reSplitButton:hover
{
    background: url(<%= WebResource("ATGFedExSkin.Editor.ToolBarSprites.gif") %>) no-repeat 0 -76px;
}

.ATGSkin .reTool .split_arrow
{
    background-image: url(<%= WebResource("ATGFedExSkin.Editor.ToolBarSprites.gif") %>);
    background-position: -28px -362px;
}

.ATGSkin .reSplitButton.reTool_text .split_arrow
{
    background-image: url(<%= WebResource("ATGFedExSkin.Editor.ToolBarSprites.gif") %>);
    background-position: -28px -362px;
}

/* add weight to the selector for IE6 so it is applied */
* html .ATGSkin .reToolbar .reTool_text .split_arrow
{
    background-image: url(<%= WebResource("ATGFedExSkin.Editor.ToolBarSprites.gif") %>);
    background-position: -28px -362px;
}

/* add weight to the selector for IE6 so it is applied */
* html .reToolbar .reTool_text:hover
{
    background: url(<%= WebResource("ATGFedExSkin.Editor.ToolBarSprites.gif") %>);
    background-position: 0 -100px;
}

.reDialog .reTool.reSplitButton,
.reModule .reTool.reSplitButton
{
    background-image: url(<%= WebResource("ATGFedExSkin.Editor.ToolBarSprites.gif") %>);
    background-position: 0 -218px;
}

.reDialog .reTool.reSplitButton:hover,
.reModule .reTool.reSplitButton:hover
{
    background-position: 0 -76px;
}

/* add weight to the selector for IE6 so it is applied */
* html .reToolbar .reTool.reSplitButton.reTool_disabled:hover
{
    background: none;
}
/* end of reSplitButton */

/* reDropdown */
.reDropdown:link,
.reDropdown:visited
{
    color: black !important;
}

.reDropdown,
.reTool_disabled.reDropdown:hover
{
    border: solid 1px #bcabde;
    background-color: #ffffff;
    background-image: url(<%= WebResource("ATGFedExSkin.Editor.ToolBarSprites.gif") %>) !important;
    background-position: right -360px !important;
}

.reDropdown:hover
{
    border: solid 1px #ac96d9;
    background-image: url(<%= WebResource("ATGFedExSkin.Editor.ToolbarVerticalSprites.gif") %>) !important;
    background-position: right 0 !important;
}

/* add weight to the selector for IE6 so it is applied */
* html .reTool_disabled.reDropdown
{
    background-image: url(<%= WebResource("ATGFedExSkin.Editor.ToolBarSprites.gif") %>);
    background-position: right -380px;
    background-repeat: no-repeat;
}
/* end of reDropdown */

/* vertical toolbar */
.RadEditor.ATGSkin .reTlbVertical li
{
    background-image: url(<%= WebResource("ATGFedExSkin.Editor.ToolbarVerticalSprites.gif") %>);
    background-repeat: repeat-y;
    background-position: -26px 0;
}

.RadEditor.ATGSkin .reTlbVertical .reToolbar.Default .reGrip
{
    background-image: url(<%= WebResource("ATGFedExSkin.Editor.ToolbarVerticalSprites.gif") %>);
}

.RadEditor.ATGSkin .reTlbVertical .reToolbar.ATGSkin .grip_first
{
    background-position: 0 0;
}

.RadEditor.ATGSkin .reTlbVertical .reToolbar.ATGSkin .grip_last
{
    background-position: 0 -4px;
}

.RadEditor.ATGSkin .reTlbVertical .reToolbar.ATGSkin .reSeparator
{
    background-image: url(<%= WebResource("ATGFedExSkin.Editor.ToolbarVerticalSprites.gif") %>);
    background-position: -99px -12px;
}

.reTlbVertical .reTool:hover,
.reTlbVertical .reTool_text.reSplitButton:hover,
.reTlbVertical .reTool_text:hover
{
    background-image: url(<%= WebResource("ATGFedExSkin.Editor.ToolbarVerticalSprites.gif") %>);
    background-position: -76px 0;
}

/* add weight to the selector for IE6 so it is applied */
* html .reTlbVertical .reTool_text:hover
{
	background-image: url(<%= WebResource("ATGFedExSkin.Editor.ToolbarVerticalSprites.gif") %>);
    background-repeat: no-repeat;
    background-position: -76px 0;
}

.reTlbVertical .reTool.reTool_selected,
.reTlbVertical .reTool_text.reTool_selected,
.reTlbVertical .reTool_text.reTool_selected:hover
{
    background-image: url(<%= WebResource("ATGFedExSkin.Editor.ToolbarVerticalSprites.gif") %>);
    background-position: -52px 0;
}

/* add weight to the selector for IE6 so it is applied */
* html .reTlbVertical .reSplitButton:hover
{
    background-image: url(<%= WebResource("ATGFedExSkin.Editor.ToolbarVerticalSprites.gif") %>);
    background-position: -76px 0;
    background-repeat: no-repeat;
}
/* end of vertical toolbar */

.reDropDownBody .reTlbVertical ul li a:hover
{
    background-image: url(<%= WebResource("ATGFedExSkin.Editor.ToolbarVerticalSprites.gif") %>);
    background-position: -602px 0;
}

/* InsertTable itself is a kind of tool strip, so it must be styled as a toolstrip */
.reInsertTable
{
    background-color: #ffffff;
}

.reDropDownBody .reTlbVertical .reToolbar
{
    background-image: url(<%= WebResource("ATGFedExSkin.Editor.ToolbarVerticalSprites.gif") %>);
    background-color: #ffffff;
    background-position: -125px 0;
}
/* end of context menu and toolstrip */

/* spinbox */
.ATGSkin table.reSpinBox
{
	border: solid 1px #bcabde;
	background: white;
}

.ATGSkin table.reSpinBox:hover
{
    border-color: #4f2f8f;
}

.ATGSkin .reSpinBoxIncrease
{
	background-position: 0 -198px;
}

.ATGSkin .reSpinBoxIncrease:hover
{
	background-position: 0 -208px;
}

.ATGSkin .reSpinBoxDecrease
{
	background-position: -11px -198px;
}

.ATGSkin .reSpinBoxDecrease:hover
{
	background-position: -11px -208px;
}
/* end of spinbox */

/* editor input elements */
.RadEditor input
{
	border: solid 1px #bcabde;
	background-color: white;
}

.RadEditor input:hover
{
    border: solid 1px #4f2f8f;
}
/* editor input elements */

/* editing modes */
.ATGSkin .reMode_selected
{
    background-image: url(<%= WebResource("ATGFedExSkin.Editor.ToolbarVerticalSprites.gif") %>);
    background-position: -948px 0;
}

.ATGSkin .reEditorModes a
{
    color: #25006e;
}

.ATGSkin .reEditorModes .reMode_design span,
.ATGSkin .reEditorModes .reMode_selected.reMode_design span
{
	background-position: -6px -5px;
}

.ATGSkin .reEditorModes .reMode_html span,
.ATGSkin .reEditorModes .reMode_selected.reMode_html span
{
	background-position: -6px -36px;
}

.ATGSkin .reEditorModes .reMode_preview span,
.ATGSkin .reEditorModes .reMode_selected.reMode_preview span
{
	background-position: -6px -69px;
}
/* end of editing modes */

/* DOM inspector */
.ATGSkin .reModule_domlink_selected,
.ATGSkin .reModule_domlink
{
    color: black;
}
/* end of DOM inspector */

.reDropDownBody .reItemOver
{
	background: #a77aff;
	color: #000000;
}
/* end of expanded dropdowns */

* html .reTool_selected.reTool
{
    border-left-width: 0 !important;
    border-right-width: 0 !important;
}

/* color picker */
.reColorPicker table div
{
	border: solid 1px #c4c4c4;
}

.reColorPicker table td.reItemOver div
{
	border-color: #000000;
}

.reColorPicker span
{
	border: solid 1px #c4c4c4;
}
/* end of color picker */

/* ajax spellchecker */
.reAjaxspell_button
{
    border: solid 1px #8068b0;
    background: #e1d7f5;
    color: #8068b0;
}

.ATGSkin .reAjaxSpellCheckSuggestions table
{
    border-width: 0;
    width: 100%;
}

.ATGSkin .reAjaxSpellCheckSeparator
{
    background-color: #969696;
}
/* ajax spellchecker */

/* custom links */
.reCustomLinks,
.reCustomLinks ul
{
	color: #000000;
}

.reCustomLinks a,
.reCustomLinks a:link,
.reCustomLinks a:visited
{
    background: none transparent;
    color: #000000 !important;
	cursor: default !important;
}
/* end of custom links */

/* insert table dropdown */
.reInsertTable table
{
    background: #ffffff;
}

.reInsertTable table td
{
    border: solid 1px #7456b0;
    background: white;
}

.reInsertTable .reTlbVertical ul
{
    background-color: #ffffff;
}

.reDropDownBody.reInsertTable div.reTlbVertical a.reTool_text,
.reDropDownBody.reInsertTable div.reTlbVertical a.reTool_text:link
.reDropDownBody.reInsertTable div.reTlbVertical a.reTool_text:visited
{
    color: black !important;
    background: transparent none;
    _background: none !important;
}

.reDropDownBody.reInsertTable div.reTlbVertical a.reTool_text:hover
{
    background: url(<%= WebResource("ATGFedExSkin.Editor.ToolbarVerticalSprites.gif") %>);
    background-position: -1403px 0;
}

.reInsertTable .reTlbVertical ul .reTool_text span
{
    background-image: url(<%= WebResource("ATGFedExSkin.Common.CommandSpritesLight.png") %>);
    background-position: -3575 center;
}

.reInsertTable .reToolbar li .reTool:hover
{
    background-image: url(<%= WebResource("ATGFedExSkin.Editor.ToolBarSprites.gif") %>);
    background-position: 0 -52px;
}
/* end of insert table dropdown */

/* modules selector */
.reModule_visible_icon,
.reModule_hidden_icon
{
	display: block;
	float: left;
	height: 18px;
	width: 18px;
	background-image: url(<%= WebResource("ATGFedExSkin.Common.CommonIcons.gif") %>);
	background-repeat: no-repeat;
}

.reModule_visible_icon
{
	background-position: -8px -199px;
}

.reModule_hidden_icon
{
	background-position: -8px -103px;
	
}
/* end of modules selector */

/* resize cell */
.reResizeCell div
{
    background-image: url(<%= WebResource("ATGFedExSkin.Editor.ToolBarSprites.gif") %>);
    background-position: center -301px;
}

/* reTool_disabled */
.reDialog .reTool_disabled,
.reDialog .reTool_disabled:hover,
.reToolbar .reTool_disabled,
.reToolbar .reTool_disabled:hover,
.reModule .reTool_disabled,
.reModule .reTool_disabled:hover
{
    filter: alpha(opacity=40);
    opacity: .4;
    -moz-opacity: .4;
    background-image: none;
}
/* reTool_disabled */

/* the rule below styles RadWindow's content cell, which is used in the floating and show on focus toolbar modes */
.RadWindow_ATGSkin.reToolbarWindow td.rwWindowContent
{
    background-color: #e1d7f5;
}