
/*========================================= Toolbar related CSS ========================*/

.RadFileExplorer_ATGSkin .RadToolBar .rtbText
{
	background-image: url(<%= WebResource("ATGFedExSkin.FileExplorer.FileExplorerToolbarSprites.png") %>);
	background-repeat: no-repeat;
}

/* IE6 does not support the alpha channel of png files, so we force it to use gif */
* html .RadFileExplorer_ATGSkin .RadToolBar .rtbText
{
	background-image: url(<%= WebResource("ATGFedExSkin.FileExplorer.FileExplorerToolbarSpritesIE6.gif") %>) !important;
}

.RadFileExplorer_ATGSkin, 
.RadFileExplorer_ATGSkin .rfeAddressBox,
.RadFileExplorer_ATGSkin .rfeFilterTxt
{
	border-color: #af9fcf;
}

.DialogSeparator
{
    border-left: solid 1px #e2dded;
    border-right: solid 1px #f7f5fa;
    background-color: #e5dff2;
}

div.selectedFileName
{
    border-top: solid 1px #bcabde;
}

/* Overwrites padding for better presentation and space saving */
.RadFileExplorer_ATGSkin .RadGrid .rgRow td, 
.RadFileExplorer_ATGSkin .RadGrid .rgAltRow td, 
.RadFileExplorer_ATGSkin .RadGrid .rgEditRow td, 
.RadFileExplorer_ATGSkin .RadGrid .rgFooter td 
{
padding-left: 8px;
padding-right: 8px;
}
