/*Telerik RadGrid Office2007 Skin*/

/*global*/

.RadGrid_ATGSkin
{
    border:1px solid #8068b0;
    background:#ffffff;
    color:#333333;
}

.RadGrid_ATGSkin,
.RadGrid_ATGSkin .rgMasterTable,
.RadGrid_ATGSkin .rgDetailTable,
.RadGrid_ATGSkin .rgGroupPanel table,
.RadGrid_ATGSkin .rgCommandRow table,
.RadGrid_ATGSkin .rgEditForm table,
.RadGrid_ATGSkin .rgPager table,
.GridToolTip_ATGSkin
{
    font:12px/16px "segoe ui",arial,sans-serif;
}

.RadGrid_ATGSkin .rgHeader:first-child,
.RadGrid_ATGSkin th.rgResizeCol:first-child,
.RadGrid_ATGSkin .rgFilterRow>td:first-child,
.RadGrid_ATGSkin .rgRow>td:first-child,
.RadGrid_ATGSkin .rgAltRow>td:first-child
{
	border-left-width:0;
	padding-left:8px;
}

.RadGrid_ATGSkin .rgAdd,
.RadGrid_ATGSkin .rgRefresh,
.RadGrid_ATGSkin .rgEdit,
.RadGrid_ATGSkin .rgDel,
.RadGrid_ATGSkin .rgFilter,
.RadGrid_ATGSkin .rgPagePrev,
.RadGrid_ATGSkin .rgPageNext,
.RadGrid_ATGSkin .rgPageFirst,
.RadGrid_ATGSkin .rgPageLast,
.RadGrid_ATGSkin .rgExpand,
.RadGrid_ATGSkin .rgCollapse,
.RadGrid_ATGSkin .rgSortAsc,
.RadGrid_ATGSkin .rgSortDesc,
.RadGrid_ATGSkin .rgUpdate,
.RadGrid_ATGSkin .rgCancel,
.RadGrid_ATGSkin .rgUngroup,
.RadGrid_ATGSkin .rgExpXLS,
.RadGrid_ATGSkin .rgExpDOC,
.RadGrid_ATGSkin .rgExpPDF,
.RadGrid_ATGSkin .rgExpCSV
{
	background-image:url(<%= System.Web.UI.WebResource("ATGFedExSkin.Grid.sprite.gif") %>) !important;
}

/*header*/

.RadGrid_ATGSkin .rgHeaderDiv
{
	background:#dfd5f2 0 -8050px repeat-x url(<%= WebResource("ATGFedExSkin.Grid.sprite.gif") %>) !important;
}
.rgTwoLines .rgHeaderDiv
{
	background-position:0 -7550px;
}

.RadGrid_ATGSkin .rgHeader,
.RadGrid_ATGSkin th.rgResizeCol
{
	border:solid #815dc9;
	border-width:0 0 1px 1px;
	background:0 -2300px repeat-x #d4c4f2 url(<%= WebResource("ATGFedExSkin.Grid.sprite.gif") %>) !important;
}

.RadGrid_ATGSkin th.rgSorted
{
	border-bottom-color:#7936ff;
	background-color:#945eff;
	background-position:0 -2600px;
}

.RadGrid_ATGSkin .rgHeader,
.RadGrid_ATGSkin .rgHeader a
{
    color:#25006e;
}

.RadGrid_ATGSkin th.rgSorted,
.RadGrid_ATGSkin th.rgSorted a
{
    color:#000000;
}

/*rows*/

.RadGrid_ATGSkin .rgRow td,
.RadGrid_ATGSkin .rgAltRow td,
.RadGrid_ATGSkin .rgEditRow td,
.RadGrid_ATGSkin .rgFooter td
{
	border-style:solid;
	border-width:0 0 1px 1px;
}

.RadGrid_ATGSkin .rgRow td,
.RadGrid_ATGSkin .rgAltRow td
{
	border-color:#d8d1e6;
}

.RadGrid_ATGSkin .rgRow .rgSorted,
.RadGrid_ATGSkin .rgAltRow .rgSorted
{
	background-color:#f2f2f2;
}

.RadGrid_ATGSkin .rgSelectedRow .rgSorted,
.RadGrid_ATGSkin .rgActiveRow .rgSorted,
.RadGrid_ATGSkin .rgHoveredRow .rgSorted,
.RadGrid_ATGSkin .rgEditRow .rgSorted
{
	background-color:transparent;
}

.RadGrid_ATGSkin .rgRow a,
.RadGrid_ATGSkin .rgAltRow a,
.RadGrid_ATGSkin .rgEditRow a,
.RadGrid_ATGSkin .rgFooter a,
.RadGrid_ATGSkin .rgEditForm a
{
	color:#25006e;
}

.RadGrid_ATGSkin .rgSelectedRow
{
    background-color:#ffcb60 !important; 
    background:#9661ff 0 -3900px repeat-x url(<%= WebResource("ATGFedExSkin.Grid.sprite.gif") %>) !important;
}
*+html .RadGrid_ATGSkin .rgSelectedRow .rgSorted{background-color:#9661ff}
* html .RadGrid_ATGSkin .rgSelectedRow .rgSorted{background-color:#9661ff}

.RadGrid_ATGSkin .rgActiveRow,
.RadGrid_ATGSkin .rgHoveredRow
{
    background:#f3edff;
}
*+html .RadGrid_ATGSkin .rgActiveRow .rgSorted,
*+html .RadGrid_ATGSkin .rgHoveredRow .rgSorted{background-color:#f3edff}
* html .RadGrid_ATGSkin .rgActiveRow .rgSorted,
* html .RadGrid_ATGSkin .rgHoveredRow .rgSorted{background-color:#f3edff}

.RadGrid_ATGSkin .rgEditRow
{
	background:#ffe5ad;
}
*+html .RadGrid_ATGSkin .rgEditRow .rgSorted{background-color:#c9adff}
* html .RadGrid_ATGSkin .rgEditRow .rgSorted{background-color:#c9adff}

.RadGrid_ATGSkin .rgSelectedRow td,
.RadGrid_ATGSkin .rgActiveRow td,
.RadGrid_ATGSkin .rgHoveredRow td,
.RadGrid_ATGSkin .rgEditRow td
{
	border-left-width:0;
	padding-left:8px;
}

.RadGrid_ATGSkin .rgSelectedRow td
{
	border-bottom-color:#7936ff;
}

.RadGrid_ATGSkin .rgActiveRow td,
.RadGrid_ATGSkin .rgHoveredRow td,
.RadGrid_ATGSkin .rgEditRow td
{
	border-bottom-color:#d8d1e6;
}

.RadGrid_ATGSkin .rgDrag
{
	background-image:url(<%= WebResource("ATGFedExSkin.Grid.rgDrag.gif") %>) !important;
}

/*footer*/

.RadGrid_ATGSkin .rgFooterDiv,
.RadGrid_ATGSkin .rgFooter
{
	background:#af9adb 0 -6500px repeat-x url(<%= WebResource("ATGFedExSkin.Grid.sprite.gif") %>) !important;
}

.RadGrid_ATGSkin .rgFooter td
{
	border-width:1px 0;
	border-color:#7456b0 #ffffff #ffffff;
	padding-left:8px;
}

/*status*/

.RadGrid_ATGSkin .rgPager .rgStatus
{
	border:1px solid;
	border-width:1px 1px 0 0;
	border-color:#815dc9 #b19cdb;
}

.RadGrid_ATGSkin .rgStatus div
{
	background-image:url(<%= WebResource("ATGFedExSkin.Common.loading_small.gif") %>) !important;
}

/*pager*/

.RadGrid_ATGSkin .rgPager
{
	background:#f2edfc 0 -7000px repeat-x url(<%= WebResource("ATGFedExSkin.Grid.sprite.gif") %>) !important;
	color:#25006e;
}

.RadGrid_ATGSkin td.rgPagerCell
{
	border-top:1px solid #815dc9;
	border-left:1px solid #ffffff;
}

.RadGrid_ATGSkin .rgInfoPart
{
	color:#603ea3;
}

.RadGrid_ATGSkin .rgPageFirst
{
	margin:0 3px 0 0;
	background-position:0 -550px;
}
.RadGrid_ATGSkin .rgPageFirst:hover
{
	background-position:0 -600px;
}
.RadGrid_ATGSkin .rgPagePrev
{
	margin:0 3px 0 0;
	background-position:0 -700px;
}
.RadGrid_ATGSkin .rgPagePrev:hover
{
	background-position:0 -750px;
}
.RadGrid_ATGSkin .rgPageNext
{
	margin:0 0 0 3px;
	background-position:0 -850px;
}
.RadGrid_ATGSkin .rgPageNext:hover
{
	background-position:0 -900px;
}
.RadGrid_ATGSkin .rgPageLast
{
	margin:0 0 0 3px;
	background-position:0 -1000px;
}
.RadGrid_ATGSkin .rgPageLast:hover
{
	background-position:0 -1050px;
}

.RadGrid_ATGSkin .rgPager .rgPagerButton
{
	border-color:#8d77ba;
	background:#efe8fc repeat-x 0 -1550px url(<%= WebResource("ATGFedExSkin.Grid.sprite.gif") %>) !important;
	color:#25006e;
	font:12px/12px "segoe ui",arial,sans-serif;
}

.RadGrid_ATGSkin .rgNumPart a:hover,
.RadGrid_ATGSkin .rgNumPart a:hover span,
.RadGrid_ATGSkin .rgNumPart a.rgCurrentPage,
.RadGrid_ATGSkin .rgNumPart a.rgCurrentPage span
{
	background:no-repeat url(<%= WebResource("ATGFedExSkin.Grid.sprite.gif") %>) !important;
}

.RadGrid_ATGSkin .rgNumPart a
{
	color:#25006e;
}

.RadGrid_ATGSkin .rgNumPart a:hover
{
	background-position:100% -1250px;
}

.RadGrid_ATGSkin .rgNumPart a:hover span
{
	background-position:0 -1150px;
}

.RadGrid_ATGSkin .rgNumPart a.rgCurrentPage,
.RadGrid_ATGSkin .rgNumPart a.rgCurrentPage:hover
{
	background-position:100% -1450px;
}

.RadGrid_ATGSkin .rgNumPart a.rgCurrentPage span,
.RadGrid_ATGSkin .rgNumPart a.rgCurrentPage:hover span
{
	background-position:0 -1350px;
}

/*sorting, reordering*/

.RadGrid_ATGSkin .rgHeader .rgSortAsc
{
	background-position:3px -147px;
	height:10px;
}

.RadGrid_ATGSkin .rgHeader .rgSortDesc
{
	background-position:3px -96px;
	height:10px;
}

.GridReorderTop_ATGSkin,
.GridReorderBottom_ATGSkin
{
	height:12px;
	background:0 0 no-repeat url(<%= WebResource("ATGFedExSkin.Grid.sprite.gif") %>) !important;
}

.GridReorderBottom_ATGSkin
{
	background-position:0 -50px;
}

/*filtering*/

.RadGrid_ATGSkin .rgFilterRow
{
	background:#dfd5f2;
}

.RadGrid_ATGSkin .rgFilterRow td
{
    border:solid #af9fcf;
    border-width:0 0 1px 1px;
}

.RadGrid_ATGSkin .rgFilter
{
	background-position:0 -300px;
}

.RadGrid_ATGSkin .rgFilter:hover
{
	background-position:0 -350px;
}

.RadGrid_ATGSkin .rgFilterActive,
.RadGrid_ATGSkin .rgFilterActive:hover
{
	background-position:0 -400px;
}

.RadGrid_ATGSkin .rgFilterBox
{
	border-color:#bcabde;
	font:12px "segoe ui",arial,sans-serif;
	color:#000000;
}

/*filter context menu*/

.RadMenu_ATGSkin .rgHCMClear,
.RadMenu_ATGSkin .rgHCMFilter
{
	border-color:#b8a7db #927dbd #b5a3d9;
	background:#efe8fc center -23px repeat-x url(<%= WebResource("ATGFedExSkin.FormDecorator.ButtonSprites.gif") %>) !important;
	color:#25006e;
	font-family:"segoe ui",arial,sans-serif;
}

.RadMenu_ATGSkin .rgHCMClear:hover,
.RadMenu_ATGSkin .rgHCMFilter:hover
{
	border-color:#ac96d9 #8b73ba #ab9dc7;
	background-position:center -67px;
	background-color:#b18aff;
	color:#000000;
}

/*context menu*/

.GridContextMenu_ATGSkin .rmLeftImage
{
	background-image:url(<%= WebResource("ATGFedExSkin.Common.contextMenu.gif") %>) !important;
}

.GridContextMenu_ATGSkin .rgHCMSortAsc .rmLeftImage
{
	background-position:0 0;
}

.GridContextMenu_ATGSkin .rgHCMSortDesc .rmLeftImage
{
	background-position:0 -40px;
}

.GridContextMenu_ATGSkin .rgHCMUnsort .rmLeftImage
{
	background-position:0 -80px;
}

.GridContextMenu_ATGSkin .rgHCMGroup .rmLeftImage
{
	background-position:0 -120px;
}

.GridContextMenu_ATGSkin .rgHCMUngroup .rmLeftImage
{
	background-position:0 -160px;
}

.GridContextMenu_ATGSkin .rgHCMCols .rmLeftImage
{
	background-position:0 -200px;
}

.GridContextMenu_ATGSkin .rgHCMFilter .rmLeftImage
{
	background-position:0 -240px;
}

.GridContextMenu_ATGSkin .rgHCMUnfilter .rmLeftImage
{
	background-position:0 -280px;
}

/*grouping*/

.RadGrid_ATGSkin .rgGroupPanel
{
	border:0;
	border-bottom:1px solid #8068b0;
	background:#f2edfc;
}

.RadGrid_ATGSkin .rgGroupPanel td
{
	border:0;
	padding:3px 4px;
	vertical-align:middle;
}

.RadGrid_ATGSkin .rgGroupPanel td td
{
	padding:0;
}

.RadGrid_ATGSkin .rgGroupPanel .rgSortAsc
{
	background-position:4px -144px;
}

.RadGrid_ATGSkin .rgGroupPanel .rgSortDesc
{
	background-position:4px -94px;
}

.RadGrid_ATGSkin .rgUngroup
{
	background-position:0 -7500px;
}

.RadGrid_ATGSkin .rgGroupItem
{
	border:1px solid #754bc9;
	background:#ebe6f5 0 -1900px repeat-x url(<%= WebResource("ATGFedExSkin.Grid.sprite.gif") %>) !important;
	color:#25006e;
}

.RadGrid_ATGSkin .rgGroupHeader
{
    background:#e2d7f7;
    font-size:1.1em;
    line-height:21px;
	color:#7456b0;
}

.RadGrid_ATGSkin .rgGroupHeader td
{
	border-top:1px solid #fcfcfc;
	border-bottom:1px solid #856fb2;
    padding-left:8px;
}

.RadGrid_ATGSkin td.rgGroupCol,
.RadGrid_ATGSkin td.rgExpandCol
{
	background:#e2d7f7 none;
	border-color:#e2d7f7;
}

.RadGrid_ATGSkin .rgGroupHeader .rgExpand
{
	background-position:5px -495px;
}

.RadGrid_ATGSkin .rgGroupHeader .rgCollapse
{
	background-position:3px -93px;
}

/*editing*/

.RadGrid_ATGSkin .rgEditForm
{
	border-bottom:1px solid #d8d1e6;
}

.RadGrid_ATGSkin .rgUpdate
{
	background-position:0 -1800px;
}

.RadGrid_ATGSkin .rgCancel
{
	background-position:0 -1850px;
}

/*hierarchy*/

.RadGrid_ATGSkin .rgDetailTable
{
	border-color:#8068b0;
}

.RadGrid_ATGSkin .rgExpand
{
	background-position:5px -496px;
}

.RadGrid_ATGSkin .rgCollapse
{
	background-position:3px -94px;
}

/*command row*/

.RadGrid_ATGSkin .rgCommandRow
{
	background:#d4c4f2 0 -2099px repeat-x url(<%= WebResource("ATGFedExSkin.Grid.sprite.gif") %>) !important;
	color:#333333;
}

.RadGrid_ATGSkin .rgCommandCell
{
	border:0;
	padding:0;
}

.RadGrid_ATGSkin thead .rgCommandCell
{
	border-bottom:1px solid #8068b0;
}

.RadGrid_ATGSkin .rgCommandTable td
{
	border:0;
	padding:2px 7px;
}

.RadGrid_ATGSkin .rgCommandTable
{
	border:1px solid #af9fcf;
}

.RadGrid_ATGSkin .rgCommandRow a
{
	color:#25006e;
	text-decoration:none;
}

.RadGrid_ATGSkin .rgAdd
{
	margin-right:3px;
    background :#c4d9f1 0 -1650px no-repeat url(<%= WebResource("ATGFedExSkin.Grid.sprite.gif") %>) !important;
	/*background-position:0 -1650px;*/
}

.RadGrid_ATGSkin .rgRefresh
{
	margin-right:3px;
	background-position:0 -1600px;
}

.RadGrid_ATGSkin .rgEdit
{
    /*background :#c4d9f1 0 -1700px no-repeat url(<%= WebResource("ATGFedExSkin.Grid.sprite.gif") %>) !important;*/
	background-position:0 -1700px;
}

.RadGrid_ATGSkin .rgDel
{
	background-position:0 -1750px;
}

.RadGrid_ATGSkin .rgExpXLS,
.RadGrid_ATGSkin .rgExpDOC,
.RadGrid_ATGSkin .rgExpPDF,
.RadGrid_ATGSkin .rgExpCSV
{
	background-image:url(<%= WebResource("ATGFedExSkin.Grid.export.gif") %>) !important;
}

.RadGrid_ATGSkin .rgExpXLS
{
    background :#c4d9f1 0 0px no-repeat url(<%= WebResource("ATGFedExSkin.Grid.export.gif") %>) !important;
	/*background-position:0 0;*/
}
.RadGrid_ATGSkin .rgExpDOC
{
    background :#c4d9f1 0 -50px no-repeat url(<%= WebResource("ATGFedExSkin.Grid.export.gif") %>) !important;
	/*background-position:0 -50px;*/
}
.RadGrid_ATGSkin .rgExpPDF
{
    background :#c4d9f1 0 -100px no-repeat url(<%= WebResource("ATGFedExSkin.Grid.export.gif") %>) !important;
	/*background-position:0 -100px;*/
}
.RadGrid_ATGSkin .rgExpCSV
{
    background :#c4d9f1 0 -150px no-repeat url(<%= WebResource("ATGFedExSkin.Grid.export.gif") %>) !important;
	/*background-position:0 -150px;*/
}

/*multirow select*/

.GridRowSelector_ATGSkin
{
	background:#25006e;
}

/*row drag n drop*/

.GridItemDropIndicator_ATGSkin
{
    border-top:1px dashed #25006e;
}

/*tooltip*/

.GridToolTip_ATGSkin
{
	border:1px solid #7e61b8;
	padding:3px;
	background:#e0d8f2;
	color:#333333;
}

/*rtl*/

.RadGridRTL_ATGSkin .rgHeader:first-child,
.RadGridRTL_ATGSkin th.rgResizeCol:first-child,
.RadGridRTL_ATGSkin .rgFilterRow>td:first-child,
.RadGridRTL_ATGSkin .rgRow>td:first-child,
.RadGridRTL_ATGSkin .rgAltRow>td:first-child
{
	border-left-width:1px;
	padding-left:7px;
}

.RadGridRTL_ATGSkin .rgPageFirst
{
	background-position:0 -1000px;
}
.RadGridRTL_ATGSkin .rgPageFirst:hover
{
	background-position:0 -1050px;
}
.RadGridRTL_ATGSkin .rgPagePrev
{
	margin:0 0 0 3px;
	background-position:0 -850px;
}
.RadGridRTL_ATGSkin .rgPagePrev:hover
{
	background-position:0 -900px;
}
.RadGridRTL_ATGSkin .rgPageNext
{
	margin:0 3px 0 0;
	background-position:0 -700px;
}
.RadGridRTL_ATGSkin .rgPageNext:hover
{
	background-position:0 -750px;
}
.RadGridRTL_ATGSkin .rgPageLast
{
	background-position:0 -550px;
}
.RadGridRTL_ATGSkin .rgPageLast:hover
{
	background-position:0 -600px;
}

.RadGridRTL_ATGSkin .rgGroupHeader .rgExpand
{
	background-position:-20px -495px;
}

.RadGridRTL_ATGSkin .rgExpand
{
	background-position:-20px -496px;
}