/* RadImageEditor Office2007 Skin */

.RadImageEditor_ATGSkin,
.RadDock_ATGSkin.rieDialogs .riePrintContent
{
	border-color: #8068b0;
	background-color: #e1d7f5;
}

.RadImageEditor_ATGSkin .rieStatusBarInfo .rieLabel
{
	color: #8068b0;
}

.RadImageEditor_ATGSkin .rieStatusBarInfo span
{
	color: #412b6e;
}

.RadDock_ATGSkin.rieDialogs .rdContent
{
	color: #000000;
}

.RadImageEditor_ATGSkin .rieContentArea
{
	border-color: #8068b0;
}

/* ImageEditor Dialogs using RadDock as Wrapper */
.RadDock_ATGSkin.rieDialogs .rbPrimaryIcon,
.RadImageEditor_ATGSkin .rieResizeHandle,
.RadImageEditor_ATGSkin .rieBackgroundImg .rtbIcon /* Custom skins */
{
	background-image: url(<%= WebResource("ATGFedExSkin.ImageEditor.ImageEditorTools.png") %>);
}

*html .RadDock_ATGSkin.rieDialogs .rbPrimaryIcon,
*html .RadImageEditor_ATGSkin .rieResizeHandle,
*html .RadImageEditor_ATGSkin .rieBackgroundImg .rtbIcon /* Custom skins */
{
	background-image: url(<%= WebResource("ATGFedExSkin.ImageEditor.ImageEditorToolsIE6.gif") %>);
}

.RadDock_ATGSkin.rieDialogs .rieThumbsBottomRow td,
.RadDock_ATGSkin.rieDialogs .rieDialogsThumbsLeft,
.RadDock_ATGSkin.rieDialogs .riePrintContent img
{
	border-color: #4f2f8f;
}


.RadDock_ATGSkin.rieDialogs .rieThumbsLink
{
	border-color: #b29edb;
}

.RadDock_ATGSkin.rieDialogs .rieActiveThumbsLink,
.RadDock_ATGSkin.rieDialogs .rieThumbsLink:hover,
.RadImageEditor_ATGSkin .rieHighlightVertical, 
.RadImageEditor_ATGSkin .rieHighlightHorizontal
{
	border-color: #4f2f8f;
	background-color: #f0e8ff;
}










