/*RadNotification Office2007 Skin*/

.RadNotification_ATGSkin
{
	border: 1px solid #af9fcf;
	background-color: #d4c4f2;
}

.RadNotification_ATGSkin.rnShadows
{
	box-shadow: 2px 2px 3px #e0d8f2;
	-webkit-box-shadow: 2px 2px 3px #e0d8f2;
}

.RadNotification_ATGSkin .rnTitleBar,
.RadNotification_ATGSkin .rnCommands a
{
	background-image: url(<%= WebResource("ATGFedExSkin.Notification.NotificationSprite.png") %>);
}

.RadNotification_ATGSkin .rnTitleBar
{
	border-top: 1px solid #ffffff;
}

.RadNotification_ATGSkin .rnTitleBarTitle
{
	color: #25006e;
}

.RadNotification_ATGSkin .rnContentWrapper
{
	border-top: 1px solid transparent;
}






