.RadPanelBar_ATGSkin
{
	background: #ffffff;
}

.RadPanelBar_ATGSkin .rpRootGroup
{
	border-color: #8068b0;
}

.RadPanelBar_ATGSkin a.rpLink,
.RadPanelBar_ATGSkin div.rpHeaderTemplate,
.RadPanelBar_ATGSkin .rpTemplate
{
	color: #25006e;
	font: normal 12px/24px "Segoe UI", Arial, sans-serif;
}

.RadPanelBar_ATGSkin div.rpHeaderTemplate,
.RadPanelBar_ATGSkin a.rpLink
{
	background-color: #c1a6f5;
	background-image: url(<%= WebResource("ATGFedExSkin.PanelBar.RootItemBg.png") %>);
	border-color: #d4c4f2;
}

.RadPanelBar_ATGSkin .rpOut
{
	border-color: #d4c4f2;
}

.RadPanelBar_ATGSkin a.rpLink:hover
{
	color: #000000;
	background-color: #945eff;
	border-color: #7936ff;
}

.RadPanelBar_ATGSkin a.rpFocused,
.RadPanelBar_ATGSkin a.rpExpanded,
.RadPanelBar_ATGSkin a.rpSelected,
.RadPanelBar_ATGSkin div.rpFocused,
.RadPanelBar_ATGSkin div.rpExpanded,
.RadPanelBar_ATGSkin div.rpSelected,
.RadPanelBar_ATGSkin a.rpSelected:hover
{
	background-color: #d4c4f2;
	border-color: #d4c4f2;
}

/* <disabled items> */
.RadPanelBar_ATGSkin a.rpDisabled,
.RadPanelBar_ATGSkin div.rpDisabled,
.RadPanelBar_ATGSkin a.rpDisabled:hover
{
	color: #bababa;
}

.RadPanelBar_ATGSkin a.rpDisabled:hover .rpOut
{
	border-color: #efe8fc;
}
/* </disabled items> */

/* <subitems> */
.RadPanelBar_ATGSkin .rpGroup
{
	background-color: #ffffff;
}

.RadPanelBar_ATGSkin .rpGroup a.rpLink,
.RadPanelBar_ATGSkin .rpGroup div.rpHeaderTemplate,
.RadPanelBar_ATGSkin .rpGroup .rpTemplate
{
	color: #000000;
	background-color: transparent;
	background-image: none;
}

.RadPanelBar_ATGSkin .rpGroup a.rpLink:hover
{
	color: #000000;
}

.RadPanelBar_ATGSkin .rpGroup a.rpLink,
.RadPanelBar_ATGSkin .rpGroup .rpOut
{
	background-color: transparent;
	background-image: url(<%= WebResource("ATGFedExSkin.PanelBar.SubItemStates.png") %>);
	background-repeat: no-repeat;
}

.RadPanelBar_ATGSkin .rpGroup a.rpLink:hover
{
    background-color: transparent;
}

/* <subitems (disabled)> */
.RadPanelBar_ATGSkin ul.rpGroup .rpDisabled,
.RadPanelBar_ATGSkin .rpGroup a.rpDisabled:hover,
.RadPanelBar_ATGSkin .rpGroup a.rpDisabled:hover .rpOut
{
	background-image: none;
}

.RadPanelBar_ATGSkin ul.rpGroup .rpDisabled,
.RadPanelBar_ATGSkin .rpGroup a.rpDisabled:hover
{
	color: #bababa;
	text-decoration: none;
	background-color: #ffffff;
}
/* </subitems (disabled)> */

/* <subitems> */

/* <background positioning> */
.RadPanelBar_ATGSkin a.rpFocused,
.RadPanelBar_ATGSkin div.rpFocused,
.RadPanelBar_ATGSkin a.rpLink:hover,
.RadPanelBar_ATGSkin a.rpExpanded:hover
{
	background-position: 0 -200px;
}

.RadPanelBar_ATGSkin a.rpLink,
.RadPanelBar_ATGSkin div.rpHeaderTemplate,
.RadPanelBar_ATGSkin a.rpExpanded,
.RadPanelBar_ATGSkin div.rpExpanded,
.RadPanelBar_ATGSkin .rpItem a.rpLinkExpandHovered
{
	background-position: 0 0;
}

.RadPanelBar_ATGSkin a.rpSelected,
.RadPanelBar_ATGSkin div.rpSelected,
.RadPanelBar_ATGSkin a.rpSelected:hover
{
	background-position: 0 -400px;
}

.RadPanelBar_ATGSkin .rpFirst a.rpLink,
.RadPanelBar_ATGSkin .rpFirst div.rpHeaderTemplate,
.RadPanelBar_ATGSkin li.rpFirst .rpExpanded
{
	background-position: 0 -1px;
}

.RadPanelBar_ATGSkin li.rpFirst .rpFocused,
.RadPanelBar_ATGSkin .rpFirst a.rpLink:hover
{
	background-position: 0 -201px;
}

.RadPanelBar_ATGSkin li.rpFirst .rpSelected,
.RadPanelBar_ATGSkin .rpFirst a.rpSelected:hover
{
	background-position: 0 -401px;
}

/* <root items (disabled)> */
.RadPanelBar_ATGSkin a.rpDisabled:hover
{
	cursor: default;
}

.RadPanelBar_ATGSkin a.rpDisabled,
.RadPanelBar_ATGSkin div.rpDisabled,
.RadPanelBar_ATGSkin a.rpDisabled:hover,
.RadPanelBar_ATGSkin a.rpDisabled:hover .rpOut
{
	background-position: 0 0;
}
/* </root items (disabled)> */

/*      <expand arrows> */
/* <expand arrows> */
.RadPanelBar_ATGSkin .rpExpandable span.rpExpandHandle,
.RadPanelBar_ATGSkin .rpExpanded span.rpExpandHandle
{
	background-color: transparent;
	background-image: url(<%= WebResource("ATGFedExSkin.PanelBar.Expandable.png") %>);
	background-repeat: no-repeat;
}

.RadPanelBar_ATGSkin_rtl .rpGroup .rpText
{
	padding: 0 10px;
}

.RadPanelBar_ATGSkin .rpExpandable span.rpExpandHandle,
.RadPanelBar_ATGSkin a.rpExpandable:hover .rpNavigation .rpExpandHandle { background-position: 0 -5px; }
.RadPanelBar_ATGSkin a.rpExpandable:hover .rpExpandHandle,
.RadPanelBar_ATGSkin a.rpExpandable:hover .rpNavigation .rpExpandHandleHovered { background-position: 100% -5px; }
.RadPanelBar_ATGSkin .rpExpanded span.rpExpandHandle,
.RadPanelBar_ATGSkin a.rpExpanded:hover .rpNavigation .rpExpandHandle { background-position: 0 -181px; }
.RadPanelBar_ATGSkin a.rpExpanded:hover .rpExpandHandle,
.RadPanelBar_ATGSkin a.rpExpanded:hover .rpNavigation .rpExpandHandleHovered { background-position: 100% -181px; }

.RadPanelBar_ATGSkin div.rpExpandable .rpExpandHandleHovered { background-position: 0 -5px; }
.RadPanelBar_ATGSkin div.rpExpanded .rpExpandHandleHovered { background-position: 0 -181px; }

/*      </expand arrows> */

.RadPanelBar_ATGSkin .rpGroup a.rpLink,
.RadPanelBar_ATGSkin .rpGroup div.rpHeaderTemplate,
.RadPanelBar_ATGSkin .rpGroup a.rpLink .rpOut { background-position: 0 200px; }

.RadPanelBar_ATGSkin .rpGroup a.rpLink:hover,
.RadPanelBar_ATGSkin ul.rpGroup .rpFocused { background-position: 100% -22px; }
.RadPanelBar_ATGSkin .rpGroup a.rpLink:hover .rpOut,
.RadPanelBar_ATGSkin .rpGroup a.rpFocused .rpOut { background-position: 0 0; }

/*      <subitems (selected)> */
.RadPanelBar_ATGSkin ul.rpGroup .rpSelected,
.RadPanelBar_ATGSkin .rpGroup a.rpSelected:hover { background-position: 100% -222px; background-color: transparent; }
.RadPanelBar_ATGSkin .rpGroup a.rpSelected .rpOut,
.RadPanelBar_ATGSkin .rpGroup a.rpSelected:hover .rpOut { background-position: 0 -200px; }
/*      </subitems (selected)> */

/*      <subitems (expand arrows)> */
.RadPanelBar_ATGSkin ul.rpGroup .rpExpandable .rpExpandHandle,
.RadPanelBar_ATGSkin .rpGroup a.rpExpandable:hover .rpNavigation .rpExpandHandle { background-position: 0 -343px; }
.RadPanelBar_ATGSkin .rpGroup a.rpExpandable:hover .rpExpandHandle,
.RadPanelBar_ATGSkin .rpGroup a.rpExpandable:hover .rpNavigation .rpExpandHandleHovered { background-position: 100% -343px; }
.RadPanelBar_ATGSkin ul.rpGroup .rpExpanded .rpExpandHandle,
.RadPanelBar_ATGSkin .rpGroup a.rpExpanded:hover .rpNavigation .rpExpandHandle { background-position: 0 -482px; }
.RadPanelBar_ATGSkin .rpGroup a.rpExpanded:hover .rpExpandHandle,
.RadPanelBar_ATGSkin .rpGroup a.rpExpanded:hover .rpNavigation .rpExpandHandleHovered { background-position: 100% -482px; }

.RadPanelBar_ATGSkin .rpGroup div.rpExpandable .rpExpandHandleHovered { background-position: 0 -343px; }
.RadPanelBar_ATGSkin .rpGroup div.rpExpanded .rpExpandHandleHovered { background-position: 0 -482px; }
/*      </subitems (expand arrows)> */
/* </background positioning> */
