.RadRibbonBar_ATGSkin
{
	font: 11px "Segoe UI", Arial, sans-serif;
}

.RadRibbonBar_ATGSkin .rrbContentWrapIn,
.RadRibbonBar_ATGSkin .rrbButtonArea,
.RadRibbonBar_ATGSkin .rrbGroupTitle,
.RadRibbonBar_ATGSkin .rrbButtonGroupIn,
.RadRibbonBar_ATGSkin .rrbCollapsedGroup .rrbButtonIn,
.RadRibbonBar_ATGSkin a.rrbButtonHovered .rrbButtonIn,
.RadRibbonBar_ATGSkin a.rrbButtonOut:hover .rrbButtonIn,
.RadRibbonBar_ATGSkin .rrbButtonOut .rrbButtonTextHover,
.RadRibbonBar_ATGSkin .rrbButtonStrip .rrbButtonIn,
.RadRibbonBar_ATGSkin div.rrbButtonStrip a.rrbDisabled .rrbButtonIn,
.RadRibbonBar_ATGSkin .rrbButtonClicked .rrbButtonIn,
.RadRibbonBar_ATGSkin .rrbButtonClicked .rrbButtonTextHover,
.RadRibbonBar_ATGSkin .rrbToggled .rrbButtonIn,
.RadRibbonBar_ATGSkin .rrbToggled .rrbButtonTextHover,
.RadRibbonBar_ATGSkin .rrbExpanded .rrbButtonIn,
.RadRibbonBar_ATGSkin .rrbExpanded .rrbButtonTextHover
{
	background-image: url(<%= WebResource("ATGFedExSkin.RibbonBar.rrbGradients.png") %>);
}

.RadRibbonBar_ATGSkin .rrbButtonArrow,
.RadRibbonBar_ATGSkin .rrbResizeHandle,
.RadRibbonBar_ATGSkin .rrbGroupLauncher
{
	background-image: url(<%= WebResource("ATGFedExSkin.RibbonBar.rrbArrowSprite.png") %>);
}

.RadRibbonBar_ATGSkin div.rrbGroupTitle
{
	background-image: none;
}

.RadRibbonBar_ATGSkin div.rrbButtonGroupIn
{
	background-position: 0 0;
}

.RadRibbonBar_ATGSkin a.rrbCollapsedGroup span.rrbButtonMid .rrbButtonIn
{
	background-position: 0 -1px;
}

.RadRibbonBar_ATGSkin span.rrbDecoration span.rrbButtonMid .rrbButtonIn
{
	background-image: none;
}

.RadRibbonBar_ATGSkin .rrbContentWrapOut,
.RadRibbonBar_ATGSkin .rrbContentWrapMid,
.RadRibbonBar_ATGSkin .rrbContentWrapIn
{
	background-color: #d4bfff;
	border-color: #a98de3;
}

.RadRibbonBar_ATGSkin .rrbContentWrapIn,
.RadRibbonBar_ATGSkin .rrbButtonArea
{
	background-color: #d4c7ed;
}

.RadRibbonBar_ATGSkin .rrbButtonOut,
.RadRibbonBar_ATGSkin .rrbButtonMid,
.RadRibbonBar_ATGSkin .rrbButtonIn
{
	border-color: transparent;
}

.RadRibbonBar_ATGSkin .rrbDecoration,
.RadRibbonBar_ATGSkin .rrbDecoration .rrbButtonMid,
.RadRibbonBar_ATGSkin .rrbButtonArea .rrbCollapsedGroup,
.RadRibbonBar_ATGSkin .rrbCollapsedGroup .rrbButtonMid
{
	background-color: #d4c7ed;
	border-color: #a98de3;
}

.RadRibbonBar_ATGSkin .rrbMenuGroupMid,
.RadRibbonBar_ATGSkin .rrbMenuGroupIn
{
	background-color: #f5f0ff;
	border-color: #a98de3;
}

.RadRibbonBar_ATGSkin .rrbButtonGroup,
.RadRibbonBar_ATGSkin .rrbButtonGroupIn
{
	background-color: #d4c7ed;
	border-color: #a98de3;
}

.RadRibbonBar_ATGSkin a.rrbButtonStripPart,
.RadRibbonBar_ATGSkin a.rrbButtonStripPart .rrbButtonMid,
.RadRibbonBar_ATGSkin div.rrbButtonStrip a.rrbDisabled,
.RadRibbonBar_ATGSkin div.rrbButtonStrip a.rrbDisabled .rrbButtonMid
{
	background-color: #cec0eb;
	border-color: #b099de;
}

.RadRibbonBar_ATGSkin a.rrbButtonHovered,
.RadRibbonBar_ATGSkin a.rrbButtonOut:hover,
.RadRibbonBar_ATGSkin a.rrbButtonHovered .rrbButtonMid,
.RadRibbonBar_ATGSkin a.rrbButtonOut:hover .rrbButtonMid,
.RadRibbonBar_ATGSkin a.rrbButtonHovered,
.RadRibbonBar_ATGSkin a.rrbButtonStripPart:hover,
.RadRibbonBar_ATGSkin a.rrbButtonHovered .rrbButtonMid,
.RadRibbonBar_ATGSkin a.rrbButtonStripPart:hover .rrbButtonMid
{
	background-color: #9c6bff;
	border-color: #ab9dc7;
}

.RadRibbonBar_ATGSkin .rrbButtonArea a.rrbCollapsedGroup:hover,
.RadRibbonBar_ATGSkin a.rrbCollapsedGroup:hover .rrbButtonMid
{
	background-color: #e2daf2;
	border-color: #ffffff;
}

.RadRibbonBar_ATGSkin a.rrbCollapsedGroup:hover .rrbDecoration,
.RadRibbonBar_ATGSkin a.rrbCollapsedGroup:hover .rrbDecoration .rrbButtonMid
{
	background-color: #f2edfa;
	border-color: #9886bd;
}

.RadRibbonBar_ATGSkin .rrbButtonClicked,
.RadRibbonBar_ATGSkin .rrbButtonClicked .rrbButtonMid,
.RadRibbonBar_ATGSkin div.rrbButtonGroup .rrbToggled,
.RadRibbonBar_ATGSkin div.rrbButtonGroup .rrbToggled .rrbButtonMid,
.RadRibbonBar_ATGSkin a.rrbExpanded,
.RadRibbonBar_ATGSkin a.rrbExpanded .rrbButtonMid,
.RadRibbonBar_ATGSkin a.rrbButtonClicked:hover,
.RadRibbonBar_ATGSkin a.rrbButtonClicked:hover .rrbButtonMid,
.RadRibbonBar_ATGSkin a.rrbButtonClicked:hover .rrbButtonOut
{
	background-color: #6417ff;
	border-color: #9f8dc2;
}

.RadRibbonBar_ATGSkin .rrbButton:hover .rrbButtonIn,
.RadRibbonBar_ATGSkin .rrbMediumButton:hover .rrbButtonIn,
.RadRibbonBar_ATGSkin .rrbButtonClicked .rrbButtonIn,
.RadRibbonBar_ATGSkin .rrbToggled .rrbButtonIn,
.RadRibbonBar_ATGSkin .rrbExpanded .rrbButtonIn,
.RadRibbonBar_ATGSkin .rrbButtonStripPart .rrbButtonIn
{
	margin-left: 0;
	margin-right: 0;
	padding-left: 1px;
	padding-right: 1px;
}

.RadRibbonBar_ATGSkin .rrbLargeButton .rrbButtonIn,
.RadRibbonBar_ATGSkin .rrbCollapsedGroup .rrbButtonIn
{
	padding-left: 0;
	padding-right: 0;
}

.RadRibbonBar_ATGSkin .rrbButtonArea a.rrbButtonClicked.rrbCollapsedGroup,
.RadRibbonBar_ATGSkin .rrbButtonArea a.rrbButtonClicked.rrbCollapsedGroup .rrbButtonMid
{
	background-color: #9175c7;
	border-color: #9886bd;
}

.RadRibbonBar_ATGSkin a.rrbButtonClicked.rrbCollapsedGroup .rrbDecoration,
.RadRibbonBar_ATGSkin a.rrbButtonClicked.rrbCollapsedGroup .rrbDecoration .rrbButtonMid
{
	background-color: #d4c4f2;
	border-color: #9886bd;
}

.RadRibbonBar_ATGSkin a.rrbButtonOut:hover .rrbButtonText
{
	border-color: #ab9dc7;
}

.RadRibbonBar_ATGSkin .rrbButtonTextHover
{
	background-color: #9c6bff;
}

.RadRibbonBar_ATGSkin a.rrbButtonClicked:hover .rrbButtonText
{
	border-color: #9f8dc2;
}

.RadRibbonBar_ATGSkin .rrbButtonClicked .rrbButtonTextHover
{
	background-color: #6417ff;
}

.RadRibbonBar_ATGSkin .rrbButtonGroupHover .rrbButtonGroupIn
{
	background-color: #c5b8de;
}

.RadRibbonBar_ATGSkin .rrbGroupTitle
{
	color: #3d158c;
	background-color: #d0c0f0;
}

.RadRibbonBar_ATGSkin .rrbButtonText,
.RadRibbonBar_ATGSkin .rrbButtonStripPart,
.RadRibbonBar_ATGSkin .rrbLargeButton .rrbButtonArrow,
.RadRibbonBar_ATGSkin .rrbCollapsedGroup .rrbButtonArrow
{
	color: #3d158c;
}

.RadRibbonBar_ATGSkin a.rrbDisabled .rrbButtonText,
.RadRibbonBar_ATGSkin a.rrbDisabled:hover .rrbButtonText
{
	color: #999999;
}

.RadRibbonBar_ATGSkin .rrbMenuGroupMid,
.RadRibbonBar_ATGSkin .rrbDetachedContainer .rrbContentWrapOut
{
	box-shadow: 3px 2px 3px #878787;
	-moz-box-shadow: 3px 2px 3px #878787;
	-webkit-box-shadow: 3px 2px 3px #878787;
}

.RadRibbonBar_ATGSkin .rrbDetachedContainer .rrbGroupTitle
{
	bottom: 0;
}

.RadRibbonBar_ATGSkin div.rrbResizeHandle
{
	background-position: -19px -7px;
}

.RadRibbonBar_ATGSkin a.rrbGroupLauncher
{
	width: 11px;
	height: 11px;
	margin-top: 2px;
	background-position: -17px -21px;
}

.RadRibbonBar_ATGSkin a.rrbGroupLauncher:hover
{
	background-position: -17px -37px;
}


/* RadTabStrip styles */
.RadRibbonBar_ATGSkin .rrbTabStrip .rtsUL,
.RadRibbonBar_ATGSkin .rrbTabStrip.RadTabStripBottom_ATGSkin .rtsUL
{
	border-color: #a98de3;
}

.RadRibbonBar_ATGSkin .rrbTabStrip .rtsUL
{
	border-top: 0;
}

.RadRibbonBar_ATGSkin .rrbTabStrip.RadTabStripBottom_ATGSkin .rtsUL
{
	border-bottom: 0;
}




/** Tabstrip */
.RadRibbonBar_ATGSkin .rrbTabs {
	padding-left: 0;
	padding-right: 0;
	line-height: 26px;
	border-bottom-color: #a98de3;
}




/** Application Tab */
.RadRibbonBar_ATGSkin .rrbApplicationTab {
	color: #25006e;
	line-height: 22px;
}


	.RadRibbonBar_ATGSkin .rrbApplicationTab .rrbTabLabel {
		background-image: url(<%= WebResource("ATGFedExSkin.RibbonBar.rrbApplicationTabSprite.png") %>);
		_background-image: url(<%= WebResource("ATGFedExSkin.RibbonBar.rrbApplicationTabSprite_IE6.png") %>);
		background-position: left 0;
	}


	.RadRibbonBar_ATGSkin .rrbApplicationTab .rrbTabText {
		background-image: url(<%= WebResource("ATGFedExSkin.RibbonBar.rrbApplicationTabSprite.png") %>);
		_background-image: url(<%= WebResource("ATGFedExSkin.RibbonBar.rrbApplicationTabSprite_IE6.png") %>);
		background-position: right 0;
	}




/** Hovered Application Tab */
.RadRibbonBar_ATGSkin .rrbHoveredApplicationTab {}


	.RadRibbonBar_ATGSkin .rrbHoveredApplicationTab .rrbTabLabel {
		background-position: left -26px;
	}


	.RadRibbonBar_ATGSkin .rrbHoveredApplicationTab .rrbTabText {
		background-position: right -26px;
	}




/** Selected Application Tab */
.RadRibbonBar_ATGSkin .rrbSelectedApplicationTab {
	color: #000000;
}


	.RadRibbonBar_ATGSkin .rrbSelectedApplicationTab .rrbTabLabel {
		background-position: left -52px;
	}


	.RadRibbonBar_ATGSkin .rrbSelectedApplicationTab .rrbTabText {
		background-position: right -52px;
	}




/** Contextual Tab */
.RadRibbonBar_ATGSkin .rrbContextualTab {}


	.RadRibbonBar_ATGSkin .rrbContextualTab .rrbContextualTabLabel {
		color: #ffffff;
		background-image: url(<%= WebResource("ATGFedExSkin.RibbonBar.rrbContextualTabSmoothTile.png") %>);
		background-position: left 2px;
	}




/** Tab */
.RadRibbonBar_ATGSkin .rrbTab {
	color: #25006e;
}


	.RadRibbonBar_ATGSkin .rrbTabLabel {
		background-image: url(<%= WebResource("ATGFedExSkin.RibbonBar.rrbTabSprite.png") %>);
		_background-image: url(<%= WebResource("ATGFedExSkin.RibbonBar.rrbTabSprite_IE6.png") %>);
		background-position: left 0;
	}


	.RadRibbonBar_ATGSkin .rrbTabText {
		background-image: url(<%= WebResource("ATGFedExSkin.RibbonBar.rrbTabSprite.png") %>);
		_background-image: url(<%= WebResource("ATGFedExSkin.RibbonBar.rrbTabSprite_IE6.png") %>);
		background-position: right 0;
	}




/** Hovered Tab */
.RadRibbonBar_ATGSkin .rrbHoveredTab {}


	.RadRibbonBar_ATGSkin .rrbHoveredTab .rrbTabLabel {
		background-position: left -26px;
	}


	.RadRibbonBar_ATGSkin .rrbHoveredTab .rrbTabText {
		background-position: right -26px;
	}




/** Selected Tab */
.RadRibbonBar_ATGSkin .rrbSelectedTab {
	color: #25006e;
}


	.RadRibbonBar_ATGSkin .rrbSelectedTab .rrbTabLabel {
		background-position: left -52px;
	}


	.RadRibbonBar_ATGSkin .rrbSelectedTab .rrbTabText {
		background-position: right -52px;
	}





/** QuickAccessToolbar */
.RadRibbonBar_ATGSkin .rrbQuickAccessToolbar {}


	.RadRibbonBar_ATGSkin .rrbQatItem {}
	.RadRibbonBar_ATGSkin .rrbQatButton {}


	.RadRibbonBar_ATGSkin .rrbQatDropDown {}
	.RadRibbonBar_ATGSkin .rrbQatDropDown .rrbQatButton {}
	.RadRibbonBar_ATGSkin .rrbQatDropDown .rrbQatButton:hover {
		border-color: #ab9dc7;
		background-color: #af87ff;
	}
	
	
	.RadRibbonBar_ATGSkin .rrbQatDropDown .rrbSlide {}





/** RadRibbonBar Menu */
.RadRibbonBar_ATGSkin .rrbMenu {
	border-color: #878787;
	color: #25006e;
	background-color: #ffffff;
}


	.RadRibbonBar_ATGSkin .rrbSlide {}
	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuGroup {}
	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuLabel {
		background-color: #eae8ed;
	}
	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuSeparator {}




	/** Menu items */
	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuItem {}
	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuItem:hover,
	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuItemHovered {
		border-color: #ab9dc7;
		color: #000000;
		background-color: #af87ff;
	}


	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuItemCheckbox {}
	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuItemCheckbox label {}
	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuItemCheckbox input {}
	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuItemCheckboxChecked {}
	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuItemCheckboxChecked label {}


	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuItemRadio {}
	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuItemRadio label {}
	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuItemRadio input {}
	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuItemRadioChecked {}
	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuItemRadioChecked label {}