/* new styles */
.RadRotator_ATGSkin .rrClipRegion
{
	border: solid 1px #b1a7c4;
}

/*================== The list ========================*/

.RadRotator_ATGSkin .rrClipRegion  .rrItemsList 
{
	float: left;
	padding: 0;
	margin: 0;
	list-style: none;          
}

/* For vertical carousel, not set, width defaults to auto */
/* Note if you explicitly set width to auto, this might cause */
/* problems with Safari */

.RadRotator_ATGSkin .rrButton
{
	background-image: url(<%= WebResource("ATGFedExSkin.Rotator.RotatorButtons.gif") %>);
	background-repeat: no-repeat;
}

/* When LoadOnDemand */
.rrLoadingSign
{
    background: url(<%= WebResource("ATGFedExSkin.Common.loading_small.gif") %>) no-repeat center;
}