/* RadScheduler Office2007 skin */

/* common */
.RadScheduler_ATGSkin,
.RadScheduler_ATGSkin a,
.RadScheduler_ATGSkin input,
.RadScheduler_ATGSkin select,
.RadScheduler_ATGSkin textarea
{
	color: #333333;
	font: normal 12px/14px "Segoe UI", Arial, sans-serif;
}

.RadScheduler_ATGSkin textarea
{
	background: #ffffff;
}

/* header */

/* header sprites */
.RadScheduler_ATGSkin .rsHeader,
.RadScheduler_ATGSkin .rsHeader ul a:hover,
.RadScheduler_ATGSkin .rsHeader ul a:hover span,
.RadScheduler_ATGSkin .rsHeader .rsSelected,
.RadScheduler_ATGSkin .rsHeader .rsSelected em,
.RadScheduler_ATGSkin .rsHeader .rsDatePickerActivator,
.RadScheduler_ATGSkin .rsHeader .rsPrevDay,
.RadScheduler_ATGSkin .rsHeader .rsNextDay
{
	background-image: url(<%= WebResource("ATGFedExSkin.Scheduler.rsSprites.png") %>);
}

.RadScheduler_ATGSkin .rsHeader
{
	border: 1px solid #8068b0;
}

.RadScheduler_ATGSkin .rsHeader,
.RadScheduler_ATGSkin .rsHeader a:hover
{
	color: #000000;
}

.RadScheduler_ATGSkin .rsHeader a
{
	color: #492299;
}

.RadScheduler_ATGSkin div.rsHeader .rsPrevDay
{
	margin: 6px 0 0 3px;
	background-position: 0 -48px;
}

.RadScheduler_ATGSkin div.rsHeader .rsNextDay
{
	margin: 6px 6px 0 3px;
	background-position: -16px -48px;
}

.RadScheduler_ATGSkin div.rsHeader a.rsPrevDay:hover
{
	background-position: -70px -48px;
}

.RadScheduler_ATGSkin div.rsHeader a.rsNextDay:hover
{
	background-position: -86px -48px;
}

/* content */

.RadScheduler_ATGSkin .rsContent
{
	background: #ffffff;
}

/* <headers> */

.RadScheduler_ATGSkin .rsHorizontalHeaderTable
{
	color: #492299;
	background: #e3e3e3;
}

.RadScheduler_ATGSkin .rsHorizontalHeaderWrapper {
	border-color: #b1a7c4;
	background: #dfd5f2;
}

.RadScheduler_ATGSkin .rsSpacerCell,
.RadScheduler_ATGSkin .rsAllDayHeader,
.RadScheduler_ATGSkin .rsVerticalHeaderWrapper,
.RadScheduler_ATGSkin .rsVerticalHeaderTable
{
	background: #ece3ff;
}

.RadScheduler_ATGSkin .rsVerticalHeaderTable th
{
	border-color: #878787 #815dc9;
	color: #8865cf;
}

.RadScheduler_ATGSkin .rsHorizontalHeaderTable th
{
	border-color: #b1a7c4;
	background-color: #d4c4f2;
	background-image: url(<%= WebResource("ATGFedExSkin.Scheduler.rsSprites.png") %>);
}

.RadScheduler_ATGSkin .rsVerticalHeaderTable th
{
	border-color: transparent #815dc9;
	border-top: 0;
}

.RadScheduler_ATGSkin .rsVerticalHeaderTable .rsAlt th
{
	border-color: #8865cf #815dc9;
}

/* </headers> */

/* <all-day-row> */

.RadScheduler_ATGSkin .rsAllDayRow
{
	background: #dfd5f2;
}

.RadScheduler_ATGSkin .rsSpacerCell,
.RadScheduler_ATGSkin .rsAllDayHeader,
.RadScheduler_ATGSkin .rsVerticalHeaderTable .rsAllDayHeader
{
	color: #8865cf;
	border-color: #b1a7c4 #815dc9;
}

.RadScheduler_ATGSkin .rsAllDayRow td,
.RadScheduler_ATGSkin .rsContentTable .rsAllDayRow td
{
	border-color: #b1a7c4;
	border-style: solid;
}

.RadScheduler_ATGSkin .rsVerticalHeaderTable .rsMainHeader th
{
	border-bottom-color: #b1a7c4;
}

.RadScheduler_ATGSkin .rsSpacerCell,
.RadScheduler_ATGSkin .rsContent .rsAllDayHeader
{
	border-bottom-color: #8865cf;
}

/* </all-day-row> */

.RadScheduler_ATGSkin .rsContent,
.RadScheduler_ATGSkin .rsTopWrap .rsFooter
{
	border: 1px solid #8068b0;
	border-top: 0;
}

.RadScheduler_ATGSkin .rsContentTable td
{
	border-color: #eae8ed #d8d1e6;
	border-bottom-style: dotted;
}

.RadScheduler_ATGSkin .rsContentTable .rsAlt td
{
	border-color: #d8d1e6;
	border-bottom-style: solid;
}

.RadScheduler_ATGSkin .rsMonthView .rsOtherMonth
{
	background-color: #f5f5f5;
}

/* <appointments> */
.RadScheduler_ATGSkin .rsApt .rsArrowTop,
.RadScheduler_ATGSkin .rsApt .rsArrowBottom,
.RadScheduler_ATGSkin .rsApt .rsArrowLeft,
.RadScheduler_ATGSkin .rsApt .rsArrowRight,
.RadScheduler_ATGSkin .rsApt .rsAptDelete,
.RadScheduler_ATGSkin .rsApt .rsAptResize,
.RadScheduler_ATGSkin .rsApt .rsAptReminder,
.RadScheduler_ATGSkin .rsApt .rsAptRecurrence,
.RadScheduler_ATGSkin .rsApt .rsAptRecurrenceException
{
	background-color: transparent;
	background-image: url(<%= WebResource("ATGFedExSkin.Scheduler.rsSprites.png") %>);
	background-repeat: no-repeat;
}

.RadScheduler_ATGSkin .rsApt .rsAptDelete
{
	width: 22px;
}

.RadScheduler_ATGSkin .rsAptCreate,
.RadScheduler_ATGSkin .rsMonthView .rsAptCreate
{
	background-color: #f3edff;
	background-image: url(<%= WebResource("ATGFedExSkin.Scheduler.rsSprites.png") %>);
	background-repeat: repeat-x;
}

.RadScheduler_ATGSkin .rsAptCreateRow2,
.RadScheduler_ATGSkin .rsMonthView .rsAptCreateRow2
{
	background-color: #f3edff;
	background-image: url(<%= WebResource("ATGFedExSkin.Scheduler.rsSprites.png") %>);
	background-repeat: repeat-x;
}

.RadScheduler_ATGSkin .rsNonWorkHour,
.RadScheduler_ATGSkin .rsSunCol,
.RadScheduler_ATGSkin .rsSatCol
{
	background-color: #f8f5ff;
}

.RadScheduler_ATGSkin .rsAptCreateRow3,
.RadScheduler_ATGSkin .rsMonthView .rsAptCreateRow3,
.RadScheduler_ATGSkin .rsAptCreateRow4,
.RadScheduler_ATGSkin .rsMonthView .rsAptCreateRow4,
.RadScheduler_ATGSkin .rsAptCreateRow5,
.RadScheduler_ATGSkin .rsMonthView .rsAptCreateRow5
{
	background: #f3edff;
}

.RadScheduler_ATGSkin .rsSelectedSlot,
.RadScheduler_ATGSkin .rsMonthView .rsSelectedSlot
{
    background: #b996ff;
    border-color: #a986f0;
}

.RadScheduler_ATGSkin .rsContentTable td.rsAptCreate.rsSelectedSlot
{
    background: #a986f0;
    border-color: #9876de;
}

.RadScheduler_ATGSkin .rsContentTable td.rsSelectedSlot
{
    background: #b996ff;
    border-color: #a986f0;
}

/* <New appointment imageless rendering */
.RadScheduler_ATGSkin .rsAptIn, 
.RadScheduler_ATGSkin .rsAptMid, 
.RadScheduler_ATGSkin .rsAptContent
{
    background-color: #d4c7ed;
	border-color: #7e61b8;
}

.RadScheduler_ATGSkin .rsAptIn
{
    background-color: #ede9f7;
}

.RadScheduler_ATGSkin .rsAptContent
{
    background-image: url(<%= WebResource("ATGFedExSkin.Scheduler.rsAppointmentBg.png") %>);
}
/* </New appointment imageless rendering> */

.RadScheduler_ATGSkin .rsAptSimple
{
	background-color: #d4c7ed;
	border-color: #7e61b8;
}

/* </appointments> */

/* <month view> */

.RadScheduler_ATGSkin .rsMonthView .rsDateBox
{
	background-color: #dad1ed;
	background-image: url(<%= WebResource("ATGFedExSkin.Scheduler.rsSprites.png") %>);
	border-bottom: 1px solid #9e80d9;
}

.RadScheduler_ATGSkin .rsMonthView .rsAptCreate .rsDateBox
{
	border-bottom: 1px solid #7532fa;
}

.RadScheduler_ATGSkin .rsMonthView .rsAptCreate
{
	background-image: none;
}

.RadScheduler_ATGSkin .rsMonthView .rsContentTable td
{
	border-color: #d8d1e6;
	border-style: solid;
}

/* </month view> */

/* <footer> */

.RadScheduler_ATGSkin div.rsFooter
{
	background-color: #f4f0fc;
	background-image: url(<%= WebResource("ATGFedExSkin.Scheduler.rsSprites.png") %>);
	background-repeat: repeat-x;
	border-color: #a3a3a3;
}

.RadScheduler_ATGSkin div.rsFooter a
{
	color: #492299;
	background-color: transparent;
	background-image: url(<%= WebResource("ATGFedExSkin.Scheduler.rsSprites.png") %>);
	background-repeat: no-repeat;
}

.RadScheduler_ATGSkin div.rsFooter a:hover
{
	color: #000000;
}

/* </footer> */

/* <inline edit form> */

.RadScheduler_ATGSkin .rsEditOptions a,
.RadScheduler_ATGSkin .rsAptEditResizeHandle,
.RadScheduler_ATGSkin .rsAptEditFormWrapper
{
	background-image: url(<%= WebResource("ATGFedExSkin.Scheduler.rsSprites.png") %>);
}

.RadScheduler_ATGSkin .rsAptEditFormOuter, /* top */
.RadScheduler_ATGSkin .rsAptEditFormInner  /* bottom */
{
	background-image: url(<%= WebResource("ATGFedExSkin.Scheduler.rsInlineEditHSprite.png") %>);
}

.RadScheduler_ATGSkin .rsAptEditFormMiddle, /* left */
.RadScheduler_ATGSkin .rsAptEditFormMiddle2 /* right */
{
	background-image: url(<%= WebResource("ATGFedExSkin.Scheduler.rsInlineEditVSprite.png") %>);
}

.RadScheduler_ATGSkin .rsAptEditFormWrapper .rsAptEditTextareaWrapper
{
	border-color: #a99bc4;
	background: #ffffff;
}

.RadScheduler_ATGSkin .rsAptEditFormWrapper .rsAptEditTextareaWrapper textarea
{
	background: #ffffff;
}

/* <inline edit form template and edit background> */

.RadScheduler_ATGSkin .rsAptEditFormWrapper .rsTemplateWrapper,
.RadScheduler_ATGSkin .rsAptEditFormWrapper .rsEditOptions 
{
	background: #cdbeeb;
}

/* </inline edit form template and edit background> */

/* </inline edit form> */

/* <advanced edit form> */

.RadScheduler_ATGSkin .rsAdvancedEdit .rsAdvContentWrapper
{
	background: #ffffff;
	border: 1px solid #b29edb;
	border-top-color: #ab9bc9;
}

.RadScheduler_ATGSkin div.rsAdvancedModal div.rsAdvContentWrapper
{
    border-top: 0;
}

.RadScheduler_ATGSkin div.rsAdvancedModal .rsAdvButtonWrapper
{
    padding: 10px 10px 18px 0;
}

* html .RadScheduler_ATGSkin div.rsAdvancedModal .rsAdvButtonWrapper
{
    padding: 10px 10px 10px 0;
}

* html .RadScheduler_ATGSkin div.rsAdvancedModal div.rsAdvContentWrapper
{
    margin-top: -2px;
	background: #ffffff;
    border: 1px solid #ab9bc9;
}

/* <xref input skins> */

.RadScheduler_ATGSkin .rsAdvancedEdit .rsAdvInput,
.RadScheduler_ATGSkin .rsAdvancedEdit select,
.RadScheduler_ATGSkin .rsAdvancedEdit .textareaWrapper
{
	border-color: #bcabde;
}

.RadScheduler_ATGSkin .rsAdvancedEdit .rsInvalid textarea,
.RadScheduler_ATGSkin .rsAdvancedEdit .rsInvalid input,
.RadScheduler_ATGSkin .rsAdvancedEdit .rsAdvTimePicker .riEmpty
{
	background-image: url(<%= WebResource("ATGFedExSkin.Input.sprite.gif") %>);
}

.RadScheduler_ATGSkin .rsAdvancedEdit .textareaWrapper
{
	background: #ffffff;
}

.RadScheduler_ATGSkin .rsAdvancedEdit .rsInvalid
{
	border-color: #5100f2;
	color: #5100f2;
}
/* </xref input skins> */

.RadScheduler_ATGSkin .rsAdvancedEdit h2,
.RadScheduler_ATGSkin .rsAdvancedEdit h3
{
	color: #866cba;
}

.RadScheduler_ATGSkin .rsAdvancedEdit h2
{
	border-bottom: 1px solid #cccccc;
}

.RadScheduler_ATGSkin .rsAdvancedEdit h2 span
{
	background: #ffffff;
}

.RadScheduler_ATGSkin .rsAdvancedEdit .rsAdvancedSubmitArea
{
	border-color: #cccccc;
}

.RadScheduler_ATGSkin .rsAdvancedEdit div.rsAdvancedSubmitArea a 
{
	color: #333333;
	background-image: url(<%= WebResource("ATGFedExSkin.Scheduler.rsSprites.png") %>);
}

/* </advanced edit form> */

/* <date/time picker> */

.RadScheduler_ATGSkin .rsTimePick .RadInput_ATGSkin input.riEnabled,
.RadScheduler_ATGSkin .rsTimePick .RadInput_ATGSkin input.riHover,
.RadScheduler_ATGSkin .rsTimePick .RadInput_ATGSkin input.riFocused
{
	background-image: url(<%= WebResource("ATGFedExSkin.Scheduler.rsSprites.png") %>);
}

/* </date/time picker> */

/* <modal dialogs> */

.RadScheduler_ATGSkin .rsModalBgTopLeft,
.RadScheduler_ATGSkin .rsModalBgTopRight,
.RadScheduler_ATGSkin .rsModalBgBottomLeft,
.RadScheduler_ATGSkin .rsModalBgBottomRight
{
    background-image: url(<%= WebResource("ATGFedExSkin.Scheduler.rsModalBg.png") %>);
}

div.RadScheduler_ATGSkin .rsAnimating
{
    background-image: url(<%= WebResource("ATGFedExSkin.Scheduler.rsModalBgIE6.png") %>);
}

* html .RadScheduler_ATGSkin .rsModalBgTopLeft,
* html .RadScheduler_ATGSkin .rsModalBgTopRight,
* html .RadScheduler_ATGSkin .rsModalBgBottomLeft,
* html .RadScheduler_ATGSkin .rsModalBgBottomRight
{
    background-image: url(<%= WebResource("ATGFedExSkin.Scheduler.rsModalBgIE6.png") %>);
}

.RadScheduler_ATGSkin .rsAdvancedEdit .rsAdvTitle,
.RadScheduler_ATGSkin .rsAdvancedEdit .rsAdvInnerTitle
{
    background-image: url(<%= WebResource("ATGFedExSkin.Scheduler.rsModalTitleBg.png") %>);
}

.RadScheduler_ATGSkin .rsAdvancedEdit a.rsAdvEditClose,
.RadScheduler_ATGSkin div.rsModalWrapper .rsModalWindowClose
{
	background-image: url(<%= WebResource("ATGFedExSkin.Scheduler.rsSprites.png") %>);
	height:19px;
	margin-top:-26px;
	width:30px;
}
.RadScheduler_ATGSkin div.rsModalWrapper .rsModalWindowClose
{
    margin-top: -24px;
}

.RadScheduler_ATGSkin .rsAdvancedEdit a.rsAdvEditClose:hover,
.RadScheduler_ATGSkin .rsModalWrapper a.rsModalWindowClose:hover
{
	background-position: -78px -526px;
}

.RadScheduler_ATGSkin .rsModalWrapper .rsModalTitle
{
	color: #000000;
	background-image: url(<%= WebResource("ATGFedExSkin.Scheduler.rsSprites.png") %>);
}

.RadScheduler_ATGSkin .rsModalWrapper .rsModalInner
{
	border-color: #8068b0;
	background: #ffffff;
}

.RadScheduler_ATGSkin .rsModalWrapper .rsModalIcon,
.RadScheduler_ATGSkin .rsModalWrapper .rsModalButtons a
{
	background-image: url(<%= WebResource("ATGFedExSkin.Scheduler.rsSprites.png") %>);
}

/* Inline Edit buttons + ModalDialog buttons */
.RadScheduler_ATGSkin .rsModalWrapper .rsModalButtons a,
.RadScheduler_ATGSkin .rsTopWrap .rsAptEditFormWrapper .rsEditOptions a
{
	color: #333333;
}

/* </modal dialogs> */

.RadScheduler_ATGSkin .rsBottomIndicator .rsOvertimeArrow
{
	background: transparent url(<%= WebResource("ATGFedExSkin.Scheduler.rsSprites.png") %>) no-repeat -180px -31px;
}        	

.RadScheduler_ATGSkin .rsTopIndicator .rsOvertimeArrow
{
	background: transparent url(<%= WebResource("ATGFedExSkin.Scheduler.rsSprites.png") %>) no-repeat -134px -31px;
}




.RadScheduler_ATGSkin .rsAptSelected .rsAptIn,
.RadScheduler_ATGSkin .rsAptSelected .rsAptMid,
.RadScheduler_ATGSkin .rsAptSelected .rsAptContent {
	border-color: #1a004f;
	background-image: none;
}