.RadSiteMap_ATGSkin .rsmLink,
.RadSiteMap_ATGSkin .rsmTemplate
{
	font-family: "Segoe UI", Arial, sans-serif;
	border-bottom: 0;
	color: #000000;
}

.RadSiteMap_ATGSkin .rsmLevel1 .rsmLink,
.RadSiteMap_ATGSkin .rsmLevel1 .rsmTemplate
{
	color: #7456b0;
}

.RadSiteMap_ATGSkin .rsmLevel2 .rsmLink,
.RadSiteMap_ATGSkin .rsmLevel2 .rsmTemplate,
.RadSiteMap_ATGSkin .rsmThreeLevels .rsmLevel1 .rsmLink,
.RadSiteMap_ATGSkin .rsmTwoLevels .rsmLevel1 .rsmLink,
.RadSiteMap_ATGSkin .rsmOneLevel .rsmItem .rsmLink
{
	color: #25006e;
}

.RadSiteMap_ATGSkin .rsmLink:hover
{
	color: #25006e;
}

.RadSiteMap_ATGSkin .rsmLevel1 .rsmLink:hover
{
	color: #000000;
}

.RadSiteMap_ATGSkin .rsmLevel2 .rsmLink:hover,
.RadSiteMap_ATGSkin .rsmThreeLevels .rsmLevel1 .rsmLink:hover,
.RadSiteMap_ATGSkin .rsmTwoLevels .rsmLevel1 .rsmLink:hover,
.RadSiteMap_ATGSkin .rsmOneLevel .rsmItem .rsmLink:hover
{
	color: #000000;
	background: #af87ff url(<%= WebResource("ATGFedExSkin.SiteMap.rsmHover.png") %>) repeat-x 0 0;
}

.RadSiteMap_ATGSkin .rsmLevel .rsmNodeLines .rsmItem
{
	background-image: url(<%= WebResource("ATGFedExSkin.SiteMap.NodeLines.png") %>);
}
