/* RadSplitter for ASP.NET AJAX - Office2007 Skin */

/* Borders */
.RadSplitter_ATGSkin,

/* Vertical RadSplitter items */
.RadSplitter_ATGSkin .rspPane, 
.RadSplitter_ATGSkin .rspResizeBar,
.RadSplitter_ATGSkin .rspSlideContainerResize,

/* Horizontal RadSplitter items */
.RadSplitter_ATGSkin .rspPaneHorizontal,
.RadSplitter_ATGSkin .rspResizeBarHorizontal,
.RadSplitter_ATGSkin .rspSlideContainerResizeHorizontal
{
	border-color:#e2dded;
}

/* When ShowContentDuringLoad="false" */
.RadSplitter_ATGSkin .rspLoading
{
    background-image: url(<%= WebResource("ATGFedExSkin.Common.loading.gif") %>);
}

.RadSplitter_ATGSkin .rspPaneTabContainer
{
    border-color:#af9fcf;
}

/* RadSplitBar/RadSlidingPane resize elements */
.RadSplitter_ATGSkin .rspResizeBar,
.RadSplitter_ATGSkin .rspSlideContainerResize
{
	background:#ffffff url(<%= WebResource("ATGFedExSkin.Splitter.ResizeBarVerticalSprites.gif") %>) repeat-y 0 0;
	border-right-color:#e5dff2;
}

.RadSplitter_ATGSkin .rspResizeBarOver,
.RadSplitter_ATGSkin .rspSlideContainerResizeOver
{
    background:#e6dff5 none; /*-4px 0*/
}

.RadSplitter_ATGSkin .rspResizeBarHorizontal,
.RadSplitter_ATGSkin .rspSlideContainerResizeHorizontal
{
	background:#ffffff url(<%= WebResource("ATGFedExSkin.Splitter.ResizeBarHorizontalSprites.gif") %>) repeat-x 0 0;
	border-bottom-color:#e5dff2;
}

.RadSplitter_ATGSkin .rspResizeBarOverHorizontal,
.RadSplitter_ATGSkin .rspSlideContainerResizeOverHorizontal
{
    background:#e6dff5 none; /*0 -4px;*/
}

/* RadSlidingPane tab */
.RadSplitter_ATGSkin .rspPaneTabContainer,
/* RadSlidingPane buttons */
.RadSplitter_ATGSkin .rspSlideHeaderDockIcon,
.RadSplitter_ATGSkin .rspSlideHeaderUndockIcon,
.RadSplitter_ATGSkin .rspSlideHeaderCollapseIcon,
/* RadSplitBar buttons */
.RadSplitter_ATGSkin .rspCollapseBarExpand,
.RadSplitter_ATGSkin .rspCollapseBarCollapse,

.RadSplitter_ATGSkin .rspCollapseBarHorizontalExpand,
.RadSplitter_ATGSkin .rspCollapseBarHorizontalCollapse
{
    background-image:url(<%= WebResource("ATGFedExSkin.Splitter.ExpandCollapseBarsCommands.gif") %>);
    background-repeat:no-repeat;
}

/* RadSlidingPane tab */
.RadSplitter_ATGSkin .rspPaneTabContainer
{
    background-position:-81px 0;
    background-repeat:repeat-y;
}

/* RadSplitBar buttons */
.RadSplitter_ATGSkin .rspCollapseBarCollapse
{	
	background-position:0 0;
}
.RadSplitter_ATGSkin .rspCollapseBarCollapseOver
{
    background-position:-192px 0;
}

.RadSplitter_ATGSkin .rspCollapseBarExpand
{	
	background-position:-4px 0;
}
.RadSplitter_ATGSkin .rspCollapseBarExpandOver
{
    background-position:-196px 0;
}

.RadSplitter_ATGSkin .rspCollapseBarHorizontalExpand
{
    background-position:-8px -4px;
}
.RadSplitter_ATGSkin .rspCollapseBarHorizontalExpandOver
{
    background-position:-8px -12px;
}

.RadSplitter_ATGSkin .rspCollapseBarHorizontalCollapse
{
    background-position:-8px 0;
}
.RadSplitter_ATGSkin .rspCollapseBarHorizontalCollapseOver
{
    background-position:-8px -8px;
}

/* RadSlidingPane buttons */
.RadSplitter_ATGSkin .rspSlideHeaderUndockIcon
{
	background-position:-50px 0;
}

.RadSplitter_ATGSkin .rspSlideHeaderDockIcon
{
	background-position:-35px 0;
}

.RadSplitter_ATGSkin .rspSlideHeaderCollapseIcon
{
	background-position:-65px 0;
}

/* RadSlidingPane header */
.RadSplitter_ATGSkin .rspSlideHeader, 
/* RadSlidingPane title */
.RadSplitter_ATGSkin .rspSlideTitleContainer,
/* RadSlidingPane tab, SlideDirection=Top/Bottom */
.RadSplitter_ATGSkin .rspBottom .rspPaneTabContainer,
.RadSplitter_ATGSkin .rspTop .rspPaneTabContainer
{
	background-image:url(<%= WebResource("ATGFedExSkin.Splitter.slideTitleContainerBgr.gif") %>);
	background-repeat:repeat-x;
}

.RadSplitter_ATGSkin .rspBottom .rspPaneTabContainer,
.RadSplitter_ATGSkin .rspTop .rspPaneTabContainer
{
    background-position:0 -1px;
}

/* RadSlidingPane header elements */
.RadSplitter_ATGSkin .rspSlideTitleContainer,
.RadSplitter_ATGSkin .rspSlideHeaderIconWrapper
{
	border-bottom:solid 1px #e2dded;
}

/* RadSlidingPane title text */
.RadSplitter_ATGSkin .rspSlideTitle,
/* RadSlidingPane tab text */
.RadSplitter_ATGSkin .rspPaneTabText
{
	font:normal 10px "Segoe UI", Arial, Sans-serif;
	color:#000000;
}
.RadSplitter_ATGSkin .rspSlideTitle
{	
	font-size:12px;
}

/* RadSlidingPane content - this element should not be transparent as it shows above content in adjacent RadPanes */
.RadSplitter_ATGSkin .rspSlideContent
{
	background-color:#ffffff;
}