.RadTagCloud_ATGSkin
{
	border: 1px dotted #cccccc;
}
.RadTagCloud_ATGSkin .rtcTagList .rtcTagItem
{
	color: #cccccc;
}
.RadTagCloud_ATGSkin .rtcTagList .rtcTagItem:hover
{
	color: #000000;
}
.RadTagCloud_ATGSkin .rtcTagList .rtcTagItem a
{
	color: #25006e;
}
.RadTagCloud_ATGSkin .rtcTagList .rtcTagItem a:hover
{
	color: #000000;
	background: #af87ff;
}

/* Loading image */
.rtcLoading.RadTagCloud_ATGSkin
{
	background-image: url(<%= WebResource("ATGFedExSkin.Common.loading_small.gif") %>);
}
