.RadTreeView_ATGSkin,
.RadTreeView_ATGSkin a.rtIn,
.RadTreeView_ATGSkin .rtEdit .rtIn input
{
	color: #25006e;
	font: 12px/18px "Segoe UI", Arial, sans-serif;
}

.RadTreeView_ATGSkin .rtPlus, 
.RadTreeView_ATGSkin .rtMinus
{
	background-image: url(<%= WebResource("ATGFedExSkin.TreeView.PlusMinus.png") %>);
}

.RadTreeView_ATGSkin .rtChecked,
.RadTreeView_ATGSkin .rtUnchecked,
.RadTreeView_ATGSkin .rtIndeterminate
{
	background-image: url(<%= WebResource("ATGFedExSkin.TreeView.TriState.png") %>);
}

.RadTreeView_ATGSkin .rtHover .rtIn
{
	color: #000000;
	border-color: #9186a6 #8972b8;
	background-color: #af87ff;
	background-image: url(<%= WebResource("ATGFedExSkin.TreeView.ItemHoveredBg.png") %>);
}

.RadTreeView_ATGSkin .rtSelected .rtIn
{
	color: #000000;
	border-color: #74678f #9186a6;
	background-color: #af88fc;
	background-image: url(<%= WebResource("ATGFedExSkin.TreeView.ItemSelectedBg.png") %>);
}

.RadTreeView_ATGSkin .rtSelected .rtLoadingBefore,
.RadTreeView_ATGSkin .rtSelected .rtLoadingAfter,
.RadTreeView_ATGSkin .rtSelected .rtLoadingBelow
{
	color: #333333;
}

.RadTreeView_ATGSkin .rtLoadingIcon
{
	background-image: url(<%= WebResource("ATGFedExSkin.TreeView.LoadingIcon.gif") %>);
}

.RadTreeView .rtLI .rtEdit .rtIn
{
	border-color: #380f8a;
	background: #ffffff;
}

.RadTreeView_ATGSkin_disabled .rtIn,
.RadTreeView_ATGSkin .rtDisabled .rtIn
{
	color: #cccccc;
}


/* <node lines> */

.RadTreeView_ATGSkin .rtLines .rtLI,
.RadTreeView_ATGSkin .rtLines .rtFirst .rtUL { background-image: url(<%= WebResource("ATGFedExSkin.TreeView.NodeSpan.png") %>); }
.RadTreeView_ATGSkin_rtl .rtLines .rtLI,
.RadTreeView_ATGSkin_rtl .rtLines .rtFirst .rtUL { background-image:url(<%= WebResource("ATGFedExSkin.TreeView.NodeSpan_rtl.png") %>); }

.RadTreeView_ATGSkin .rtLines .rtFirst,
.RadTreeView_ATGSkin .rtLines .rtFirst .rtUL { background-image: url(<%= WebResource("ATGFedExSkin.TreeView.FirstNodeSpan.png") %>); }
.RadTreeView_ATGSkin_rtl .rtLines .rtFirst,
.RadTreeView_ATGSkin_rtl .rtLines .rtFirst .rtUL { background-image: url(<%= WebResource("ATGFedExSkin.TreeView.FirstNodeSpan_rtl.png") %>); }
.RadTreeView_ATGSkin .rtLines .rtLast,
.RadTreeView_ATGSkin .rtLines .rtLast .rtUL { background-image: none; }

.RadTreeView_ATGSkin .rtLines .rtTop { background-image:url(<%= WebResource("ATGFedExSkin.TreeView.TopLine.png") %>); }
.RadTreeView_ATGSkin_rtl .rtLines .rtTop { background-image:url(<%= WebResource("ATGFedExSkin.TreeView.TopLine_rtl.png") %>); }
.RadTreeView_ATGSkin .rtLines .rtMid { background-image:url(<%= WebResource("ATGFedExSkin.TreeView.MiddleLine.png") %>); }
.RadTreeView_ATGSkin_rtl .rtLines .rtMid { background-image:url(<%= WebResource("ATGFedExSkin.TreeView.MiddleLine_rtl.png") %>); }
.RadTreeView_ATGSkin .rtLines .rtBot { background-image:url(<%= WebResource("ATGFedExSkin.TreeView.BottomLine.png") %>); }
.RadTreeView_ATGSkin_rtl .rtLines .rtBot { background-image: url(<%= WebResource("ATGFedExSkin.TreeView.BottomLine_rtl.png") %>); }
.RadTreeView_ATGSkin .rtLines .rtLast .rtTop { background-image:url(<%= WebResource("ATGFedExSkin.TreeView.SingleLine.png") %>); }
.RadTreeView_ATGSkin_rtl .rtLines .rtLast .rtTop { background-image:url(<%= WebResource("ATGFedExSkin.TreeView.SingleLine_rtl.png") %>); }

/* </node lines> */
