/* RadUpload / Office2007 skin */

/* <general styles> */

.RadUpload_ATGSkin,
.RadUpload_ATGSkin a,
.RadUpload_ATGSkin input,
.RadUploadProgressArea_ATGSkin,
.RadUploadProgressArea_ATGSkin input
{
    font: normal 11px/10px "Segoe UI", Arial, sans-serif;
}

/* </general styles> */

/* <file inputs> */

.RadUpload_ATGSkin .ruStyled .ruFileInput
{
    border-color: #bcabde;
}

.RadUpload_ATGSkin input.ruFakeInput
{
    border-color: #bcabde;
    color: #000000;
    background-image: url(<%= WebResource("ATGFedExSkin.Upload.ruSprite.png") %>);
}
* html .RadUpload_ATGSkin .ruFileWrap .ruInputHover { border-color: #7b91ae; }
*+html .RadUpload_ATGSkin .ruFileWrap .ruInputHover { border-color: #7b91ae; }

.RadUpload_ATGSkin .ruReadOnly .ruFakeInput
{
	background: #f2f2f2;
}

/* </file inputs> */

/* <buttons> */

.RadUpload_ATGSkin .ruButton,
.RadUploadProgressArea_ATGSkin .ruButton
{
    background-image: url(<%= WebResource("ATGFedExSkin.Upload.ruSprite.png") %>);
    color: #320e78;
}

.RadUpload_ATGSkin .ruRemove
{
	color: #320e78;
}

div.RadUpload_ATGSkin .ruInputs .ruButtonHover,
div.RadUpload_ATGSkin .ruActions .ruButtonHover,
div.RadUploadProgressArea_ATGSkin .ruActions .ruButtonHover
{
    background-position: 100% -23px;
    color: #000000;
}

div.RadUpload_ATGSkin .ruFileWrap .ruButtonHover
{
    background-position: 100% 0;
    color: #000000;
}

/* </buttons> */

/* <submit button> */
/* (use this class to style a single button for uploads) */

.RadUploadSubmit
{
    background-image: url(<%= WebResource("ATGFedExSkin.Upload.ruSprite.png") %>);
    color: #000000;
}

/* </submit button> */

/* <progress area> */

.RadUploadProgressArea_ATGSkin .ruProgress
{
    border-color: #b29edb;
    background-image: url(<%= WebResource("ATGFedExSkin.Upload.ruSprite.png") %>);
    background-color: #ffffff;
}

.RadUploadProgressArea_ATGSkin .ruProgress li
{
    color: #603ea3;
}

.RadUploadProgressArea_ATGSkin li.ruProgressHeader
{
    color: #25006e;
}

.RadUploadProgressArea_ATGSkin .ruProgress li.ruCurrentFile
{
    color: #603ea3;
}

.RadUploadProgressArea_ATGSkin .ruProgress .ruBar
{
    border-color: #bcabde;
    background-image: url(<%= WebResource("ATGFedExSkin.Upload.ruSprite.png") %>);
}
 
.RadUploadProgressArea_ATGSkin .ruProgress .ruBar div
{
    background-image: url(<%= WebResource("ATGFedExSkin.Upload.ruProgress.gif") %>);
    border-right: 1px solid #7f4ae8;
}

.RadUploadProgressArea_ATGSkin_rtl .ruProgress .ruBar div
{
    background-image: url(<%= WebResource("ATGFedExSkin.Upload.ruProgress.gif") %>);
    border-right: 0;
    border-left: 1px solid #7f4ae8;
}
 
.RadUploadProgressArea_ATGSkin .ruProgress .ruActions
{
	border-top-color: #b29edb;
	background: #e1d7f5;
}

/* </progress area> */

/* <RadAsyncUpload> */

.RadUpload_ATGSkin input.ruUploadInvalid
{
    background-repeat: no-repeat;
    background-position: 100% -297px;
    background-image: url(<%= WebResource("ATGFedExSkin.Input.sprite.gif") %>);
}

.RadUpload_ATGSkin_rtl input.ruUploadInvalid
{
    background-position: 3px -297px;
}

.RadUpload_ATGSkin .ruFileProgress,
.RadUpload_ATGSkin .ruFileProgressWrap
{
    background-image: url(<%= WebResource("ATGFedExSkin.Upload.AsyncProgress.png") %>);
}

.RadUpload_ATGSkin .ruFileProgress,
.RadUpload_ATGSkin_rtl .ruFileProgressWrap { background-position: 0 0; }
.RadUpload_ATGSkin .ruFileProgressWrap,
.RadUpload_ATGSkin_rtl .ruFileProgress { background-position: 100% 0; }

.RadUpload_ATGSkin .ruProgressStarted,
.RadUpload_ATGSkin_rtl .ruProgressComplete { background-position: 0 -5px; }
.RadUpload_ATGSkin .ruProgressComplete,
.RadUpload_ATGSkin_rtl .ruProgressStarted { background-position: 100% -5px; }

/* </RadAsyncUpload> */
