﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Default.master" AutoEventWireup="true" CodeFile="TBD.aspx.cs" Inherits="TBD" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContentPlaceHolder" Runat="Server">
    <div style="text-align: center">
        <p style="text-align: center; width: 400px">
            This page is just a "conceptual placeholder". Think of the possibilities...
        </p>
    </div>
</asp:Content>

