﻿/* VERSION 4.5.4 BB jqGrid CSS CUSTOMIZATIONS */

/* Affects search dialog */
.ui-widget
{
    font-size: 14px;
}
        
/* Group row/cell coloring */
.jqGridCustTableRoot
{
    border-collapse: collapse;
    border-width: 0px !important;
    table-layout: fixed;
}
.jqGridCustTableRoot td
{
    border: 1px solid LightGray !important;
    background-color: Silver !important;
}
.jqGridCustTableChild
{
    border-collapse: collapse;
    border-width: 0px !important;
    table-layout: fixed;
}
.jqGridCustTableChild td
{
    border: 1px solid Silver !important;
    background-color: LightGray !important;
}
.ui-widget-content tr.jqgroup2 td
{
	height: 22px;
	padding: 0 2px 0 2px;
}
        
/* Group Icons */
.ui-icon-circlesmall-minus
{
    background-image: url("images/collapse_group1.png") !important;
    background-position: center center !important;
    background-color: transparent;
    cursor: zoom-out !important; 
}
.ui-icon-circlesmall-plus
{
    background-image: url("images/expand_group1.png") !important;
    background-position: center center !important;
    background-color: transparent;
    cursor: zoom-in !important; 
}

/* Group button icons (like for a menu) */
.ui-icon .ui-icon-circlesmall-minus-FOR-BUTTON
{
    background-image: url("images/collapse_group1.png");
    background-position: center center !important;
    background-color: transparent;
    cursor: zoom-out !important; 
}
.ui-icon .ui-icon-circlesmall-plus-FOR-BUTTON
{
    background-image: url("images/expand_group1.png");
    background-position: center center !important;
    background-color: transparent;
    cursor: zoom-in !important; 
}
        
/* Expand All - Collapse All links */
.jqGridExpandCollapseLinksTarget /* The link target */
{
    position: relative; 
    float: left;
    display: inline;
    padding-left: 6px;
}
.jqGridExpandCollapseLinksContainer /* The link container */
{
    position: relative; 
    float: left;
    display: inline;
	margin-top: 2px;	
}
.jqGridDisabledCollapseLink
{
    color: #555248 !important;
    font-weight: normal;
    margin-top: 2px;
    cursor: none !important; 
}
.jqGridDisabledExpandLinks
{
    color: #555248 !important;
    font-weight: normal;
    margin-top: 2px;
    cursor: none !important; 
}
.jqGridExpandCollapseLinksExpandAll 
{
    color: Blue !important;
    font-weight: normal;
    margin-top: 2px;
    cursor: zoom-in !important; 
}
.jqGridExpandCollapseLinksExpandOne 
{
    color: Blue !important;
    font-weight: normal;
    margin-top: 2px;
    cursor: zoom-in !important; 
}
.jqGridExpandCollapseLinksCollapseAll
{
    color: Blue !important;
    font-weight: normal;
    margin-top: 2px;
    cursor: zoom-out !important; 
}
.jqGridExpandCollapseLinksMisc
{
    color: Blue !important;
    font-weight: normal;
    margin-top: 2px;
    cursor: none !important;
}
        
        
/* The top pager */
.ui-pg-table
{
    position: relative;
    float: right;
}

/* This controls the look of the group buttons at the top */
.ui-jqgrid .ui-jqgrid-titlebar
{
	padding: 0px;
	border-collapse: collapse;
	height: 26px;
}
.ui-jqgrid-title
{
    width: 100%;
}
.jqGridGroupDropZone
{
    font-size: 14px;
    font-weight: normal;
	padding: 0;
	margin-top: 0px;
	margin-left: 4px;
	margin-bottom: 0px;
	margin-right: 4px;
	height: 21px;
}
.jqGridGroupDropZone li
{
	position: relative;
	float: left;
    list-style-type: none;
	padding-top: 4px;
}
.jqGridGroupButtonLeadText
{
	position: relative;
	float: left;
	padding-left: 20px;
    font-size: 12px;
    font-weight: normal;
}
.jqGridGroupButtonLabelText
{
	position: relative;
	float: left;
    margin-left: 4px;
    font-size: 12px;
    font-weight: 900;
    cursor: pointer; 
}
.jqGridGroupButton
{
	position: relative;
	float: left;
    margin-left: 16px;
    text-align: center;
    vertical-align: middle;
    background-image: url("images/close_group1.png") !important;
    background-position: center center !important;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    background-size: contain; /* Makes the "x" icon fit properly */
    cursor: pointer; 
}
.jqGridGroupButtonSortIcons
{
	position: relative;
	float: left;
	cursor: none !important;
}
        
/* Footer Summary Band */
.ui-jqgrid-ftable tbody tr td
{
	text-align: right !important;
	border-top: 1px solid black !important;
	padding-top: 1px;
	margin-top: 1px;
    background-color: #E6E6E6;
}
.ui-jqgrid-ftable-summarylabel
{
	height: 20px;
	border-top: 1px solid black !important;
    background-color: #E6E6E6;
    border-right:  1px solid silver;
	padding-right: 4px;
	text-align: right; 
	font-weight: 900; 
	border-bottom-color: #E6E6E6	
}

/* BEGIN Pager OVERRIDES DUE TO INFINITY ISSUES*/
.ui-jqgrid .ui-jqgrid-pager { border-left: 0 none !important;border-right: 0 none !important; border-bottom: 0 none !important; margin: 0 !important; padding: 0 !important; position: relative; height: 25px;white-space: nowrap;overflow: hidden;font-size:11px;}
.ui-jqgrid .ui-pager-control {position: relative;}
.ui-jqgrid .ui-pg-table {position: relative; padding-bottom:2px; width:auto; margin: 0;}
.ui-jqgrid .ui-pg-table td {font-weight:normal; vertical-align:middle; padding:1px;}
.ui-jqgrid .ui-pg-button  { height:19px !important;}
.ui-jqgrid .ui-pg-button span { display: block; margin: 1px; float:left;}
.ui-jqgrid .ui-pg-button:hover { padding: 0; }
.ui-jqgrid .ui-state-disabled:hover {padding:1px;}
.ui-jqgrid .ui-pg-input { height:12px;font-size:11px; margin: 0;}
.ui-jqgrid .ui-pg-selbox {font-size:11px; line-height:18px; display:block; height:18px; margin: 0;}
.ui-jqgrid .ui-separator {height: 18px; border-left: 1px solid #ccc ; border-right: 1px solid #ccc ; margin: 1px; float: right;}
.ui-jqgrid .ui-paging-info {font-weight: normal;font-size:11px;height:19px; margin-top:3px;margin-right:4px;}
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div {padding:1px 0;float:left;position:relative;}
.ui-jqgrid .ui-jqgrid-pager .ui-pg-button { cursor:pointer; }
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div  span.ui-icon {float:left;margin:0 2px;}
.ui-jqgrid .ui-jqgrid-toppager {border-left: 0 none !important;border-right: 0 none !important; border-top: 0 none !important; margin: 0 !important; padding: 0 !important; position: relative; height: 25px !important;white-space: nowrap;overflow: hidden;}
.ui-jqgrid .ui-jqgrid-toppager .ui-pg-div {padding:1px 0;float:left;position:relative;}
.ui-jqgrid .ui-jqgrid-toppager .ui-pg-button { cursor:pointer; }
.ui-jqgrid .ui-jqgrid-toppager .ui-pg-div  span.ui-icon {float:left;margin:0 2px;}
/* END Pager OVERRIDES DUE TO INFINITY ISSUES*/
