/* RadButton Office2007 Skin */

.RadButton_rbSkinnedButton,
.RadButton_ATGSkin .rbDecorated,
.RadButton_rbVerticalButton,
.RadButton_rbVerticalButton .rbDecorated,
.RadButton_ATGSkin .rbSplitRight,
.RadButton_ATGSkin .rbSplitLeft
{
	background-image:url(<%= WebResource("ATGCorpSkin.Button.ButtonSprites.gif") %>);
}

.RadButton_ATGSkin .rbToggleCheckbox,
.RadButton_ATGSkin .rbToggleCheckboxChecked,
.RadButton_ATGSkin .rbToggleCheckboxFilled,
.RadButton_ATGSkin .rbToggleRadio,
.RadButton_ATGSkin .rbToggleRadioChecked
{
	background-image:url(<%= WebResource("ATGCorpSkin.Button.ToggleSprite.gif") %>);
}

.RadButton_rbToggleButton,
.RadButton_rbToggleButton.rbDisabled,
.RadButton_rbToggleButton.rbDisabled:hover
{
	color: #000;
}

.RadButton_rbDisabled .rbDecorated,
.RadButton_rbDisabled:hover .rbDecorated,
.RadButton_rbToggleButton:hover
{
	color: #6a6a6a;
}

.RadButton_rbLinkButton
{
	border: 1px solid #d5e3f5;
	color: #00156E;
	text-decoration: none;
}

.RadButton_rbLinkButton:hover
{
	background-color: #ffe086;
	color: #00156E;
}

.RadButton_rbLinkButtonChecked,
.RadButton_rbLinkButtonChecked:hover
{
	background-color: #f99a36;
}

.RadButton_rbLinkButton.rbDisabled,
.RadButton_rbLinkButton.rbDisabled:hover
{
	background-color: #f9f8f8;
	border: 1px solid #d0d0d0;
	color: #6a6a6a;
}

.RadButton_rbLinkButton:hover .rbSplitLeft,
.RadButton_rbLinkButton:hover .rbSplitRight
{
	background-color: #fff;
}

.RadButton_rbLinkButton .rbSplitRight
{
	border-left: 1px solid #d5e3f5;
}

.RadButton_rbLinkButton .rbSplitRight:hover
{
	background-position: -126px -137px;
	background-color: #f7b904;
	border-left: 1px solid #d5e3f5;
}

.RadButton_rbLinkButton .rbSplitRight:active,
.RadButton_rbLinkButton .rbSplitRight:focus
{
	background-color: #d19c02;
	border-left: 1px solid #d5e3f5;
}

.RadButton_rbLinkButton .rbSplitLeft
{
	border-right: 1px solid #d5e3f5;
}

.RadButton_rbLinkButton .rbSplitLeft:hover
{
	background-position: -126px -137px;
	background-color: #f7b904;
	border-right: 1px solid #d5e3f5;
}

.RadButton_rbLinkButton .rbSplitLeft:active,
.RadButton_rbLinkButton .rbSplitLeft:focus
{
	background-color: #d19c02;
	border-right: 1px solid #d5e3f5;
}

/* IE6 Fix, should be important to override the joint selectors */
*html .RadButton_rbLinkButton,
*html .RadButton_rbLinkButton:hover
{
	border: 1px solid #00156E !important;
}