/*Telerik RadCalendar Office2007 skin*/

table.RadCalendar_ATGSkin
{
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
}

/*titlebar*/

.RadCalendar_ATGSkin .rcTitlebar
{
	border-color:#688caf #688caf #9eb6ce;
	background:#c3d8f1 0 -1000px repeat-x url(<%= WebResource("ATGCorpSkin.Calendar.sprite.gif") %>);
	color:#00156e;
}

.RadCalendar_ATGSkin .rcTitlebar table
{
	font:12px/22px "segoe ui",arial,sans-serif;
}

.RadCalendar_ATGSkin .rcTitlebar td
{
	padding:0 0 2px;
}

.RadCalendar_ATGSkin .rcTitlebar .rcPrev,
.RadCalendar_ATGSkin .rcTitlebar .rcNext,
.RadCalendar_ATGSkin .rcTitlebar .rcFastPrev,
.RadCalendar_ATGSkin .rcTitlebar .rcFastNext
{
	width:17px;
	height:17px;
	margin:1px 2px 0;
	background:transparent url(<%= WebResource("ATGCorpSkin.Calendar.sprite.gif") %>) no-repeat;
	color:#ccc;
}

.RadCalendar_ATGSkin .rcTitlebar .rcFastPrev
{
	margin-left:4px;
	background-position:0 -200px;
}

.RadCalendar_ATGSkin .rcTitlebar a.rcFastPrev:hover
{
	background-position:0 -250px;
}

.RadCalendar_ATGSkin .rcTitlebar .rcPrev
{
	background-position:0 -300px;
}

.RadCalendar_ATGSkin .rcTitlebar a.rcPrev:hover
{
	background-position:0 -350px;
}

.RadCalendar_ATGSkin .rcTitlebar .rcNext
{
	background-position:0 -400px;
}

.RadCalendar_ATGSkin .rcTitlebar a.rcNext:hover
{
	background-position:0 -450px;
}

.RadCalendar_ATGSkin .rcTitlebar .rcFastNext
{
	margin-right:4px;
	background-position:0 -500px;
}

.RadCalendar_ATGSkin .rcTitlebar a.rcFastNext:hover
{
	background-position:0 -550px;
}

.RadCalendar_ATGSkin .rcMain
{
	border-color:#688caf;
}

.RadCalendar_ATGSkin .rcMainTable
{
	color:#000;
	font:12px/20px "segoe ui",arial,sans-serif;
}

/*header, footer*/

.RadCalendar_ATGSkin .rcHeader,
.RadCalendar_ATGSkin .rcFooter
{
	border-color:#688caf;
}

/*week numbers and days*/

.RadCalendar_ATGSkin .rcWeek th
{
	border-bottom:1px solid #9ebfdb;
	padding:2px 6px 2px 0;
}

.RadCalendar_ATGSkin .rcWeek .rcViewSel,
.RadCalendar_ATGSkin .rcRow th
{
	width:12px;
	padding:0 7px 0 9px;
	background:#e9eeee;
}

.RadCalendar_ATGSkin .rcRow th
{
	color:#555;
}

/*date cells*/

.RadCalendar_ATGSkin .rcRow td
{
	border-color:#fff;
}

.RadCalendar_ATGSkin .rcMain .rcRow a,
.RadCalendar_ATGSkin .rcMain .rcRow span
{
	color:#000;
}

.RadCalendar_ATGSkin .rcMain .rcWeekend a
{
	color:#444;
}

.RadCalendar_ATGSkin .rcRow .rcToday
{
	border-color:#688caf;
}

.RadCalendar_ATGSkin .rcMain .rcOtherMonth a
{
	color:#777;
}

.RadCalendar_ATGSkin .rcMain .rcOutOfRange span
{
	color:#777;
}

.RadCalendar_ATGSkin .rcRow .rcSelected
{
	border-color:#8f8367 #a59b85 #c3bdae;
	background:#fcda88 0 -1700px repeat-x url(<%= WebResource("ATGCorpSkin.Calendar.sprite.gif") %>);
}

.RadCalendar_ATGSkin .rcRow .rcHover
{
	border-color:#d8ca95 #b89f73 #c6b99c;
	background:#ffdf85 0 -1600px repeat-x url(<%= WebResource("ATGCorpSkin.Calendar.sprite.gif") %>);
}

/*multimonth view*/

.RadCalendarMultiView_ATGSkin .rcTitlebar
{
	background:#d6e6f4 0 -1199px repeat-x url(<%= WebResource("ATGCorpSkin.Calendar.sprite.gif") %>);
}

.RadCalendarMultiView_ATGSkin .rcTitlebar table
{
	border:1px solid #f6f7f9;
	line-height:27px;
}

.RadCalendarMultiView_ATGSkin .rcTitlebar td
{
	padding-bottom:1px;
}

.RadCalendarMultiView_ATGSkin .rcCalendar
{
	border-color:#688caf;
	border-top:0;
}

.RadCalendarMultiView_ATGSkin .rcCalendar .rcMainTable
{
	height:195px;
}

.RadCalendarMultiView_ATGSkin .rcMainTable .rcTitle
{
	border-width:1px 0;
	border-color:#688caf #9eb6ce #9eb6ce;
	padding:0 0 2px;
	background:#c3d8f1 0 -1000px repeat-x url(<%= WebResource("ATGCorpSkin.Calendar.sprite.gif") %>);
	color:#00156e;
	line-height:22px;
}

/*month view*/

table.RadCalendarMonthView_ATGSkin
{
	border-color:#868686;
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
	color:#000;
}

.RadCalendarMonthView_ATGSkin #rcMView_Feb,
.RadCalendarMonthView_ATGSkin #rcMView_Apr,
.RadCalendarMonthView_ATGSkin #rcMView_Jun,
.RadCalendarMonthView_ATGSkin #rcMView_Aug,
.RadCalendarMonthView_ATGSkin #rcMView_Oct,
.RadCalendarMonthView_ATGSkin #rcMView_Dec
{
	border-right:1px solid #9ebfdb;
}

.RadCalendarMonthView_ATGSkin a
{
	color:#000;
}

.RadCalendarMonthView_ATGSkin .rcSelected a
{
	border-color:#8f8367 #a59b85 #c3bdae;
	background:#fcda88 0 -1700px repeat-x url(<%= WebResource("ATGCorpSkin.Calendar.sprite.gif") %>);
}

.RadCalendarMonthView_ATGSkin #rcMView_PrevY a,
.RadCalendarMonthView_ATGSkin #rcMView_NextY a
{
	width:15px;
	height:13px;
	overflow:hidden;
	background-image:url(<%= WebResource("ATGCorpSkin.Calendar.sprite.gif") %>);
	color:#ccc;
}

.RadCalendarMonthView_ATGSkin #rcMView_PrevY a
{
	background-position:3px -200px;
}

.RadCalendarMonthView_ATGSkin #rcMView_NextY a
{
	background-position:4px -500px;
}

.RadCalendarMonthView_ATGSkin .rcButtons
{
	padding:5px 7px 3px;
}

.RadCalendarMonthView_ATGSkin input
{
	border-color:#7793b9;
	padding:1px 0 0;
	background:#e8f1fc 0 -2300px repeat-x url(<%= WebResource("ATGCorpSkin.Calendar.sprite.gif") %>);
	color:#00156e;
	font:12px "segoe ui",arial,sans-serif;
}

/*IE7 performance issue*/
/*.RadCalendarMonthView_ATGSkin input:hover
{
	border-color:#d8ca95 #b89f73 #c6b99c;
	background-color:#ffe18a;
	background-position:0 -2350px;
	color:#000;
}*/

/*time view*/

table.RadCalendarTimeView_ATGSkin
{
	border-color:#688caf;
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
}

.RadCalendarTimeView_ATGSkin th
{
	border-bottom:1px solid #9eb6ce;
	padding:0 0 1px;
	background:#c3d8f1 0 -1000px repeat-x url(<%= WebResource("ATGCorpSkin.Calendar.sprite.gif") %>);
	color:#00156e;
	line-height:23px;
}

table.RadCalendarTimeView_ATGSkin td
{
	border-color:#9ebfdb;
}

.RadCalendarTimeView_ATGSkin a
{
	color:#000;
}

.RadCalendarTimeView_ATGSkin td.rcSelected a
{
	border-color:#8f8367 #a59b85 #c3bdae;
	background:#fcda88 0 -1700px repeat-x url(<%= WebResource("ATGCorpSkin.Calendar.sprite.gif") %>);
}

.RadCalendarTimeView_ATGSkin td.rcHover a
{
	border-color:#d8ca95 #b89f73 #c6b99c;
	background:#ffdf85 0 -1600px repeat-x url(<%= WebResource("ATGCorpSkin.Calendar.sprite.gif") %>);
}

.RadCalendarTimeView_ATGSkin .rcFooter
{
	border-color:#688caf;
}

/*pickers*/

.RadPicker_ATGSkin .rcCalPopup,
.RadPicker_ATGSkin .rcTimePopup
{
	background-image:url(<%= WebResource("ATGCorpSkin.Calendar.sprite.gif") %>);
}

.RadPicker_ATGSkin .rcCalPopup,
.RadPicker_ATGSkin a.rcDisabled.rcCalPopup:hover
{
	background-position:0 0;
}

.RadPicker_ATGSkin a.rcCalPopup:hover,
.RadPicker_ATGSkin a.rcCalPopup:focus,
.RadPicker_ATGSkin a.rcCalPopup:active
{
	background-position:0 -50px;
}

.RadPicker_ATGSkin .rcTimePopup,
.RadPicker_ATGSkin a.rcDisabled.rcTimePopup:hover
{
	background-position:0 -100px;
}

.RadPicker_ATGSkin a.rcTimePopup:hover,
.RadPicker_ATGSkin a.rcTimePopup:focus,
.RadPicker_ATGSkin a.rcTimePopup:active
{
	background-position:0 -150px;
}

/*rtl*/

.RadCalendarRTL_ATGSkin .rcTitlebar .rcFastPrev
{
	background-position:0 -500px;
}

.RadCalendarRTL_ATGSkin .rcTitlebar a.rcFastPrev:hover
{
	background-position:0 -550px;
}

.RadCalendarRTL_ATGSkin .rcTitlebar .rcPrev
{
	background-position:0 -400px;
}

.RadCalendarRTL_ATGSkin .rcTitlebar a.rcPrev:hover
{
	background-position:0 -450px;
}

.RadCalendarRTL_ATGSkin .rcTitlebar .rcNext
{
	background-position:0 -300px;
}

.RadCalendarRTL_ATGSkin .rcTitlebar a.rcNext:hover
{
	background-position:0 -350px;
}

.RadCalendarRTL_ATGSkin .rcTitlebar .rcFastNext
{
	background-position:0 -200px;
}

.RadCalendarRTL_ATGSkin .rcTitlebar a.rcFastNext:hover
{
	background-position:0 -250px;
}