/* RadColorPicker Office2007 skin */
.RadColorPicker_ATGSkin .rcpViews,
.RadColorPicker_ATGSkin .rcpHeader,
.RadColorPicker_ATGSkin .rcpPageView
{
	background-color:#dbe6f4;
}

.RadColorPicker_ATGSkin .rcpColorPreview,
.RadColorPicker_ATGSkin .rcpInput,
.RadColorPicker_ATGSkin .rcpHexInput,
.RadColorPicker_ATGSkin .rcpMillionColorsPalette,
.RadColorPicker_ATGSkin .rcpMillionColorsSlider div.rslTrack
{
	border:1px solid #abc1de;
}

.RadColorPicker_ATGSkin .rcpPalette,
.RadColorPicker_ATGSkin input,
.RadColorPicker_ATGSkin a,
.RadColorPicker_ATGSkin .rcpApplyButton:hover span
{
	color:#000;
}

.RadColorPicker_ATGSkin .rcpTabs ul li a
{
	color:#00156e;
	background-position:left -289px;
	padding:0 0 0 6px;
}

.RadColorPicker_ATGSkin .rcpTabs ul li a span
{
	padding:0 6px 0 0;
	background-position:right top;
}

.RadColorPicker_ATGSkin .rcpTabs ul li.rcpSelectedTab a
{
	background-position:-1014px -289px;
	padding-left:6px;
}

.RadColorPicker_ATGSkin .rcpTabs ul li.rcpSelectedTab a span
{
	background-position:right -26px;
	padding-right:6px;
}

.RadColorPicker_ATGSkin .rcpApplyButton span,
.RadColorPicker_ATGSkin .rcpButton span
{
	color:#00156e;
}

.RadColorPicker_ATGSkin .rcpHeader,
.RadColorPicker_ATGSkin .rcpHeader .rcpImageButton,
.RadColorPicker_ATGSkin .rcpRecentColors,
.RadColorPicker_ATGSkin .rcpIcon a,
.RadColorPicker_ATGSkin .rcpTabs a,
.RadColorPicker_ATGSkin .rcpTabs a span,
.RadColorPicker_ATGSkin .rcpButton,
.RadColorPicker_ATGSkin .rcpButton span,
.RadColorPicker_ATGSkin .rcpMillionColorsHandle,
.RadColorPicker_ATGSkin .rcpSlider div.rslTrack,
/* overwrite sliders */
.RadColorPicker_ATGSkin .rcpSlider .rslTrack a.rslDraghandle,
.RadColorPicker_ATGSkin div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle
{
	background-image:url(<%= WebResource("ATGCorpSkin.ColorPicker.ColorPickerSprites.png") %>);
	background-repeat:no-repeat;
}

/* Rounded corners and shadows */
.RadColorPicker_ATGSkin .rcpPalette,
.RadColorPicker_ATGSkin .rcpRoundedRight,
.RadColorPicker_ATGSkin .rcpRoundedBottomRight,
.RadColorPicker_ATGSkin .rcpRightShadow,
.RadColorPicker_ATGSkin .rcpCornerShadow
{
	background-image:url(<%= WebResource("ATGCorpSkin.ColorPicker.rcpVerticalSprites.png") %>);
}

.RadColorPicker_ATGSkin .rcpRoundedBottomLeft,
.RadColorPicker_ATGSkin .rcpBottomShadow
{
	background-image:url(<%= WebResource("ATGCorpSkin.ColorPicker.ColorPickerSprites.png") %>);
}

* html .RadColorPicker_ATGSkin .rcpPalette,
* html .RadColorPicker_ATGSkin .rcpRoundedRight,
* html .RadColorPicker_ATGSkin .rcpRoundedBottomRight,
* html .RadColorPicker_ATGSkin .rcpRoundedBottomLeft
{
	background-image:url(<%= WebResource("ATGCorpSkin.ColorPicker.rcpVerticalSpritesIE6.png") %>);
}
