.RadDock_ATGSkin .rdMiddle .rdLeft,
.RadDock_ATGSkin .rdMiddle .rdRight
{
	background-image: url(<%= WebResource("ATGCorpSkin.Dock.VerticalSprite.gif") %>);
}

.RadDock_ATGSkin .rdTop .rdLeft,
.RadDock_ATGSkin .rdTop .rdRight,
.RadDock_ATGSkin .rdTop .rdCenter,
.RadDock_ATGSkin .rdBottom .rdLeft,
.RadDock_ATGSkin .rdBottom .rdRight,
.RadDock_ATGSkin .rdBottom .rdCenter
{
	background-image: url(<%= WebResource("ATGCorpSkin.Dock.HorizontalSprite.png") %>);
}

.RadDock_ATGSkin .rdCenter .rdCommands a span
{
	background-image: url(<%= WebResource("ATGCorpSkin.Dock.CommandSprite.gif") %>);
}

.RadDock_ATGSkin .rdMiddle .rdCenter,
.RadDock_ATGSkin .rdBottom .rdCenter
{
	background-color: #fff;
}

.RadDock_ATGSkin .rdContent
{
	color: black;
}

.RadDock_ATGSkin .rdTitleBar em
{
	color: #00156e;
}