/*Telerik RadFilter Office2007 skin*/

/*sprite*/

.RadFilter_ATGSkin .rfLeft,
.RadFilter_ATGSkin .rfMid,
.RadFilter_ATGSkin .rfTools,
.RadFilter_ATGSkin .rfRight,
.RadFilter_ATGSkin .rfOper:hover,
.RadFilter_ATGSkin .rfField:hover,
.RadFilter_ATGSkin .rfExp:hover,
.RadFilter_ATGSkin .rfOper:focus,
.RadFilter_ATGSkin .rfField:focus,
.RadFilter_ATGSkin .rfExp:focus,
.RadFilter_ATGSkin .rfOper:active,
.RadFilter_ATGSkin .rfField:active,
.RadFilter_ATGSkin .rfExp:active,
.RadFilter_ATGSkin .rfAddGr,
.RadFilter_ATGSkin .rfAddExp,
.RadFilter_ATGSkin .rfDel,
.RadFilter_ATGSkin .rfApply a,
.RadFilter_ATGSkin .rfApply input
{
	background-image:url(<%= WebResource("ATGCorpSkin.Filter.sprite.gif") %>);
}

/*global*/

.RadFilter_ATGSkin,
.RadFilter_ATGSkin .rfText,
.RadFilter_ATGSkin .rfApply input
{
	font-size:12px;
	font-family:"segoe ui",arial,sans-serif;
}

.RadFilter_ATGSkin,
.RadFilter_ATGSkin a,
.RadFilter_ATGSkin .rfText
{
	color:#000;
}

/*lines*/

.RadFilter_ATGSkin .rfLines li li
{
	background-image:url(<%= WebResource("ATGCorpSkin.Filter.rfLine.gif") %>);
}

.RadFilter_ATGSkin .rfLines li li .rfDiv
{
	background-image:url(<%= WebResource("ATGCorpSkin.Filter.rfMiddle.gif") %>);
}

.RadFilter_ATGSkin .rfLines li li.rfLast .rfDiv
{
	background-image:url(<%= WebResource("ATGCorpSkin.Filter.rfLast.gif") %>);
}

/*item elements*/

.RadFilter_ATGSkin .rfLeft
{
	background-position:0 0;
}

.RadFilter_ATGSkin .rfRight
{
	background-position:100% 0;
}

.RadFilter_ATGSkin .rfMid,
.RadFilter_ATGSkin .rfTools
{
	background-position:0 -100px;
}

.RadFilter_ATGSkin .rfField
{
	color:#00156e;
}

.RadFilter_ATGSkin .rfOper:hover,
.RadFilter_ATGSkin .rfField:hover,
.RadFilter_ATGSkin .rfExp:hover,
.RadFilter_ATGSkin .rfOper:focus,
.RadFilter_ATGSkin .rfField:focus,
.RadFilter_ATGSkin .rfExp:focus,
.RadFilter_ATGSkin .rfOper:active,
.RadFilter_ATGSkin .rfField:active,
.RadFilter_ATGSkin .rfExp:active
{
	background-position:100% -76px;
	color:#000;
}

.RadFilter_ATGSkin .rfText
{
	border-color:#abc1de;
	background-color:#fff;
}

.RadFilter_ATGSkin .rfAddExp
{
	background-position:-300px 0;
}
.RadFilter_ATGSkin .rfAddExp:hover
{
	background-position:-350px 0;
}

.RadFilter_ATGSkin .rfAddGr
{
	background-position:-400px 0;
}
.RadFilter_ATGSkin .rfAddGr:hover
{
	background-position:-450px 0;
}

.RadFilter_ATGSkin .rfDel
{
	background-position:-150px 0;
}
.RadFilter_ATGSkin .rfDel:hover
{
	background-position:-200px 0;
}

/*preview*/

.RadFilter_ATGSkin .rfPreview strong
{
	color:#00156e;
}

.RadFilter_ATGSkin .rfPreview em,
.RadFilter_ATGSkin .rfPreview .rfBr
{
	color:#0048ed;
}

/*apply*/

.RadFilter_ATGSkin .rfApply a
{
	background-position:100% -29px;
}
.RadFilter_ATGSkin .rfApply input
{
	background-position:0 -50px;
}
.RadFilter_ATGSkin .rfApply input
{
	color:#00156e;
}

/*rtl*/

.RadFilterRTL_ATGSkin .rfLines li li
{
	background-image:url(<%= WebResource("ATGCorpSkin.Filter.rfLine-rtl.gif") %>);
}

.RadFilterRTL_ATGSkin .rfLines li li .rfDiv
{
	background-image:url(<%= WebResource("ATGCorpSkin.Filter.rfMiddle-rtl.gif") %>);
}

.RadFilterRTL_ATGSkin .rfLines li li.rfLast .rfDiv
{
	background-image:url(<%= WebResource("ATGCorpSkin.Filter.rfLast-rtl.gif") %>);
}

.RadFilterRTL_ATGSkin .rfLeft
{
	background-position:100% 0;
}

.RadFilterRTL_ATGSkin .rfRight
{
	background-position:0 0;
}

.RadFilterRTL_ATGSkin .rfOper:hover,
.RadFilterRTL_ATGSkin .rfField:hover,
.RadFilterRTL_ATGSkin .rfExp:hover,
.RadFilterRTL_ATGSkin .rfOper:focus,
.RadFilterRTL_ATGSkin .rfField:focus,
.RadFilterRTL_ATGSkin .rfExp:focus,
.RadFilterRTL_ATGSkin .rfOper:active,
.RadFilterRTL_ATGSkin .rfField:active,
.RadFilterRTL_ATGSkin .rfExp:active
{
	background-position:-586px -76px;
}