/* RadFormDecorator for ASP.NET Office2007 Skin */

/* CSS class for styling the decoration zone or the <html /> tag of the page */
.RadForm_ATGSkin.rfdZone
{  
}

/* Decorate scrollbars */
.RadForm_ATGSkin.rfdScrollBars
{
	scrollbar-3dlight-color: #606f94; 
	scrollbar-arrow-color: #4d5874;
	scrollbar-base-color: #f5f5f5; 
	scrollbar-darkshadow-color: #5f6e93; 
	scrollbar-face-color: #d8dfe8;
	scrollbar-highlight-color: #fff; 
	scrollbar-shadow-color: #a3a3a3;
	scrollbar-track-color: #efefef;
}

/* Decorate <input type="button | submit | reset" /> and <button type="button | submit | reset" /> - look if there is a secondary .rfdButton class applied to the root element */
.RadForm_ATGSkin.rfdButton a.rfdSkinnedButton,
.RadForm_ATGSkin.rfdButton input[type="button"].rfdDecorated,
.RadForm_ATGSkin.rfdButton input[type="reset"].rfdDecorated,
.RadForm_ATGSkin.rfdButton input[type="submit"].rfdDecorated,
.RadForm_ATGSkin.rfdButton .rfdSkinnedButton button
{
	background-image: url(<%= WebResource("ATGCorpSkin.FormDecorator.ButtonSprites.gif") %>);
	color: #000;
}

*html .RadForm_ATGSkin a.rfdSkinnedButton,
*html .RadForm_ATGSkin .rfdSkinnedButton button,
*html .RadForm_ATGSkin .rfdSkinnedButton input.rfdDecorated,
.RadForm_ATGSkin.rfdButton a.rfdSkinnedButton,
.RadForm_ATGSkin.rfdButton a.rfdSkinnedButton *
{
	background-image: url(<%= WebResource("ATGCorpSkin.FormDecorator.ButtonSprites.gif") %>);
	color: #000;
}

/* OPERA width fix - do not remove (and check if it is still necessary) */
@media screen and (min-width:1px)  
{
	/* 
       the hack below fixes a strange behavior under Opera - 
       input and button have a different CSS display when in anchor tag 
    */
	.RadForm_ATGSkin.rfdButton a.rfdSkinnedButton input
	{
	    display: block;
	    float: left;
	}
}

/* Decorate <h4|5|6 /> */
.RadForm_ATGSkin.rfdHeading h4
{
	color: #567db0;	
	border-bottom: solid 1px #a0a0a0;	
}

.RadForm_ATGSkin.rfdHeading h5
{
	color: #000;	
	border-bottom: solid 1px #a0a0a0;	
}

.RadForm_ATGSkin.rfdHeading h6
{
	color: #000;
}

/* Decorate <label /> */
.RadForm_ATGSkin.rfdLabel label
{	
	color: #000;
}

/* Decorate <input type="checkbox" /> */
.RadForm_ATGSkin .rfdCheckboxUnchecked,
.RadForm_ATGSkin .rfdCheckboxChecked,
.RadForm_ATGSkin .rfdInputDisabled.rfdCheckboxUnchecked,
.RadForm_ATGSkin .rfdInputDisabled.rfdCheckboxChecked
{
	background-image: url(<%= WebResource("ATGCorpSkin.FormDecorator.CheckBoxSprites.gif") %>);
}

/* Decorate <input type="radio" /> */
.RadForm_ATGSkin .rfdRadioUnchecked,
.RadForm_ATGSkin .rfdRadioChecked,
.RadForm_ATGSkin .rfdInputDisabled.rfdRadioUnchecked,
.RadForm_ATGSkin .rfdInputDisabled.rfdRadioChecked
{
	background-image: url(<%= WebResource("ATGCorpSkin.FormDecorator.RadioButtonSprites.png") %>);
}

/* IE6 - we set .gif")%> image instead of .png")%> due to the lack RGBA support */
.RadForm_ATGSkin .rfdRadioUnchecked,
.RadForm_ATGSkin .rfdInputDisabled.rfdRadioUnchecked:hover,
.RadForm_ATGSkin .rfdRadioUnchecked:hover,
.RadForm_ATGSkin .rfdRadioChecked,
.RadForm_ATGSkin .rfdInputDisabled.rfdRadioChecked:hover,
.RadForm_ATGSkin .rfdRadioChecked:hover
{
    _background-image: url(<%= WebResource("ATGCorpSkin.FormDecorator.RadioButtonSprites.gif") %>); /* IE6 hack */
}

/* <fieldset /> and <legend /> */

.RadForm_ATGSkin.rfdFieldset table.rfdRoundedWrapper_fieldset legend,
.RadForm_ATGSkin fieldset.rfdFieldset legend,
.RadForm_ATGSkin.rfdFieldset fieldset legend
{
	color: #000;	
}

.RadForm_ATGSkin table.rfdRoundedWrapper:hover div.rfdRoundedInner
{
    background-color: #fff;
    border-color: #305090 !important;
}

/* this selector styles the hover of the side bars of the rounded elements */
.RadForm_ATGSkin table.rfdRoundedWrapper:hover .rfdRoundedOuter
{	
	background-color: #305090 !important;
}

/* Decorate <input type="text | password | search | url | tel | email" /> and <textarea /> */
/* For all browsers except IE6 we are using attribute selectors - single or double */
.RadForm_ATGSkin.rfdTextbox input[type="text"],
.RadForm_ATGSkin.rfdTextbox input[type="password"],
.RadForm_ATGSkin.rfdTextbox input[type="search"],
.RadForm_ATGSkin.rfdTextbox input[type="url"],
.RadForm_ATGSkin.rfdTextbox input[type="tel"],
.RadForm_ATGSkin.rfdTextbox input[type="email"],
.RadForm_ATGSkin.rfdTextarea textarea,
.RadForm_ATGSkin.rfdTextarea textarea[disabled]:hover,
.RadForm_ATGSkin.rfdTextbox input[disabled][type="text"]:hover,
.RadForm_ATGSkin.rfdTextbox input[disabled][type="password"]:hover,
.RadForm_ATGSkin.rfdTextbox input[disabled][type="search"]:hover,
.RadForm_ATGSkin.rfdTextbox input[disabled][type="url"]:hover,
.RadForm_ATGSkin.rfdTextbox input[disabled][type="tel"]:hover,
.RadForm_ATGSkin.rfdTextbox input[disabled][type="email"]:hover
{
    border: solid 1px #abc1de;
    background-color: #fff;
}

.RadForm_ATGSkin.rfdTextbox .rfdDecorated:hover,
.RadForm_ATGSkin.rfdTextarea textarea:hover,
.RadForm_ATGSkin.rfdTextbox .rfdDecorated:focus,
.RadForm_ATGSkin.rfdTextarea textarea:focus
{
    border: solid 1px #305090;
}

/* Decorate <fieldset /> */
.RadForm_ATGSkin.rfdFieldset fieldset
{	
	border: solid 1px #9ebfdb;
	background-image: url(<%= WebResource("ATGCorpSkin.FormDecorator.FieldsetBgr.png") %>); /* having a background image on a fieldset is not okay with IE */	
}

/* Decorate <fieldset /> and <legend /> */
.RadForm_ATGSkin.rfdFieldset table.rfdRoundedWrapper_fieldset legend,
.RadForm_ATGSkin.rfdFieldset fieldset.rfdFieldset legend
{
	color: #000;	
}

.RadForm_ATGSkin.rfdFieldset table.rfdRoundedWrapper_fieldset fieldset,
.RadForm_ATGSkin.rfdFieldset fieldset.rfdFieldset
{	
	border: solid 1px #9ebfdb;
	background-image: url(<%= WebResource("ATGCorpSkin.FormDecorator.FieldsetBgr.png") %>); /* having a background image on a fieldset is not okay with IE */	
}

/* Because of a glitch in IE the following 2 CSS classes must be declared separately for correct parsing of the textarea class in IE6*/
.RadForm_ATGSkin table.rfdRoundedWrapper input,
.RadForm_ATGSkin table.rfdRoundedWrapper textarea,
.RadForm_ATGSkin input.rfdInput, 
.RadForm_ATGSkin textarea.rfdTextarea
{
	border: solid 1px #abc1de;
	background: #fff;	
	color: #000;
}

.RadForm_ATGSkin textarea.rfdTextarea,
.RadForm_ATGSkin table.rfdRoundedWrapper textarea
{
    overflow: auto;
}

/* <select /> */
.rfdSelect_ATGSkin,
.rfdSelect_ATGSkin:hover,
.rfdSelect_ATGSkin .rfdSelectOuter,
.rfdSelect_ATGSkin:hover .rfdSelectOuter,
.rfdSelect_ATGSkin .rfdSelectArrow span,
.rfdSelectBox_ATGSkin .rfdSelect_selected,
.rfdSelectBox_ATGSkin li:hover,
.rfdSelect_ATGSkin.rfdSelectDisabled:hover,
.rfdRtl .rfdSelect_ATGSkin,
.rfdRtl .rfdSelect_ATGSkin:hover,
.rfdRtl .rfdSelect_ATGSkin .rfdSelectOuter,
.rfdRtl .rfdSelect_ATGSkin .rfdSelectOuter:hover
{
    background-image: url(<%= WebResource("ATGCorpSkin.FormDecorator.ComboSprites.gif") %>);
    background-repeat: no-repeat;
    background-color: transparent;
}

.rfdSelect_ATGSkin .rfdSelectOuter,
.rfdSelect_ATGSkin.rfdSelectDisabled:hover .rfdSelectOuter
{
    color: #000;
}

/* dropdown settings */
.rfdSelectBox_ATGSkin
{
    background: #fff;
    border: solid 1px #828282;
    color: #000;
}

.rfdSelectBox_ATGSkin li
{
    padding: 0 0 0 3px;
    background-image: none !important;
}

.rfdSelectBox_ATGSkin .rfdSelect_selected,
.rfdSelectBox_ATGSkin li:hover
{
    color: #000;
    background-color: #ffdc7a;
}

.rfdSelectBox_ATGSkin .rfdSelectBox_optgroup_label:hover
{
    background: none;
    color: #000;
}

/* IE6 disabled state fix - this should not be added to the base stylesheet, but at the bottom of the skin file */
* html .RadForm_ATGSkin.rfdButton a.rfdInputDisabled:hover
{
	_background-position: 0 0;
}

* html .RadForm_ATGSkin.rfdButton a.rfdInputDisabled:hover *
{
	_background-position: right -21px;
	_color: #000;
}

.RadForm_ATGSkin.rfdTextbox input.rfdIE6TextBox,
.RadForm_ATGSkin.rfdTextbox textarea.rfdIE6TextBox
{
    _border: solid 1px #abc1de;
    _background-color: #fff;
}

/* the styling of radiobuttons and checkboxes in Safari and Chrome is already fully achieved with CSS */
@media screen and (-webkit-min-device-pixel-ratio: 0)
{
    /* checkboxes */
    .rfdCheckbox input[type="checkbox"],
    .rfdCheckbox input[type="checkbox"][disabled]:hover
    {
        background-image: url(<%= WebResource("ATGCorpSkin.FormDecorator.CheckBoxSprites.gif") %>);
    }
    
    /* radio buttons */
    .rfdRadio input[type="radio"],
    .rfdRadio input[type="radio"][disabled="disabled"]:hover
    {
        background-image: url(<%= WebResource("ATGCorpSkin.FormDecorator.RadioButtonSprites.png") %>);
    }
}

/* ----------------------------------------------- Skin-specific Scrollbar Settings for WebKit ----------------------------------------------- */

/* the scrollbar face color */
.RadForm.rfdScrollBars.RadForm_ATGSkin body::-webkit-scrollbar,
.RadForm.rfdScrollBars.RadForm_ATGSkin body::-webkit-scrollbar-thumb:vertical,
.RadForm.rfdScrollBars.RadForm_ATGSkin body::-webkit-scrollbar-thumb:horizontal,
.RadForm.rfdScrollBars.RadForm_ATGSkin div::-webkit-scrollbar,
.RadForm.rfdScrollBars.RadForm_ATGSkin div::-webkit-scrollbar-thumb:vertical,
.RadForm.rfdScrollBars.RadForm_ATGSkin div::-webkit-scrollbar-thumb:horizontal
.RadForm.rfdScrollBars.RadForm_ATGSkin form::-webkit-scrollbar,
.RadForm.rfdScrollBars.RadForm_ATGSkin form::-webkit-scrollbar-thumb:vertical,
.RadForm.rfdScrollBars.RadForm_ATGSkin form::-webkit-scrollbar-thumb:horizontal
{
    background-color: #d8dfe8;
}

/* scrollbar track background color */
.RadForm.rfdScrollBars.RadForm_ATGSkin ::-webkit-scrollbar-track-piece,
.RadForm.rfdScrollBars.RadForm_ATGSkin ::-webkit-scrollbar-corner
{
    background-color: #efefef;
}

.RadForm.rfdScrollBars.RadForm_ATGSkin ::-webkit-scrollbar-button:vertical:decrement, 
.RadForm.rfdScrollBars.RadForm_ATGSkin ::-webkit-scrollbar-button:vertical:increment, 
.RadForm.rfdScrollBars.RadForm_ATGSkin ::-webkit-scrollbar-button:horizontal:decrement, 
.RadForm.rfdScrollBars.RadForm_ATGSkin ::-webkit-scrollbar-button:horizontal:increment, 
.RadForm.rfdScrollBars.RadForm_ATGSkin ::-webkit-scrollbar-thumb:vertical, 
.RadForm.rfdScrollBars.RadForm_ATGSkin ::-webkit-scrollbar-thumb:horizontal
{
    border-color: #fff #a3a3a3 #a3a3a3 #fff;
}

/* increment / decrement button settings */
.RadForm.rfdScrollBars.RadForm_ATGSkin ::-webkit-scrollbar-button:vertical:decrement, 
.RadForm.rfdScrollBars.RadForm_ATGSkin ::-webkit-scrollbar-button:vertical:increment, 
.RadForm.rfdScrollBars.RadForm_ATGSkin ::-webkit-scrollbar-button:horizontal:decrement, 
.RadForm.rfdScrollBars.RadForm_ATGSkin ::-webkit-scrollbar-button:horizontal:increment
{
    background-image: url(<%= WebResource("ATGCorpSkin.FormDecorator.ButtonSprites.gif") %>);
    background-color: #d8dfe8;
}

/*GridView, FormView, DetailsView*/
.RadForm_ATGSkin.rfdGrids .rfdTable
{
    border:1px solid #688caf;
    background:#fff;
    color:#333;
    font:12px "segoe ui",arial,sans-serif;
}

.RadForm_ATGSkin.rfdGrids .rfdTable th
{
    border-bottom:1px solid #5d8cc9;
    border-left:1px solid #5d8cc9;
    background:#c3d8f1;
    color:#00156e;
}

.RadForm_ATGSkin.rfdGrids .rfdTable a
{
    color:#00156e;
}

/* Validation Summary Control and Login Control  */

.RadForm_ATGSkin .rfdValidationSummaryControl,
.RadForm_ATGSkin .rfdLoginControl
{
	background-color: #fff;
	border: 1px solid #abc1de;
}

.RadForm_ATGSkin a.rfdLoginControl
{
	color: #00156e;
}

.RadForm_ATGSkin a.rfdLoginControl:active,
.RadForm_ATGSkin a.rfdLoginControl:hover,
.RadForm_ATGSkin a.rfdLoginControl:visited
{
	color: #000;
}