.RadListBox_ATGSkin .rlbGroup
{
    border: 1px solid #abc1de;
    background: #FFF;
}

.RadListBox_ATGSkin .rlbTemplateContainer
{
    border-color: #abc1de;
}

.RadListBox_ATGSkin .rlbText,
.RadListBox_ATGSkin .rlbItem,
.RadListBox_ATGSkin .rlbButtonText,
.RadListBox_ATGSkin .rlbEmptyMessage
{
	font-size: 12px;
	font-family: "Segoe UI", Arial, sans-serif;
	color: #00156e;
}

.RadListBox_ATGSkin .rlbHighlight
{
    color: #aa3900;
}

.RadListBox_ATGSkin .rlbText,
.RadListBox_ATGSkin .rlbItem
{
	line-height: 18px;
}

.RadListBox_ATGSkin .rlbGroup .rlbHovered
{
	background: #ffe27b;
	color: #000;
}

.RadListBox_ATGSkin .rlbGroup .rlbSelected
{
	background: #fcc365;
	color: #000;
}

.RadListBox_ATGSkin .rlbDisabled .rlbText
{
	color: #777;
}

.RadListBox_ATGSkin .rlbDisabled .rlbImage
{
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);
}

.RadListBox_ATGSkin .rlbHeader,
.RadListBox_ATGSkin .rlbFooter
{
    background-image: url(<%= WebResource("ATGCorpSkin.ListBox.rlbHeaderFooter.png") %>);
    background-position: 0 0;
    background-repeat: repeat-x;
    background-color: #f1f2f4;
}

.RadListBox_ATGSkin .rlbFooter
{
    background-position: 0 -200px;
    background-color: #fff;
}

.RadListBox_ATGSkin .rlbDropClue
{
    background-image: url(<%= WebResource("ATGCorpSkin.ListBox.rlbDropClue.png") %>);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
	left: -12px;
	width: 12px;
}

.RadListBox_ATGSkin .rlbGroup .rlbDropClueAbove
{
	border-top-style: dotted;
	border-top-color: #8e8e8e;
}

.RadListBox_ATGSkin .rlbGroup .rlbDropClueBelow
{
	border-bottom-style: dotted;
	border-bottom-color: #8e8e8e;
}

.RadListBox_ATGSkin .rlbGroup .rlbSelected.rlbDropClueAbove,
.RadListBox_ATGSkin .rlbGroup .rlbHovered.rlbDropClueAbove,
.RadListBox_ATGSkin .rlbGroup .rlbSelected.rlbDropClueBelow,
.RadListBox_ATGSkin .rlbGroup .rlbHovered.rlbDropClueBelow
{
	border-color: #8e8e8e;
}

/* Buttons normal state vertical layout*/
.RadListBox_ATGSkin .rlbButtonText
{
	background: transparent url(<%= WebResource("ATGCorpSkin.ListBox.rlbSprite.png") %>) no-repeat;
}

.RadListBox_ATGSkin .rlbButton:hover .rlbButtonTL,
.RadListBox_ATGSkin .rlbButton:hover .rlbButtonTR,
.RadListBox_ATGSkin .rlbButton:hover .rlbButtonBL,
.RadListBox_ATGSkin .rlbButton:hover .rlbButtonBR
{
	background-image: url(<%= WebResource("ATGCorpSkin.ListBox.rlbButtonHover.png") %>);
}

* html .RadListBox_ATGSkin .rlbButton:hover .rlbButtonTL,
* html .RadListBox_ATGSkin .rlbButton:hover .rlbButtonTR,
* html .RadListBox_ATGSkin .rlbButton:hover .rlbButtonBL,
* html .RadListBox_ATGSkin .rlbButton:hover .rlbButtonBR
{
	background-image: url(<%= WebResource("ATGCorpSkin.ListBox.rlbButtonHoverIE6.png") %>);
}

.RadListBox_ATGSkin .rlbButton .rlbButtonTL,
.RadListBox_ATGSkin .rlbButton .rlbButtonTR,
.RadListBox_ATGSkin .rlbButton .rlbButtonBL,
.RadListBox_ATGSkin .rlbButton .rlbButtonBR
{
	background-image: url(<%= WebResource("ATGCorpSkin.ListBox.rlbButtonNormal.png") %>);
}

* html .RadListBox_ATGSkin .rlbButton .rlbButtonTL,
* html .RadListBox_ATGSkin .rlbButton .rlbButtonTR,
* html .RadListBox_ATGSkin .rlbButton .rlbButtonBL,
* html .RadListBox_ATGSkin .rlbButton .rlbButtonBR
{
	background-image: url(<%= WebResource("ATGCorpSkin.ListBox.rlbButtonNormalIE6.png") %>);
}

.RadListBox_ATGSkin .rlbDisabled .rlbButtonTL,
.RadListBox_ATGSkin .rlbDisabled .rlbButtonTR,
.RadListBox_ATGSkin .rlbDisabled .rlbButtonBL,
.RadListBox_ATGSkin .rlbDisabled .rlbButtonBR,
.RadListBox_ATGSkin .rlbDisabled:hover .rlbButtonTL,
.RadListBox_ATGSkin .rlbDisabled:hover .rlbButtonTR,
.RadListBox_ATGSkin .rlbDisabled:hover .rlbButtonBL,
.RadListBox_ATGSkin .rlbDisabled:hover .rlbButtonBR
{
	background-image: url(<%= WebResource("ATGCorpSkin.ListBox.rlbButtonDisabled.png") %>);
}

* html .RadListBox_ATGSkin .rlbDisabled .rlbButtonTL,
* html .RadListBox_ATGSkin .rlbDisabled .rlbButtonTR,
* html .RadListBox_ATGSkin .rlbDisabled .rlbButtonBL,
* html .RadListBox_ATGSkin .rlbDisabled .rlbButtonBR,
* html .RadListBox_ATGSkin .rlbDisabled:hover .rlbButtonTL,
* html .RadListBox_ATGSkin .rlbDisabled:hover .rlbButtonTR,
* html .RadListBox_ATGSkin .rlbDisabled:hover .rlbButtonBL,
* html .RadListBox_ATGSkin .rlbDisabled:hover .rlbButtonBR
{
	background-image: url(<%= WebResource("ATGCorpSkin.ListBox.rlbButtonDisabledIE6.png") %>);
}

.RadListBox_ATGSkin .rlbButton:hover .rlbButtonText 
{ 
	color: #000; 
}

.RadListBox_ATGSkin .rlbDisabled .rlbButtonText,
.RadListBox_ATGSkin .rlbDisabled:hover .rlbButtonText
{
	color: #8d8d8d;
}

.RadListBox_ATGSkin .rlbMoveUp .rlbButtonText { background-position: 0 0; }
.RadListBox_ATGSkin .rlbMoveUp:hover .rlbButtonText { background-position: -400px 0; }
.RadListBox_ATGSkin .rlbMoveUpDisabled .rlbButtonText,
.RadListBox_ATGSkin .rlbMoveUpDisabled:hover .rlbButtonText { background-position: -200px 0; }

.RadListBox_ATGSkin .rlbMoveDown .rlbButtonText { background-position: 0 -25px; }
.RadListBox_ATGSkin .rlbMoveDown:hover .rlbButtonText { background-position: -400px -25px; }
.RadListBox_ATGSkin .rlbMoveDownDisabled .rlbButtonText,
.RadListBox_ATGSkin .rlbMoveDownDisabled:hover .rlbButtonText { background-position: -200px -25px; }

.RadListBox_ATGSkin .rlbMoveToTop .rlbButtonText { background-position: 0 -275px; }
.RadListBox_ATGSkin .rlbMoveToTop:hover .rlbButtonText { background-position: -400px -275px; }
.RadListBox_ATGSkin .rlbMoveToTopDisabled .rlbButtonText,
.RadListBox_ATGSkin .rlbMoveToTopDisabled:hover .rlbButtonText { background-position: -200px -275px; }

.RadListBox_ATGSkin .rlbMoveToBottom .rlbButtonText { background-position: 0 -300px; }
.RadListBox_ATGSkin .rlbMoveToBottom:hover .rlbButtonText { background-position: -400px -300px; }
.RadListBox_ATGSkin .rlbMoveToBottomDisabled .rlbButtonText,
.RadListBox_ATGSkin .rlbMoveToBottomDisabled:hover .rlbButtonText { background-position: -200px -300px; }

.RadListBox_ATGSkin .rlbDelete .rlbButtonText { background-position: 0 -50px; }
.RadListBox_ATGSkin .rlbDelete:hover .rlbButtonText { background-position: -400px -50px; }
.RadListBox_ATGSkin .rlbDeleteDisabled .rlbButtonText,
.RadListBox_ATGSkin .rlbDeleteDisabled:hover .rlbButtonText { background-position: -200px -50px; }


.RadListBox_ATGSkin .rlbButtonAreaRight .rlbTransferTo .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaLeft .rlbTransferFrom .rlbButtonText { background-position: 0 -100px; }
.RadListBox_ATGSkin .rlbButtonAreaLeft .rlbTransferTo .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaRight .rlbTransferFrom .rlbButtonText { background-position: 0 -75px; }
.RadListBox_ATGSkin .rlbButtonAreaLeft .rlbTransferFrom:hover .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaRight .rlbTransferTo:hover .rlbButtonText { background-position: -400px -100px; }
.RadListBox_ATGSkin .rlbButtonAreaLeft .rlbTransferTo:hover .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaRight .rlbTransferFrom:hover .rlbButtonText { background-position: -400px -75px; }

.RadListBox_ATGSkin .rlbButtonAreaRight .rlbTransferToDisabled .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaLeft .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaLeft .rlbTransferFromDisabled:hover .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaRight .rlbTransferToDisabled:hover .rlbButtonText { background-position: -200px -100px; }

.RadListBox_ATGSkin .rlbButtonAreaLeft .rlbTransferToDisabled .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaRight .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaLeft .rlbTransferToDisabled:hover .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaRight .rlbTransferFromDisabled:hover .rlbButtonText { background-position: -200px -75px; }


.RadListBox_ATGSkin .rlbButtonAreaRight .rlbTransferAllTo .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaLeft .rlbTransferAllFrom .rlbButtonText { background-position: 0 -150px; }
.RadListBox_ATGSkin .rlbButtonAreaLeft .rlbTransferAllTo .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaRight .rlbTransferAllFrom .rlbButtonText { background-position: 0 -125px; }
.RadListBox_ATGSkin .rlbButtonAreaLeft .rlbTransferAllFrom:hover .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaRight .rlbTransferAllTo:hover .rlbButtonText { background-position: -400px -150px; }
.RadListBox_ATGSkin .rlbButtonAreaLeft .rlbTransferAllTo:hover .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaRight .rlbTransferAllFrom:hover .rlbButtonText { background-position: -400px -125px; }

.RadListBox_ATGSkin .rlbButtonAreaRight .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaLeft .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaLeft .rlbTransferAllFromDisabled:hover .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaRight .rlbTransferAllToDisabled:hover .rlbButtonText { background-position: -200px -150px; }

.RadListBox_ATGSkin .rlbButtonAreaLeft .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaRight .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaLeft .rlbTransferAllToDisabled:hover .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaRight .rlbTransferAllFromDisabled:hover .rlbButtonText { background-position: -200px -125px; }


.RadListBox_ATGSkin .rlbButtonAreaBottom .rlbTransferTo .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaTop .rlbTransferFrom .rlbButtonText { background-position: 0 -200px; }
.RadListBox_ATGSkin .rlbButtonAreaTop .rlbTransferTo .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaBottom .rlbTransferFrom .rlbButtonText { background-position: 0 -175px; }
.RadListBox_ATGSkin .rlbButtonAreaTop .rlbTransferFrom:hover .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaBottom .rlbTransferTo:hover .rlbButtonText { background-position: -400px -200px; }
.RadListBox_ATGSkin .rlbButtonAreaTop .rlbTransferTo:hover .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaBottom .rlbTransferFrom:hover .rlbButtonText { background-position: -400px -175px; }

.RadListBox_ATGSkin .rlbButtonAreaBottom .rlbTransferToDisabled .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaTop .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaTop .rlbTransferFromDisabled:hover .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaBottom .rlbTransferToDisabled:hover .rlbButtonText { background-position: -200px -200px; }

.RadListBox_ATGSkin .rlbButtonAreaTop .rlbTransferToDisabled .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaBottom .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaTop .rlbTransferToDisabled:hover .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaBottom .rlbTransferFromDisabled:hover .rlbButtonText { background-position: -200px -175px; }


.RadListBox_ATGSkin .rlbButtonAreaBottom .rlbTransferAllTo .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaTop .rlbTransferAllFrom .rlbButtonText { background-position: 0 -250px; }
.RadListBox_ATGSkin .rlbButtonAreaTop .rlbTransferAllTo .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaBottom .rlbTransferAllFrom .rlbButtonText { background-position: 0 -225px; }
.RadListBox_ATGSkin .rlbButtonAreaTop .rlbTransferAllFrom:hover .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaBottom .rlbTransferAllTo:hover .rlbButtonText { background-position: -400px -250px; }
.RadListBox_ATGSkin .rlbButtonAreaTop .rlbTransferAllTo:hover .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaBottom .rlbTransferAllFrom:hover .rlbButtonText { background-position: -400px -225px; }

.RadListBox_ATGSkin .rlbButtonAreaBottom .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaTop .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaTop .rlbTransferAllFromDisabled:hover .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaBottom .rlbTransferAllToDisabled:hover .rlbButtonText { background-position: -200px -250px; }

.RadListBox_ATGSkin .rlbButtonAreaTop .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaBottom .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaTop .rlbTransferAllToDisabled:hover .rlbButtonText,
.RadListBox_ATGSkin .rlbButtonAreaBottom .rlbTransferAllFromDisabled:hover .rlbButtonText { background-position: -200px -225px; }

