/* <RadMenu / Office2007> */

.RadMenu_ATGSkin .rmRootGroup,
.RadMenu_ATGSkin a.rmLink,
.RadMenu_ATGSkin .rmText,
.RadMenu_ATGSkin .rmLeftArrow,
.RadMenu_ATGSkin .rmRightArrow,
.RadMenu_ATGSkin .rmTopArrow,
.RadMenu_ATGSkin .rmBottomArrow
{
	background-image: url(<%= WebResource("ATGCorpSkin.Menu.rmSprite.png") %>);
	background-color: transparent;
}

.RadMenu_ATGSkin .rmRootGroup
{
	border: 1px solid #688caf;
	background-repeat: repeat-x;
	background-position: 0 -408px;
	background-color: #BBD9FF;
}

/* <Root items> */

.RadMenu_ATGSkin,
.RadMenu_ATGSkin a.rmLink
{
	font: normal 12px/23px "Segoe UI", Arial, sans-serif;
	color: #00156e;
	text-decoration: none;
}

.RadMenu_ATGSkin a.rmLink,
.RadMenu_ATGSkin .rmText
{
	background-position: 0 1050px;
	background-repeat: no-repeat;
}

.RadMenu_ATGSkin a.rmLink:hover,
.RadMenu_ATGSkin a.rmFocused,
.RadMenu_ATGSkin a.rmSelected
{
	color: #000;
	background-position: 0 -72px;
}

.RadMenu_ATGSkin a.rmLink:hover .rmText,
.RadMenu_ATGSkin a.rmFocused .rmText,
.RadMenu_ATGSkin a.rmSelected .rmText
{
	background-position: 100% -96px;
}

.RadMenu_ATGSkin a.rmExpanded,
.RadMenu_ATGSkin a.rmExpanded:hover
{
	color: #000;
	background-position: 0 -120px;
}

.RadMenu_ATGSkin a.rmExpanded .rmText,
.RadMenu_ATGSkin a.rmExpanded:hover .rmText
{
	background-position: 100% -144px;
}

.RadMenu_ATGSkin a.rmDisabled,
.RadMenu_ATGSkin a.rmDisabled:hover
{
	color: #8d8d8d;
}

.RadMenu_ATGSkin a.rmDisabled:hover,
.RadMenu_ATGSkin a.rmDisabled:hover .rmText
{
	background: none;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_ATGSkin .rmGroup,
.RadMenu_ATGSkin .rmMultiColumn,
.RadMenu_ATGSkin .rmGroup .rmVertical
{
	border: 1px solid #868686;
	background: #fff url(<%= WebResource("ATGCorpSkin.Menu.rmVSprite.png") %>) repeat-y -1px 0;
}

.RadMenu_ATGSkin .rmTopFix,
.RadMenu_ATGSkin .rmBottomFix,
.RadMenu_ATGSkin .rmRoundedCorners .rmGroup .rmItem,
.RadMenu_ATGSkin .rmRoundedCorners li.rmFirstGroupColumn .rmItem,
.RadMenu_ATGSkin .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem,
.RadMenu_ATGSkin .rmRoundedCorners ul.rmHorizontal .rmFirst,
.RadMenu_ATGSkin_Context.rmRoundedCorners .rmGroup .rmItem,
.RadMenu_ATGSkin_Context.rmRoundedCorners ul.rmHorizontal .rmFirst
{
	background-image: url(<%= WebResource("ATGCorpSkin.Menu.rmVSprite.png") %>);
	background-color: #fff; 
	background-repeat: repeat-y;
	background-position: -4px 0;
}

* html .rmRoundedCorners_ATGSkin .rmGroup .rmItem,
* html .rmRoundedCorners_ATGSkin ul.rmHorizontal .rmFirst
{
	background-image: url(<%= WebResource("ATGCorpSkin.Menu.rmVSprite.png") %>);
	background-color: #fff; 
	background-repeat: repeat-y;
	background-position: -4px 0;
}

.RadMenu_ATGSkin .rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_ATGSkin .rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_ATGSkin .rmRoundedCorners .rmGroupColumn .rmItem,
.RadMenu_ATGSkin .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem,
.RadMenu_ATGSkin .rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_ATGSkin .rmRoundedCorners .rmScrollWrap .rmVertical
.RadMenu_ATGSkin_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_ATGSkin_Context.rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_ATGSkin_Context.rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_ATGSkin_Context.rmRoundedCorners .rmScrollWrap .rmVertical
{
	background-image: none;
}

* html .rmRoundedCorners_ATGSkin .rmScrollWrapContainer .rmGroup,
* html .rmRoundedCorners_ATGSkin .rmScrollWrap .rmItem,
* html .rmRoundedCorners_ATGSkin .rmHorizontal .rmItem,
* html .rmRoundedCorners_ATGSkin .rmScrollWrap .rmVertical
{
	background-image: none;
}

.RadMenu_ATGSkin .rmRoundedCorners .rmGroupColumn
{
	background-color: #fff;
}

.RadMenu_ATGSkin .rmBottomLeft,
.RadMenu_ATGSkin .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_ATGSkin_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_ATGSkin_Context.rmRoundedCorners ul.rmGroup,
.RadMenu_ATGSkin .rmRoundedCorners ul.rmGroup,
.RadMenu_ATGSkin .rmRoundedCorners .rmMultiColumn
{
	background-image:  url(<%= WebResource("ATGCorpSkin.Menu.rmRoundedLeft.png") %>);
	background-color: transparent; 
	background-repeat: no-repeat;
}

* html .rmRoundedCorners_ATGSkin .rmScrollWrapContainer,
* html .rmRoundedCorners_ATGSkin .rmGroup ul.rmGroup,
* html .rmRoundedCorners_ATGSkin ul.rmGroup
{
	background-image:  url(<%= WebResource("ATGCorpSkin.Menu.rmRoundedLeft.png") %>);
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_ATGSkin .rmTopRight,
.RadMenu_ATGSkin .rmBottomRight
{
	background-image:  url(<%= WebResource("ATGCorpSkin.Menu.rmRoundedRight.png") %>);
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_ATGSkin .rmTopFix,
.RadMenu_ATGSkin .rmBottomFix,
.RadMenu_ATGSkin .rmRoundedCorners .rmGroup .rmFirst,
.RadMenu_ATGSkin_Context.rmRoundedCorners .rmGroup .rmFirst,
.rmRoundedCorners_ATGSkin .rmGroup .rmFirst
{
	border-color: #868686;
}

.RadMenu_ATGSkin .rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_ATGSkin .rmRoundedCorners .rmScrollWrapContainer .rmBottomFix,
.RadMenu_ATGSkin_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_ATGSkin_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomFix
{
	background: #FFF;
}

* html .rmRoundedCorners_ATGSkin .rmScrollWrapContainer .rmTopFix,
* html .rmRoundedCorners_ATGSkin .rmScrollWrapContainer .rmBottomFix
{
	background: #FFF;
}

.RadMenu_ATGSkin .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_ATGSkin .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_ATGSkin .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_ATGSkin .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow,
.RadMenu_ATGSkin_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_ATGSkin_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_ATGSkin_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_ATGSkin_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow
{
	background-color: #FFF;
	border: 0;
}

* html .rmRoundedCorners_ATGSkin .rmScrollWrapContainer .rmTopArrow,
* html .rmRoundedCorners_ATGSkin .rmScrollWrapContainer .rmBottomArrow,
* html .rmRoundedCorners_ATGSkin .rmScrollWrapContainer .rmLeftArrow,
* html .rmRoundedCorners_ATGSkin .rmScrollWrapContainer .rmRightArrow
{
	background-color: #FFF;
	border: 0;
}

.RadMenu_ATGSkin li.rmTopFix,
.RadMenu_ATGSkin li.rmBottomFix
{
	background-position: -5px 0;
}

.RadMenu_ATGSkin_rtl .rmBottomLeft,
.RadMenu_ATGSkin_rtl .rmRoundedCorners ul.rmGroup,
.RadMenu_ATGSkin_rtl .rmRoundedCorners .rmMultiColumn,
.RadMenu_ATGSkin .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_ATGSkin .rmScrollWrapContainer .rmBottomLeft,
.rmRoundedCorners.RadMenu_ATGSkin_Context_rtl ul.rmGroup,
.RadMenu_ATGSkin_Context.rmRoundedCorners .rmScrollWrapContainer
{
	background-image: url(<%= WebResource("ATGCorpSkin.Menu.rmRoundedLeft_rtl.png") %>);
}

.RadMenu_ATGSkin_rtl .rmTopRight,
.RadMenu_ATGSkin_rtl .rmBottomRight
{
	background-image: url(<%= WebResource("ATGCorpSkin.Menu.rmRoundedRight_rtl.png") %>);
}

.RadMenu_ATGSkin_rtl li.rmTopFix,
.RadMenu_ATGSkin_rtl li.rmBottomFix,
.RadMenu_ATGSkin_rtl .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners.RadMenu_ATGSkin_Context_rtl .rmGroup .rmItem
{
	background-position: 101% 0;
}

.RadMenu_ATGSkin .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu_ATGSkin_rtl .rmGroup,
.RadMenu_ATGSkin_rtl .rmMultiColumn,
.RadMenu_ATGSkin_rtl .rmGroup .rmVertical
{
	background-position: 101% 0;
}

.RadMenu_ATGSkin .rmRootGroup .rmHorizontal
{
	background-image: none;
}

.RadMenu_ATGSkin .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_ATGSkin .rmGroup .rmFirst,
.RadMenu_ATGSkin .rmGroup .rmLast,
.RadMenu_ATGSkin .rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.RadMenu_ATGSkin_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.rmRoundedCorners_ATGSkin .rmScrollWrapContainer li.rmItem
{
	background: none;
}

.RadMenu_ATGSkin .rmGroup .rmLast
{
	padding-bottom: 1px;
}

.RadMenu_ATGSkin .rmGroup a.rmLink:hover,
.RadMenu_ATGSkin .rmGroup a.rmFocused,
.RadMenu_ATGSkin .rmGroup a.rmSelected,
.RadMenu_ATGSkin .rmGroup a.rmExpanded
{
	background-position: 0 -168px;
}

.RadMenu_ATGSkin .rmGroup a.rmLink:hover .rmText,
.RadMenu_ATGSkin .rmGroup a.rmFocused .rmText,
.RadMenu_ATGSkin .rmGroup a.rmSelected .rmText,
.RadMenu_ATGSkin .rmGroup a.rmExpanded .rmText
{
	background-position: 100% -192px;
}

/* <expand arrows> */

.RadMenu_ATGSkin .rmVertical .rmExpandRight,
.RadMenu_ATGSkin_Context .rmGroup .rmExpandRight,
.RadMenu_ATGSkin .rmGroup .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_ATGSkin .rmVertical a.rmLink:hover .rmExpandRight,
.RadMenu_ATGSkin .rmVertical a.rmFocused .rmExpandRight,
.RadMenu_ATGSkin .rmVertical a.rmExpanded .rmExpandRight,
.RadMenu_ATGSkin .rmVertical a.rmSelected .rmExpandRight,
.RadMenu_ATGSkin .rmVertical a.rmLink:hover .rmExpandLeft,
.RadMenu_ATGSkin .rmVertical a.rmFocused .rmExpandLeft,
.RadMenu_ATGSkin .rmVertical a.rmExpanded .rmExpandLeft,
.RadMenu_ATGSkin .rmVertical a.rmSelected .rmExpandLeft
{
    background-image: url(<%= WebResource("ATGCorpSkin.Menu.rmRootExpand.png") %>);
}

.RadMenu_ATGSkin .rmVertical a.rmLink:hover .rmExpandRight,
.RadMenu_ATGSkin .rmVertical a.rmSelected .rmExpandRight,
.RadMenu_ATGSkin .rmVertical a.rmFocused .rmExpandRight
{
	background-position: 100% -2px;
}

.RadMenu_ATGSkin .rmVertical a.rmExpanded .rmExpandRight,
.RadMenu_ATGSkin .rmVertical a.rmExpanded:hover .rmExpandRight
{
	background-position: 100% -29px;
}

.RadMenu_ATGSkin .rmGroup a.rmLink:hover .rmExpandRight,
.RadMenu_ATGSkin .rmGroup a.rmFocused .rmExpandRight,
.RadMenu_ATGSkin .rmGroup a.rmSelected .rmExpandRight,
.RadMenu_ATGSkin .rmGroup a.rmExpanded .rmExpandRight,
.RadMenu_ATGSkin .rmGroup a.rmLink:hover .rmExpandDown,
.RadMenu_ATGSkin .rmGroup a.rmFocused .rmExpandDown,
.RadMenu_ATGSkin .rmGroup a.rmSelected .rmExpandDown,
.RadMenu_ATGSkin .rmGroup a.rmExpanded .rmExpandDown
{
    background-image: url(<%= WebResource("ATGCorpSkin.Menu.rmSprite.png") %>);
	background-position: 100% -240px;
}

.RadMenu_ATGSkin .rmRootGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_ATGSkin_Context .rmGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_ATGSkin_Context .rmGroup a.rmDisabled:hover .rmExpandLeft,
.RadMenu_ATGSkin .rmGroup a.rmDisabled:hover .rmExpandDown
{
	background-image: url(<%= WebResource("ATGCorpSkin.Menu.rmSprite.png") %>);
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_ATGSkin_rtl a.rmLink:hover,
.RadMenu_ATGSkin_rtl a.rmFocused,
.RadMenu_ATGSkin_rtl a.rmSelected
{
    background-position: 100% -96px;
}

.RadMenu_ATGSkin_rtl a.rmLink:hover .rmText,
.RadMenu_ATGSkin_rtl a.rmFocused .rmText,
.RadMenu_ATGSkin_rtl a.rmSelected .rmText
{
    background-position: 0 -72px;
}

.RadMenu_ATGSkin_rtl a.rmExpanded,
.RadMenu_ATGSkin_rtl a.rmExpanded:hover
{
    background-position: 100% -144px;
}

.RadMenu_ATGSkin_rtl a.rmExpanded .rmText,
.RadMenu_ATGSkin_rtl a.rmExpanded:hover .rmText
{
    background-position: 0 -120px;
}

.RadMenu_ATGSkin_rtl .rmGroup a.rmLink:hover,
.RadMenu_ATGSkin_rtl .rmGroup a.rmFocused,
.RadMenu_ATGSkin_rtl .rmGroup a.rmSelected,
.RadMenu_ATGSkin_rtl .rmGroup a.rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_ATGSkin_rtl .rmGroup a.rmLink:hover .rmText,
.RadMenu_ATGSkin_rtl .rmGroup a.rmFocused .rmText,
.RadMenu_ATGSkin_rtl .rmGroup a.rmSelected .rmText,
.RadMenu_ATGSkin_rtl .rmGroup a.rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_ATGSkin_Context_rtl .rmVertical .rmExpandLeft,
.RadMenu_ATGSkin_rtl .rmRootGroup .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_ATGSkin_rtl a.rmLink:hover .rmExpandLeft,
.RadMenu_ATGSkin_rtl a.rmSelected .rmExpandLeft,
.RadMenu_ATGSkin_rtl a.rmFocused .rmExpandLeft
{
	background-position: 0 -2px;
}

.RadMenu_ATGSkin_rtl a.rmExpanded .rmExpandLeft,
.RadMenu_ATGSkin_rtl a.rmExpanded:hover .rmExpandLeft
{
	background-position: 0 -29px;
}

.RadMenu_ATGSkin_rtl .rmGroup a.rmLink:hover .rmExpandLeft,
.RadMenu_ATGSkin_rtl .rmGroup a.rmFocused .rmExpandLeft,
.RadMenu_ATGSkin_rtl .rmGroup a.rmSelected .rmExpandLeft,
.RadMenu_ATGSkin_rtl .rmGroup a.rmExpanded .rmExpandLeft
{
    background-image: url(<%= WebResource("ATGCorpSkin.Menu.rmSprite.png") %>);
	background-position: 0 -336px;
}

.RadMenu_ATGSkin_Context_rtl .rmGroup a.rmDisabled:hover .rmExpandLeft,
.RadMenu_ATGSkin_rtl .rmRootGroup a.rmDisabled:hover .rmExpandLeft
{
    background-image: url(<%= WebResource("ATGCorpSkin.Menu.rmSprite.png") %>);
	background-position: 0 -312px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Office2007 - specific, overlapping submenus)> */

.RadMenu_ATGSkin .rmSlide
{
	margin: -3px 0 0 1px;
}

.RadMenu_ATGSkin .rmVertical .rmSlide,
.RadMenu_ATGSkin .rmSlide .rmSlide,
.RadMenu_ATGSkin_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_ATGSkin_rtl .rmSlide
{
	margin: -3px 0 0 -1px;
}

.RadMenu_ATGSkin_rtl .rmVertical .rmSlide,
.RadMenu_ATGSkin_rtl .rmSlide .rmSlide,
.RadMenu_ATGSkin_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_ATGSkin .rmLeftArrow,
.RadMenu_ATGSkin .rmRightArrow
{
	background-color: #f6f6e8;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_ATGSkin .rmLeftArrow,
.RadMenu_ATGSkin .rmRightArrow
{
	background-color: #E0E5F5;
}

.RadMenu_ATGSkin .rmLeftArrow { background-position: -8px -312px; border-right: 1px solid #B7BDCD; }
.RadMenu_ATGSkin .rmRightArrow { background-position: -482px -216px; border-left: 1px solid #B7BDCD; }

.RadMenu_ATGSkin .rmTopArrow,
.RadMenu_ATGSkin .rmBottomArrow,
.RadMenu_ATGSkin .rmGroup .rmLeftArrow,
.RadMenu_ATGSkin .rmGroup .rmRightArrow
{
	background-color: #f0f0f0;
}

.RadMenu_ATGSkin .rmTopArrow { background-position: 50% -367px; border-bottom: 1px solid #B7BDCD; }
.RadMenu_ATGSkin .rmBottomArrow { background-position: 50% -391px; border-top: 1px solid #B7BDCD; }

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_ATGSkin .rmVertical .rmSeparator .rmText,
.RadMenu_ATGSkin .rmHorizontal .rmVertical .rmSeparator .rmText
{
	background-position: 0 -406px;
}

.RadMenu_ATGSkin .rmHorizontal .rmSeparator .rmText,
.RadMenu_ATGSkin .rmVertical .rmHorizontal .rmSeparator .rmText
{
	background-position: 0 -386px;
}

/* </Separators> */

/* </RadMenu / Office2007> */
