/*RadNotification Office2007 Skin*/

.RadNotification_ATGSkin
{
	border: 1px solid #9eb6ce;
	background-color: #c3d8f1;
}

.RadNotification_ATGSkin.rnShadows
{
	box-shadow: 2px 2px 3px #d8e5f3;
	-webkit-box-shadow: 2px 2px 3px #d8e5f3;
}

.RadNotification_ATGSkin .rnTitleBar,
.RadNotification_ATGSkin .rnCommands a
{
	background-image: url(<%= WebResource("ATGCorpSkin.Notification.NotificationSprite.png") %>);
}

.RadNotification_ATGSkin .rnTitleBar
{
	border-top: 1px solid #fff;
}

.RadNotification_ATGSkin .rnTitleBarTitle
{
	color: #00156e;
}

.RadNotification_ATGSkin .rnContentWrapper
{
	border-top: 1px solid transparent;
}






