.RadRibbonBar_ATGSkin
{
	font: 11px "Segoe UI", Arial, sans-serif;
}

.RadRibbonBar_ATGSkin .rrbContentWrapIn,
.RadRibbonBar_ATGSkin .rrbButtonArea,
.RadRibbonBar_ATGSkin .rrbGroupTitle,
.RadRibbonBar_ATGSkin .rrbButtonGroupIn,
.RadRibbonBar_ATGSkin .rrbCollapsedGroup .rrbButtonIn,
.RadRibbonBar_ATGSkin a.rrbButtonHovered .rrbButtonIn,
.RadRibbonBar_ATGSkin a.rrbButtonOut:hover .rrbButtonIn,
.RadRibbonBar_ATGSkin .rrbButtonOut .rrbButtonTextHover,
.RadRibbonBar_ATGSkin .rrbButtonStrip .rrbButtonIn,
.RadRibbonBar_ATGSkin div.rrbButtonStrip a.rrbDisabled .rrbButtonIn,
.RadRibbonBar_ATGSkin .rrbButtonClicked .rrbButtonIn,
.RadRibbonBar_ATGSkin .rrbButtonClicked .rrbButtonTextHover,
.RadRibbonBar_ATGSkin .rrbToggled .rrbButtonIn,
.RadRibbonBar_ATGSkin .rrbToggled .rrbButtonTextHover,
.RadRibbonBar_ATGSkin .rrbExpanded .rrbButtonIn,
.RadRibbonBar_ATGSkin .rrbExpanded .rrbButtonTextHover
{
	background-image: url(<%= WebResource("ATGCorpSkin.RibbonBar.rrbGradients.png") %>);
}

.RadRibbonBar_ATGSkin .rrbButtonArrow,
.RadRibbonBar_ATGSkin .rrbResizeHandle,
.RadRibbonBar_ATGSkin .rrbGroupLauncher
{
	background-image: url(<%= WebResource("ATGCorpSkin.RibbonBar.rrbArrowSprite.png") %>);
}

.RadRibbonBar_ATGSkin div.rrbGroupTitle
{
	background-image: none;
}

.RadRibbonBar_ATGSkin div.rrbButtonGroupIn
{
	background-position: 0 0;
}

.RadRibbonBar_ATGSkin a.rrbCollapsedGroup span.rrbButtonMid .rrbButtonIn
{
	background-position: 0 -1px;
}

.RadRibbonBar_ATGSkin span.rrbDecoration span.rrbButtonMid .rrbButtonIn
{
	background-image: none;
}

.RadRibbonBar_ATGSkin .rrbContentWrapOut,
.RadRibbonBar_ATGSkin .rrbContentWrapMid,
.RadRibbonBar_ATGSkin .rrbContentWrapIn
{
	background-color: #bfdbff;
	border-color: #8db2e3;
}

.RadRibbonBar_ATGSkin .rrbContentWrapIn,
.RadRibbonBar_ATGSkin .rrbButtonArea
{
	background-color: #c8d9ed;
}

.RadRibbonBar_ATGSkin .rrbButtonOut,
.RadRibbonBar_ATGSkin .rrbButtonMid,
.RadRibbonBar_ATGSkin .rrbButtonIn
{
	border-color: transparent;
}

.RadRibbonBar_ATGSkin .rrbDecoration,
.RadRibbonBar_ATGSkin .rrbDecoration .rrbButtonMid,
.RadRibbonBar_ATGSkin .rrbButtonArea .rrbCollapsedGroup,
.RadRibbonBar_ATGSkin .rrbCollapsedGroup .rrbButtonMid
{
	background-color: #c8d9ed;
	border-color: #8db2e3;
}

.RadRibbonBar_ATGSkin .rrbMenuGroupMid,
.RadRibbonBar_ATGSkin .rrbMenuGroupIn
{
	background-color: #F0f9FF;
	border-color: #8db2e3;
}

.RadRibbonBar_ATGSkin .rrbButtonGroup,
.RadRibbonBar_ATGSkin .rrbButtonGroupIn
{
	background-color: #c8d9ed;
	border-color: #8db2e3;
}

.RadRibbonBar_ATGSkin a.rrbButtonStripPart,
.RadRibbonBar_ATGSkin a.rrbButtonStripPart .rrbButtonMid,
.RadRibbonBar_ATGSkin div.rrbButtonStrip a.rrbDisabled,
.RadRibbonBar_ATGSkin div.rrbButtonStrip a.rrbDisabled .rrbButtonMid
{
	background-color: #bfd2ea;
	border-color: #99b5de;
}

.RadRibbonBar_ATGSkin a.rrbButtonHovered,
.RadRibbonBar_ATGSkin a.rrbButtonOut:hover,
.RadRibbonBar_ATGSkin a.rrbButtonHovered .rrbButtonMid,
.RadRibbonBar_ATGSkin a.rrbButtonOut:hover .rrbButtonMid,
.RadRibbonBar_ATGSkin a.rrbButtonHovered,
.RadRibbonBar_ATGSkin a.rrbButtonStripPart:hover,
.RadRibbonBar_ATGSkin a.rrbButtonHovered .rrbButtonMid,
.RadRibbonBar_ATGSkin a.rrbButtonStripPart:hover .rrbButtonMid
{
	background-color: #ffd76b;
	border-color: #c6ba9d;
}

.RadRibbonBar_ATGSkin .rrbButtonArea a.rrbCollapsedGroup:hover,
.RadRibbonBar_ATGSkin a.rrbCollapsedGroup:hover .rrbButtonMid
{
	background-color: #d8e3f1;
	border-color: #fff;
}

.RadRibbonBar_ATGSkin a.rrbCollapsedGroup:hover .rrbDecoration,
.RadRibbonBar_ATGSkin a.rrbCollapsedGroup:hover .rrbDecoration .rrbButtonMid
{
	background-color: #edf3f9;
	border-color: #86a4bd;
}

.RadRibbonBar_ATGSkin .rrbButtonClicked,
.RadRibbonBar_ATGSkin .rrbButtonClicked .rrbButtonMid,
.RadRibbonBar_ATGSkin div.rrbButtonGroup .rrbToggled,
.RadRibbonBar_ATGSkin div.rrbButtonGroup .rrbToggled .rrbButtonMid,
.RadRibbonBar_ATGSkin a.rrbExpanded,
.RadRibbonBar_ATGSkin a.rrbExpanded .rrbButtonMid,
.RadRibbonBar_ATGSkin a.rrbButtonClicked:hover,
.RadRibbonBar_ATGSkin a.rrbButtonClicked:hover .rrbButtonMid,
.RadRibbonBar_ATGSkin a.rrbButtonClicked:hover .rrbButtonOut
{
	background-color: #ff9917;
	border-color: #c2a98d;
}

.RadRibbonBar_ATGSkin .rrbButton:hover .rrbButtonIn,
.RadRibbonBar_ATGSkin .rrbMediumButton:hover .rrbButtonIn,
.RadRibbonBar_ATGSkin .rrbButtonClicked .rrbButtonIn,
.RadRibbonBar_ATGSkin .rrbToggled .rrbButtonIn,
.RadRibbonBar_ATGSkin .rrbExpanded .rrbButtonIn,
.RadRibbonBar_ATGSkin .rrbButtonStripPart .rrbButtonIn
{
	margin-left: 0;
	margin-right: 0;
	padding-left: 1px;
	padding-right: 1px;
}

.RadRibbonBar_ATGSkin .rrbLargeButton .rrbButtonIn,
.RadRibbonBar_ATGSkin .rrbCollapsedGroup .rrbButtonIn
{
	padding-left: 0;
	padding-right: 0;
}

.RadRibbonBar_ATGSkin .rrbButtonArea a.rrbButtonClicked.rrbCollapsedGroup,
.RadRibbonBar_ATGSkin .rrbButtonArea a.rrbButtonClicked.rrbCollapsedGroup .rrbButtonMid
{
	background-color: #7699c8;
	border-color: #86a4bd;
}

.RadRibbonBar_ATGSkin a.rrbButtonClicked.rrbCollapsedGroup .rrbDecoration,
.RadRibbonBar_ATGSkin a.rrbButtonClicked.rrbCollapsedGroup .rrbDecoration .rrbButtonMid
{
	background-color: #c3d9f2;
	border-color: #86a4bd;
}

.RadRibbonBar_ATGSkin a.rrbButtonOut:hover .rrbButtonText
{
	border-color: #c6ba9d;
}

.RadRibbonBar_ATGSkin .rrbButtonTextHover
{
	background-color: #ffd76b;
}

.RadRibbonBar_ATGSkin a.rrbButtonClicked:hover .rrbButtonText
{
	border-color: #c2a98d;
}

.RadRibbonBar_ATGSkin .rrbButtonClicked .rrbButtonTextHover
{
	background-color: #ff9917;
}

.RadRibbonBar_ATGSkin .rrbButtonGroupHover .rrbButtonGroupIn
{
	background-color: #b8c9dd;
}

.RadRibbonBar_ATGSkin .rrbGroupTitle
{
	color: #15428b;
	background-color: #c0d8ef;
}

.RadRibbonBar_ATGSkin .rrbButtonText,
.RadRibbonBar_ATGSkin .rrbButtonStripPart,
.RadRibbonBar_ATGSkin .rrbLargeButton .rrbButtonArrow,
.RadRibbonBar_ATGSkin .rrbCollapsedGroup .rrbButtonArrow
{
	color: #15428b;
}

.RadRibbonBar_ATGSkin a.rrbDisabled .rrbButtonText,
.RadRibbonBar_ATGSkin a.rrbDisabled:hover .rrbButtonText
{
	color: #999;
}

.RadRibbonBar_ATGSkin .rrbMenuGroupMid,
.RadRibbonBar_ATGSkin .rrbDetachedContainer .rrbContentWrapOut
{
	box-shadow: 3px 2px 3px #888;
	-moz-box-shadow: 3px 2px 3px #888;
	-webkit-box-shadow: 3px 2px 3px #888;
}

.RadRibbonBar_ATGSkin .rrbDetachedContainer .rrbGroupTitle
{
	bottom: 0;
}

.RadRibbonBar_ATGSkin div.rrbResizeHandle
{
	background-position: -19px -7px;
}

.RadRibbonBar_ATGSkin a.rrbGroupLauncher
{
	width: 11px;
	height: 11px;
	margin-top: 2px;
	background-position: -17px -21px;
}

.RadRibbonBar_ATGSkin a.rrbGroupLauncher:hover
{
	background-position: -17px -37px;
}


/* RadTabStrip styles */
.RadRibbonBar_ATGSkin .rrbTabStrip .rtsUL,
.RadRibbonBar_ATGSkin .rrbTabStrip.RadTabStripBottom_ATGSkin .rtsUL
{
	border-color: #8db2e3;
}

.RadRibbonBar_ATGSkin .rrbTabStrip .rtsUL
{
	border-top: 0;
}

.RadRibbonBar_ATGSkin .rrbTabStrip.RadTabStripBottom_ATGSkin .rtsUL
{
	border-bottom: 0;
}




/** Tabstrip */
.RadRibbonBar_ATGSkin .rrbTabs {
	padding-left: 0;
	padding-right: 0;
	line-height: 26px;
	border-bottom-color: #8db2e3;
}




/** Application Tab */
.RadRibbonBar_ATGSkin .rrbApplicationTab {
	color: #00156e;
	line-height: 22px;
}


	.RadRibbonBar_ATGSkin .rrbApplicationTab .rrbTabLabel {
		background-image: url(<%= WebResource("ATGCorpSkin.RibbonBar.rrbApplicationTabSprite.png") %>);
		_background-image: url(<%= WebResource("ATGCorpSkin.RibbonBar.rrbApplicationTabSprite_IE6.png") %>);
		background-position: left 0;
	}


	.RadRibbonBar_ATGSkin .rrbApplicationTab .rrbTabText {
		background-image: url(<%= WebResource("ATGCorpSkin.RibbonBar.rrbApplicationTabSprite.png") %>);
		_background-image: url(<%= WebResource("ATGCorpSkin.RibbonBar.rrbApplicationTabSprite_IE6.png") %>);
		background-position: right 0;
	}




/** Hovered Application Tab */
.RadRibbonBar_ATGSkin .rrbHoveredApplicationTab {}


	.RadRibbonBar_ATGSkin .rrbHoveredApplicationTab .rrbTabLabel {
		background-position: left -26px;
	}


	.RadRibbonBar_ATGSkin .rrbHoveredApplicationTab .rrbTabText {
		background-position: right -26px;
	}




/** Selected Application Tab */
.RadRibbonBar_ATGSkin .rrbSelectedApplicationTab {
	color: #000000;
}


	.RadRibbonBar_ATGSkin .rrbSelectedApplicationTab .rrbTabLabel {
		background-position: left -52px;
	}


	.RadRibbonBar_ATGSkin .rrbSelectedApplicationTab .rrbTabText {
		background-position: right -52px;
	}




/** Contextual Tab */
.RadRibbonBar_ATGSkin .rrbContextualTab {}


	.RadRibbonBar_ATGSkin .rrbContextualTab .rrbContextualTabLabel {
		color: #ffffff;
		background-image: url(<%= WebResource("ATGCorpSkin.RibbonBar.rrbContextualTabSmoothTile.png") %>);
		background-position: left 2px;
	}




/** Tab */
.RadRibbonBar_ATGSkin .rrbTab {
	color: #00156e;
}


	.RadRibbonBar_ATGSkin .rrbTabLabel {
		background-image: url(<%= WebResource("ATGCorpSkin.RibbonBar.rrbTabSprite.png") %>);
		_background-image: url(<%= WebResource("ATGCorpSkin.RibbonBar.rrbTabSprite_IE6.png") %>);
		background-position: left 0;
	}


	.RadRibbonBar_ATGSkin .rrbTabText {
		background-image: url(<%= WebResource("ATGCorpSkin.RibbonBar.rrbTabSprite.png") %>);
		_background-image: url(<%= WebResource("ATGCorpSkin.RibbonBar.rrbTabSprite_IE6.png") %>);
		background-position: right 0;
	}




/** Hovered Tab */
.RadRibbonBar_ATGSkin .rrbHoveredTab {}


	.RadRibbonBar_ATGSkin .rrbHoveredTab .rrbTabLabel {
		background-position: left -26px;
	}


	.RadRibbonBar_ATGSkin .rrbHoveredTab .rrbTabText {
		background-position: right -26px;
	}




/** Selected Tab */
.RadRibbonBar_ATGSkin .rrbSelectedTab {
	color: #00156e;
}


	.RadRibbonBar_ATGSkin .rrbSelectedTab .rrbTabLabel {
		background-position: left -52px;
	}


	.RadRibbonBar_ATGSkin .rrbSelectedTab .rrbTabText {
		background-position: right -52px;
	}





/** QuickAccessToolbar */
.RadRibbonBar_ATGSkin .rrbQuickAccessToolbar {}


	.RadRibbonBar_ATGSkin .rrbQatItem {}
	.RadRibbonBar_ATGSkin .rrbQatButton {}


	.RadRibbonBar_ATGSkin .rrbQatDropDown {}
	.RadRibbonBar_ATGSkin .rrbQatDropDown .rrbQatButton {}
	.RadRibbonBar_ATGSkin .rrbQatDropDown .rrbQatButton:hover {
		border-color: #c6ba9d;
		background-color: #ffe086;
	}
	
	
	.RadRibbonBar_ATGSkin .rrbQatDropDown .rrbSlide {}





/** RadRibbonBar Menu */
.RadRibbonBar_ATGSkin .rrbMenu {
	border-color: #868686;
	color: #00156e;
	background-color: #ffffff;
}


	.RadRibbonBar_ATGSkin .rrbSlide {}
	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuGroup {}
	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuLabel {
		background-color: #e9eeee;
	}
	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuSeparator {}




	/** Menu items */
	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuItem {}
	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuItem:hover,
	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuItemHovered {
		border-color: #c6ba9d;
		color: #000000;
		background-color: #ffe086;
	}


	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuItemCheckbox {}
	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuItemCheckbox label {}
	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuItemCheckbox input {}
	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuItemCheckboxChecked {}
	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuItemCheckboxChecked label {}


	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuItemRadio {}
	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuItemRadio label {}
	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuItemRadio input {}
	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuItemRadioChecked {}
	.RadRibbonBar_ATGSkin .rrbMenu .rrbMenuItemRadioChecked label {}