/* <RadToolBar / Office2007> */

/* <tool wrapper> */

/* <horizontal> */

.RadToolBar_ATGSkin .rtbOuter
{
	border: 1px solid #688caf;
}

.RadToolBar_ATGSkin .rtbMiddle
{
	border: 1px solid #f6f7f9;
	background: #d6e6f4 url(<%= WebResource("ATGCorpSkin.ToolBar.rtbControlBg.png") %>) repeat-x 0 0;
}

/* </horizontal> */

/* <vertical> */

.RadToolBar_ATGSkin_Vertical .rtbMiddle
{
	background: #d6e6f4 url(<%= WebResource("ATGCorpSkin.ToolBar.rtbVerticalControlBg.png") %>) repeat-y 0 0;
}

/* </vertical> */

/* </tool wrapper> */

/* <buttons> */

.RadToolBar_ATGSkin .rtbWrap,
.RadToolBar_ATGSkin .rtbTemplate
{
	color: #00156e;
	font: normal 12px/20px "Segoe UI", Arial, sans-serif;
}

/* <button states> */

.RadToolBar_ATGSkin .rtbSplBtnFocused .rtbWrap, .RadToolBar_ATGSkin .rtbSplBtnFocused .rtbOut, .RadToolBar_ATGSkin .rtbSplBtnFocused .rtbMid, .RadToolBar_ATGSkin .rtbSplBtnFocused .rtbIn,
.RadToolBar_ATGSkin .rtbItemFocused .rtbWrap, .RadToolBar_ATGSkin .rtbItemFocused .rtbOut, .RadToolBar_ATGSkin .rtbItemFocused .rtbMid, .RadToolBar_ATGSkin .rtbItemFocused .rtbIn,
.RadToolBar_ATGSkin .rtbItemHovered .rtbWrap, .RadToolBar_ATGSkin .rtbItemHovered .rtbOut, .RadToolBar_ATGSkin .rtbItemHovered .rtbMid, .RadToolBar_ATGSkin .rtbItemHovered .rtbIn
{
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url(<%= WebResource("ATGCorpSkin.ToolBar.rtbHoverBg.png") %>);
}

.RadToolBar_ATGSkin .rtbItemClicked .rtbWrap, .RadToolBar_ATGSkin .rtbItemClicked .rtbOut, .RadToolBar_ATGSkin .rtbItemClicked .rtbMid, .RadToolBar_ATGSkin .rtbItemClicked .rtbIn
{
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url(<%= WebResource("ATGCorpSkin.ToolBar.rtbClickedBg.png") %>);
}

.RadToolBar_ATGSkin .rtbSplBtnExpanded .rtbWrap, .RadToolBar_ATGSkin .rtbSplBtnExpanded .rtbOut, .RadToolBar_ATGSkin .rtbSplBtnExpanded .rtbMid, .RadToolBar_ATGSkin .rtbSplBtnExpanded .rtbIn,
.RadToolBar_ATGSkin .rtbDropDownExpanded .rtbWrap, .RadToolBar_ATGSkin .rtbDropDownExpanded .rtbOut, .RadToolBar_ATGSkin .rtbDropDownExpanded .rtbMid, .RadToolBar_ATGSkin .rtbDropDownExpanded .rtbIn,
.RadToolBar_ATGSkin .rtbChecked .rtbWrap, .RadToolBar_ATGSkin .rtbChecked .rtbOut, .RadToolBar_ATGSkin .rtbChecked .rtbMid, .RadToolBar_ATGSkin .rtbChecked .rtbIn,
.RadToolBar_ATGSkin li.rtbChecked .rtbWrap:hover, .RadToolBar_ATGSkin li.rtbChecked .rtbWrap:hover .rtbOut, .RadToolBar_ATGSkin li.rtbChecked .rtbWrap:hover .rtbMid, .RadToolBar_ATGSkin li.rtbChecked .rtbWrap:hover .rtbIn
{
	background-image: url(<%= WebResource("ATGCorpSkin.ToolBar.rtbActiveBg.png") %>);
	background-color: transparent;
	background-repeat: no-repeat;
}

.RadToolBar_ATGSkin .rtbItemFocused .rtbWrap,
.RadToolBar_ATGSkin .rtbChecked .rtbWrap,
.RadToolBar_ATGSkin .rtbDropDownExpanded .rtbWrap,
.RadToolBar_ATGSkin .rtbSplBtnExpanded .rtbWrap,
.RadToolBar_ATGSkin .rtbItemHovered .rtbWrap,
.RadToolBar_ATGSkin .rtbItemClicked .rtbWrap
{
	color: #000;
}

/* </button states> */

/* <Drop Down Arrows> */


.RadToolBar_ATGSkin .rtbSplBtn .rtbChoiceArrow,
.RadToolBar_ATGSkin .rtbItem .rtbVOriented .rtbChoiceArrow,
.RadToolBar_ATGSkin .rtbChoiceArrow,
.RadToolBar_ATGSkin .rtbSplBtnExpanded .rtbVOriented .rtbChoiceArrow,
.RadToolBar_ATGSkin .rtbSplBtnExpanded .rtbChoiceArrow,
.RadToolBar_ATGSkin .rtbDropDownExpanded .rtbVOriented .rtbChoiceArrow,
.RadToolBar_ATGSkin .rtbDropDownExpanded .rtbChoiceArrow,
.RadToolBar_ATGSkin .rtbSplBtnHovered .rtbVOriented .rtbChoiceArrow,
.RadToolBar_ATGSkin .rtbSplBtnHovered .rtbChoiceArrow,
.RadToolBar_ATGSkin .rtbItemHovered .rtbVOriented .rtbChoiceArrow,
.RadToolBar_ATGSkin .rtbItemHovered .rtbChoiceArrow,
.RadToolBar_ATGSkin .rtbSplBtnClicked .rtbVOriented .rtbChoiceArrow,
.RadToolBar_ATGSkin .rtbSplBtnClicked .rtbChoiceArrow,
.RadToolBar_ATGSkin .rtbItemClicked .rtbVOriented .rtbChoiceArrow,
.RadToolBar_ATGSkin .rtbItemClicked .rtbChoiceArrow
{
	background-image: url(<%= WebResource("ATGCorpSkin.ToolBar.rtbDropArrows.png") %>);
}

.RadToolBar_ATGSkin .rtbExpandUp .rtbChoiceArrow,
.RadToolBar_ATGSkin .rtbSplBtn .rtbExpandUp .rtbChoiceArrow,
.RadToolBar_ATGSkin .rtbSplBtnExpanded .rtbExpandUp .rtbChoiceArrow,
.RadToolBar_ATGSkin .rtbDropDownExpanded .rtbExpandUp .rtbChoiceArrow,
.RadToolBar_ATGSkin .rtbSplBtnHovered .rtbExpandUp .rtbChoiceArrow,
.RadToolBar_ATGSkin .rtbItemHovered .rtbExpandUp .rtbChoiceArrow,
.RadToolBar_ATGSkin .rtbSplBtnClicked .rtbExpandUp .rtbChoiceArrow,
.RadToolBar_ATGSkin .rtbItemClicked .rtbExpandUp .rtbChoiceArrow
{
	background-image: url(<%= WebResource("ATGCorpSkin.ToolBar.rtbUpArrows.png") %>);
}

/* </Drop Down Arrows> */

.RadToolBar_ATGSkin_Horizontal li.rtbSeparator 
{
	border-left: 1px solid #80ace6;
	background: #fff;
}

.RadToolBar_ATGSkin_Vertical li.rtbSeparator
{
	border-top: 1px solid #80ace6;
	background: #fff;
}

/* </buttons> */


/* <disabled states> */

.RadToolBar_ATGSkin .rtbDisabled .rtbWrap:hover,
.RadToolBar_ATGSkin .rtbDisabled .rtbWrap:hover .rtbOut,
.RadToolBar_ATGSkin .rtbDisabled .rtbWrap:hover .rtbMid,
.RadToolBar_ATGSkin .rtbDisabled .rtbWrap:hover .rtbIn
{
	background-image: none;
}

.RadToolBar_ATGSkin .rtbDisabled .rtbWrap { color: #7E8FBC; }

@media screen and (-webkit-min-device-pixel-ratio:0)  /* WebKit alpha + opacity/cleartype bug, like IE wasn't enough... */
{
	.RadToolBar_ATGSkin .rtbDisabled .rtbWrap { color: #7E8FBC; }
}

/* </disabled states */

/* <drop-down> */

/* <Drop Down rounded corners and shadows> */

.RadToolBarDropDown_ATGSkin .rtbTopFix,
.RadToolBarDropDown_ATGSkin .rtbBottomFix,
.RadToolBarDropDown_ATGSkin .rtbGroup
{
	background-image: url(<%= WebResource("ATGCorpSkin.ToolBar.rtbDropDownBg.png") %>);
	background-color: #fff;
	background-repeat: repeat-y;
    background-position: -1px 0;
}

.RadToolBarDropDown_ATGSkin div.rtbTopFix,
.RadToolBarDropDown_ATGSkin div.rtbBottomFix
{
    background-position: -2px 0;
}

.RadToolBarDropDown_ATGSkin .rtbBottomLeft,
.RadToolBarDropDown_ATGSkin .rtbRoundedCorners
{
	background-image:  url(<%= WebResource("ATGCorpSkin.ToolBar.rtbRoundedLeft.png") %>);
	background-color: transparent;
	background-repeat: no-repeat;
}

.RadToolBarDropDown_ATGSkin .rtbTopRight,
.RadToolBarDropDown_ATGSkin .rtbBottomRight
{
	background-image:  url(<%= WebResource("ATGCorpSkin.ToolBar.rtbRoundedRight.png") %>);
	background-color: transparent;
	background-repeat: no-repeat;
}

.RadToolBarDropDown_ATGSkin .rtbTopFix,
.RadToolBarDropDown_ATGSkin .rtbBottomFix,
.RadToolBarDropDown_ATGSkin .rtbRoundedCorners .rtbFirst
{
	border-color: #868686;
}

.RadToolBarDropDown_ATGSkin_rtl .rtbBottomLeft,
.RadToolBarDropDown_ATGSkin_rtl .rtbRoundedCorners
{
	background-image: url(<%= WebResource("ATGCorpSkin.ToolBar.rtbRoundedLeft_rtl.png") %>);
}

.RadToolBarDropDown_ATGSkin_rtl .rtbTopRight,
.RadToolBarDropDown_ATGSkin_rtl .rtbBottomRight
{
	background-image: url(<%= WebResource("ATGCorpSkin.ToolBar.rtbRoundedRight_rtl.png") %>);
}

.RadToolBarDropDown_ATGSkin_rtl div.rtbTopFix,
.RadToolBarDropDown_ATGSkin_rtl div.rtbBottomFix,
.RadToolBarDropDown_ATGSkin_rtl .rtbGroup
{
	background-position: 101% 0;
}

/* </Drop Down rounded corners and shadows> */

.RadToolBarDropDown_ATGSkin
{
	border-color: #868686;
	background-color: #fff;
	background-image: url(<%= WebResource("ATGCorpSkin.ToolBar.rtbDropDownBg.png") %>);
	background-position: -1px 0;
}

.RadToolBarDropDown_ATGSkin li.rtbItem {
	padding:0 0 0 4px;
}

div.RadToolBarDropDown_ATGSkin_rtl
{
	background-position: 101% 0;
}

.RadToolBarDropDown_ATGSkin .rtbWrap,
.RadToolBarDropDown_ATGSkin .rtbTemplate
{
	font-weight: normal;
	font-size: 12px;
	font-family: "Segoe UI", Arial, sans-serif;
	color: #223481;
}

.RadToolBarDropDown_ATGSkin .rtbItemHovered,
.RadToolBarDropDown_ATGSkin .rtbItemFocused,
.RadToolBarDropDown_ATGSkin .rtbItemHovered .rtbWrap,
.RadToolBarDropDown_ATGSkin .rtbItemFocused .rtbWrap
{
	color: #000;
	background-image: url(<%= WebResource("ATGCorpSkin.ToolBar.rtbDropDownHover.png") %>);
}

.RadToolBarDropDown_ATGSkin .rtbDisabled .rtbWrap
{
	color: #ababab;
}

.RadToolBarDropDown_ATGSkin .rtbSeparator
{
	border-color: #c5c5c5;
	background: #fff;
}

/* </drop-down> */

/* </RadToolBar / Office2007> */
