/* RadButton Office2007 Skin */

.RadButton_UPSBrown.rbSkinnedButton,
.RadButton_UPSBrown .rbDecorated,
.RadButton_UPSBrown.rbVerticalButton,
.RadButton_UPSBrown.rbVerticalButton .rbDecorated,
.RadButton_UPSBrown .rbSplitRight,
.RadButton_UPSBrown .rbSplitLeft
{
	background-image:url('Button/ButtonSprites.gif');
}

.RadButton_UPSBrown .rbToggleCheckbox,
.RadButton_UPSBrown .rbToggleCheckboxChecked,
.RadButton_UPSBrown .rbToggleCheckboxFilled,
.RadButton_UPSBrown .rbToggleRadio,
.RadButton_UPSBrown .rbToggleRadioChecked
{
	background-image:url('Button/ToggleSprite.gif');
}

.RadButton_UPSBrown.rbToggleButton,
.RadButton_UPSBrown.rbToggleButton.rbDisabled,
.RadButton_UPSBrown.rbToggleButton.rbDisabled:hover
{
	color: #000000;
}

.RadButton_UPSBrown.rbDisabled .rbDecorated,
.RadButton_UPSBrown.rbDisabled:hover .rbDecorated,
.RadButton_UPSBrown.rbToggleButton:hover
{
	color: #6b6b6b;
}

.RadButton_UPSBrown.rbLinkButton
{
	border: 1px solid #f5dbb0;
	color: #6e4900;
	text-decoration: none;
}

.RadButton_UPSBrown.rbLinkButton:hover
{
	background-color: #ffaa00;
	color: #6e4900;
}

.RadButton_UPSBrown.rbLinkButtonChecked,
.RadButton_UPSBrown.rbLinkButtonChecked:hover
{
	background-color: #faa700;
}

.RadButton_UPSBrown.rbLinkButton.rbDisabled,
.RadButton_UPSBrown.rbLinkButton.rbDisabled:hover
{
	background-color: #fafafa;
	border: 1px solid #d1d1d1;
	color: #6b6b6b;
}

.RadButton_UPSBrown.rbLinkButton:hover .rbSplitLeft,
.RadButton_UPSBrown.rbLinkButton:hover .rbSplitRight
{
	background-color: #ffffff;
}

.RadButton_UPSBrown.rbLinkButton .rbSplitRight
{
	border-left: 1px solid #f5dbb0;
}

.RadButton_UPSBrown.rbLinkButton .rbSplitRight:hover
{
	background-position: -126px -137px;
	background-color: #f7a900;
	border-left: 1px solid #f5dbb0;
}

.RadButton_UPSBrown.rbLinkButton .rbSplitRight:active,
.RadButton_UPSBrown.rbLinkButton .rbSplitRight:focus
{
	background-color: #d18b00;
	border-left: 1px solid #f5dbb0;
}

.RadButton_UPSBrown.rbLinkButton .rbSplitLeft
{
	border-right: 1px solid #f5dbb0;
}

.RadButton_UPSBrown.rbLinkButton .rbSplitLeft:hover
{
	background-position: -126px -137px;
	background-color: #f7a900;
	border-right: 1px solid #f5dbb0;
}

.RadButton_UPSBrown.rbLinkButton .rbSplitLeft:active,
.RadButton_UPSBrown.rbLinkButton .rbSplitLeft:focus
{
	background-color: #d18b00;
	border-right: 1px solid #f5dbb0;
}

/* IE6 Fix, should be important to override the joint selectors */
*html .RadButton_UPSBrown.rbLinkButton,
*html .RadButton_UPSBrown.rbLinkButton:hover
{
	border: 1px solid #6e4900 !important;
}



 .RadButton_UPSBrown.rbToggleButton {
	color: rgb(102, 51, 51);
}
 .RadButton_UPSBrown.rbToggleButton .rbToggleCheckbox {
	background-color: rgb(255, 255, 255);
}
 .RadButton_UPSBrown.rbToggleButton:hover .rbToggleCheckbox {
	background-color: rgb(255, 255, 255);
}
 .RadButton_UPSBrown.rbToggleButton:hover .rbToggleRadio {
	background-color: rgb(255, 255, 255);
}
 .RadButton_UPSBrown.rbLinkButton {
	color: rgb(102, 51, 51);
}
