/* RadButton Office2007 Skin */

.RadButton_rbSkinnedButton,
.RadButton_ATGSkin .rbDecorated,
.RadButton_rbVerticalButton,
.RadButton_rbVerticalButton .rbDecorated,
.RadButton_ATGSkin .rbSplitRight,
.RadButton_ATGSkin .rbSplitLeft
{
	background-image:url(<%= WebResource("ATGUPSSkin.Button.ButtonSprites.gif") %>);
}

.RadButton_ATGSkin .rbToggleCheckbox,
.RadButton_ATGSkin .rbToggleCheckboxChecked,
.RadButton_ATGSkin .rbToggleCheckboxFilled,
.RadButton_ATGSkin .rbToggleRadio,
.RadButton_ATGSkin .rbToggleRadioChecked
{
	background-image:url(<%= WebResource("ATGUPSSkin.Button.ToggleSprite.gif") %>);
}

.RadButton_rbToggleButton,
.RadButton_rbToggleButton.rbDisabled,
.RadButton_rbToggleButton.rbDisabled:hover
{
	color: #000000;
}

.RadButton_rbDisabled .rbDecorated,
.RadButton_rbDisabled:hover .rbDecorated,
.RadButton_rbToggleButton:hover
{
	color: #6b6b6b;
}

.RadButton_rbLinkButton
{
	border: 1px solid #f5dbb0;
	color: #6e4900;
	text-decoration: none;
}

.RadButton_rbLinkButton:hover
{
	background-color: #ffaa00;
	color: #6e4900;
}

.RadButton_rbLinkButtonChecked,
.RadButton_rbLinkButtonChecked:hover
{
	background-color: #faa700;
}

.RadButton_rbLinkButton.rbDisabled,
.RadButton_rbLinkButton.rbDisabled:hover
{
	background-color: #fafafa;
	border: 1px solid #d1d1d1;
	color: #6b6b6b;
}

.RadButton_rbLinkButton:hover .rbSplitLeft,
.RadButton_rbLinkButton:hover .rbSplitRight
{
	background-color: #ffffff;
}

.RadButton_rbLinkButton .rbSplitRight
{
	border-left: 1px solid #f5dbb0;
}

.RadButton_rbLinkButton .rbSplitRight:hover
{
	background-position: -126px -137px;
	background-color: #f7a900;
	border-left: 1px solid #f5dbb0;
}

.RadButton_rbLinkButton .rbSplitRight:active,
.RadButton_rbLinkButton .rbSplitRight:focus
{
	background-color: #d18b00;
	border-left: 1px solid #f5dbb0;
}

.RadButton_rbLinkButton .rbSplitLeft
{
	border-right: 1px solid #f5dbb0;
}

.RadButton_rbLinkButton .rbSplitLeft:hover
{
	background-position: -126px -137px;
	background-color: #f7a900;
	border-right: 1px solid #f5dbb0;
}

.RadButton_rbLinkButton .rbSplitLeft:active,
.RadButton_rbLinkButton .rbSplitLeft:focus
{
	background-color: #d18b00;
	border-right: 1px solid #f5dbb0;
}

/* IE6 Fix, should be important to override the joint selectors */
*html .RadButton_rbLinkButton,
*html .RadButton_rbLinkButton:hover
{
	border: 1px solid #6e4900 !important;
}



 .RadButton_UPSBrown.rbToggleButton {

	color: rgb(102, 51, 51);

}

 .RadButton_UPSBrown.rbToggleButton .rbToggleCheckbox {

	background-color: rgb(255, 255, 255);

}

 .RadButton_UPSBrown.rbToggleButton:hover .rbToggleCheckbox {

	background-color: rgb(255, 255, 255);

}

 .RadButton_UPSBrown.rbToggleButton:hover .rbToggleRadio {

	background-color: rgb(255, 255, 255);

}

 .RadButton_UPSBrown.rbLinkButton {

	color: rgb(102, 51, 51);

}

