/* RadComboBox Default skin */

/*global*/

.RadComboBox_UPSBrown,
.RadComboBox_UPSBrown .rcbInput,
.RadComboBoxDropDown_UPSBrown
{
	font: 12px "Segoe UI", Arial, sans-serif;
	color: #333333;
}

/* combobox */

.RadComboBox_UPSBrown .rcbInputCellLeft,
.RadComboBox_UPSBrown .rcbInputCellRight,
.RadComboBox_UPSBrown .rcbArrowCellLeft,
.RadComboBox_UPSBrown .rcbArrowCellRight
{
	background-image: url('ComboBox/rcbSprite.png');
	_background-image: url('ComboBox/rcbSpriteIE6.png');
}

.RadComboBox_UPSBrown td.rcbInputCellLeft { background-position: 0 0; }
.RadComboBox_UPSBrown td.rcbInputCellRight { background-position: 100% 0; }

.RadComboBox_UPSBrown .rcbHovered .rcbInputCellLeft { background-position: 0 0; }
.RadComboBox_UPSBrown .rcbHovered .rcbInputCellRight { background-position: 100% 0; }

.RadComboBox_UPSBrown .rcbFocused .rcbInputCellLeft { background-position: 0 0; }
.RadComboBox_UPSBrown .rcbFocused .rcbInputCellRight { background-position: 100% 0; }

.RadComboBox_UPSBrown .rcbHovered .rcbReadOnly td.rcbInputCellLeft { background-position: 0 -22px; }
.RadComboBox_UPSBrown .rcbHovered .rcbReadOnly td.rcbInputCellRight { background-position: 100% -22px; }

.RadComboBox_UPSBrown .rcbFocused .rcbReadOnly td.rcbInputCellLeft { background-position: 0 -44px; }
.RadComboBox_UPSBrown .rcbFocused .rcbReadOnly td.rcbInputCellRight { background-position: 100% -44px; }

.RadComboBox_UPSBrown .rcbInputCell .rcbEmptyMessage
{
	color: #666666;
}

.RadComboBox_UPSBrown .rcbHovered .rcbInputCell .rcbInput
{
	color: #000000;
}

.RadComboBox_UPSBrown td.rcbArrowCellLeft { background-position: -18px -88px; }
.RadComboBox_UPSBrown td.rcbArrowCellRight { background-position: 0 -88px; }

.RadComboBox_UPSBrown .rcbHovered .rcbArrowCellLeft { background-position: -54px -88px; }
.RadComboBox_UPSBrown .rcbHovered .rcbArrowCellRight { background-position: -36px -88px; }

.RadComboBox_UPSBrown .rcbFocused .rcbArrowCellLeft { background-position: -90px -88px; }
.RadComboBox_UPSBrown .rcbFocused .rcbArrowCellRight { background-position: -72px -88px; }

.RadComboBox_UPSBrown td.rcbArrowCellHidden,
.RadComboBox_UPSBrown .rcbHovered td.rcbArrowCellHidden,
.RadComboBox_UPSBrown .rcbFocused td.rcbArrowCellHidden { background-position: -15px -88px; }

.RadComboBox_UPSBrown_rtl td.rcbArrowCellHidden,
.RadComboBox_UPSBrown_rtl .rcbHovered td.rcbArrowCellHidden,
.RadComboBox_UPSBrown_rtl .rcbFocused td.rcbArrowCellHidden { background-position: -18px -88px; }

/* Read-only styles */

.RadComboBox_UPSBrown .rcbReadOnly td.rcbArrowCellLeft { background-position: -18px -88px; }
.RadComboBox_UPSBrown .rcbReadOnly td.rcbArrowCellRight { background-position: -2px -88px; }

.RadComboBox_UPSBrown .rcbHovered .rcbReadOnly .rcbArrowCellLeft { background-position: -54px -88px; }
.RadComboBox_UPSBrown .rcbHovered .rcbReadOnly .rcbArrowCellRight { background-position: -38px -88px; }

.RadComboBox_UPSBrown .rcbFocused .rcbReadOnly .rcbArrowCellLeft { background-position: -90px -88px; }
.RadComboBox_UPSBrown .rcbFocused .rcbReadOnly .rcbArrowCellRight { background-position: -74px -88px; }

.RadComboBox_UPSBrown .rcbReadOnly td.rcbArrowCellHidden { background-position: -15px -88px; }
.RadComboBox_UPSBrown .rcbHovered .rcbReadOnly td.rcbArrowCellHidden { background-position: -51px -88px; }
.RadComboBox_UPSBrown .rcbFocused .rcbReadOnly td.rcbArrowCellHidden { background-position: -87px -88px; }

.RadComboBox_UPSBrown_rtl .rcbReadOnly td.rcbArrowCellHidden { background-position: -18px -88px; }
.RadComboBox_UPSBrown_rtl .rcbHovered .rcbReadOnly td.rcbArrowCellHidden { background-position: -54px -88px; }
.RadComboBox_UPSBrown_rtl .rcbFocused .rcbReadOnly td.rcbArrowCellHidden { background-position: -90px -88px; }

/* dropdown */

.RadComboBoxDropDown_UPSBrown .rcbHeader,
.RadComboBoxDropDown_UPSBrown .rcbFooter,
.RadComboBoxDropDown_UPSBrown .rcbMoreResults a
{
	background-image: url('ComboBox/rcbSprite.png');
	_background-image: url('ComboBox/rcbSpriteIE6.png');
}

.RadComboBoxDropDown_UPSBrown
{
	background: #ffffff;
	border-color: #878787;
	color: #6e4d00;
}

.RadComboBoxDropDown_UPSBrown .rcbHeader,
.RadComboBoxDropDown_UPSBrown .rcbFooter
{
	background-color: #f5f5f5;
	background-position: 0 -110px;
}

.RadComboBoxDropDown_UPSBrown .rcbHeader
{
	border-bottom-color: #d6d6d6;
}

.RadComboBoxDropDown_UPSBrown .rcbFooter
{
	border-top-color: #d6d6d6;
}

.RadComboBoxDropDown_UPSBrown .rcbItem em
{
	background: #e6e6e6;
}

.RadComboBoxDropDown_UPSBrown .rcbHovered
{
	background: #ffb200;
	color: #000000;
}

.RadComboBoxDropDown_UPSBrown .rcbCheckAllItems,
.RadComboBoxDropDown_UPSBrown .rcbCheckAllItemsHovered {
	color: #6e4d00;
	background-color: #ffb700;
}
.RadComboBoxDropDown_UPSBrown .rcbCheckAllItemsHovered {
	color: #000000;
}

.RadComboBoxDropDown_UPSBrown .rcbSeparator
{
    background: #fcb100;
    color: #000000;
}

.RadComboBox_UPSBrown .rcbDisabled .rcbInputCell .rcbInput,
.RadComboBoxDropDown_UPSBrown .rcbDisabled
{
	color: #999999;
}

.RadComboBox_UPSBrown .rcbDisabled td.rcbInputCellLeft { background-position: 0 -66px; }
.RadComboBox_UPSBrown .rcbDisabled td.rcbInputCellRight { background-position: 100% -66px; }
.RadComboBox_UPSBrown .rcbDisabled td.rcbArrowCellLeft { background-position: -126px -88px; }
.RadComboBox_UPSBrown .rcbDisabled td.rcbArrowCellRight { background-position: -108px -88px; }
.RadComboBox_UPSBrown .rcbDisabled .rcbReadOnly td.rcbArrowCellRight { background-position: -110px -88px; }
.RadComboBox_UPSBrown table.rcbDisabled td.rcbArrowCellHidden,
.RadComboBox_UPSBrown .rcbDisabled .rcbReadOnly td.rcbArrowCellHidden { background-position: -123px -88px; }
.RadComboBox_UPSBrown_rtl table.rcbDisabled td.rcbArrowCellHidden,
.RadComboBox_UPSBrown_rtl .rcbDisabled .rcbReadOnly td.rcbArrowCellHidden { background-position: -126px -88px; }

.RadComboBoxDropDown_UPSBrown .rcbLoading
{
	background: #f0f0f0;
}

.RadComboBoxDropDown_UPSBrown .rcbMoreResults
{
	border-top-color: #d1c5a7;
	background-color: #ffffff;
	color: #8c8c8c;
}

.RadComboBoxDropDown_UPSBrown .rcbMoreResults a
{
	background-position: -157px -94px;
}
