/* RadComboBox Default skin */

/*global*/

.RadComboBox_ATGSkin,
.RadComboBox_ATGSkin .rcbInput,
.RadComboBoxDropDown_ATGSkin
{
	font: 12px "Segoe UI", Arial, sans-serif;
	color: #333333;
}

/* combobox */

.RadComboBox_ATGSkin .rcbInputCellLeft,
.RadComboBox_ATGSkin .rcbInputCellRight,
.RadComboBox_ATGSkin .rcbArrowCellLeft,
.RadComboBox_ATGSkin .rcbArrowCellRight
{
	background-image: url(<%= WebResource("ATGUPSSkin.ComboBox.rcbSprite.png") %>);
	_background-image: url(<%= WebResource("ATGUPSSkin.ComboBox.rcbSpriteIE6.png") %>);
}

.RadComboBox_ATGSkin td.rcbInputCellLeft { background-position: 0 0; }
.RadComboBox_ATGSkin td.rcbInputCellRight { background-position: 100% 0; }

.RadComboBox_ATGSkin .rcbHovered .rcbInputCellLeft { background-position: 0 0; }
.RadComboBox_ATGSkin .rcbHovered .rcbInputCellRight { background-position: 100% 0; }

.RadComboBox_ATGSkin .rcbFocused .rcbInputCellLeft { background-position: 0 0; }
.RadComboBox_ATGSkin .rcbFocused .rcbInputCellRight { background-position: 100% 0; }

.RadComboBox_ATGSkin .rcbHovered .rcbReadOnly td.rcbInputCellLeft { background-position: 0 -22px; }
.RadComboBox_ATGSkin .rcbHovered .rcbReadOnly td.rcbInputCellRight { background-position: 100% -22px; }

.RadComboBox_ATGSkin .rcbFocused .rcbReadOnly td.rcbInputCellLeft { background-position: 0 -44px; }
.RadComboBox_ATGSkin .rcbFocused .rcbReadOnly td.rcbInputCellRight { background-position: 100% -44px; }

.RadComboBox_ATGSkin .rcbInputCell .rcbEmptyMessage
{
	color: #666666;
}

.RadComboBox_ATGSkin .rcbHovered .rcbInputCell .rcbInput
{
	color: #000000;
}

.RadComboBox_ATGSkin td.rcbArrowCellLeft { background-position: -18px -88px; }
.RadComboBox_ATGSkin td.rcbArrowCellRight { background-position: 0 -88px; }

.RadComboBox_ATGSkin .rcbHovered .rcbArrowCellLeft { background-position: -54px -88px; }
.RadComboBox_ATGSkin .rcbHovered .rcbArrowCellRight { background-position: -36px -88px; }

.RadComboBox_ATGSkin .rcbFocused .rcbArrowCellLeft { background-position: -90px -88px; }
.RadComboBox_ATGSkin .rcbFocused .rcbArrowCellRight { background-position: -72px -88px; }

.RadComboBox_ATGSkin td.rcbArrowCellHidden,
.RadComboBox_ATGSkin .rcbHovered td.rcbArrowCellHidden,
.RadComboBox_ATGSkin .rcbFocused td.rcbArrowCellHidden { background-position: -15px -88px; }

.RadComboBox_ATGSkin_rtl td.rcbArrowCellHidden,
.RadComboBox_ATGSkin_rtl .rcbHovered td.rcbArrowCellHidden,
.RadComboBox_ATGSkin_rtl .rcbFocused td.rcbArrowCellHidden { background-position: -18px -88px; }

/* Read-only styles */

.RadComboBox_ATGSkin .rcbReadOnly td.rcbArrowCellLeft { background-position: -18px -88px; }
.RadComboBox_ATGSkin .rcbReadOnly td.rcbArrowCellRight { background-position: -2px -88px; }

.RadComboBox_ATGSkin .rcbHovered .rcbReadOnly .rcbArrowCellLeft { background-position: -54px -88px; }
.RadComboBox_ATGSkin .rcbHovered .rcbReadOnly .rcbArrowCellRight { background-position: -38px -88px; }

.RadComboBox_ATGSkin .rcbFocused .rcbReadOnly .rcbArrowCellLeft { background-position: -90px -88px; }
.RadComboBox_ATGSkin .rcbFocused .rcbReadOnly .rcbArrowCellRight { background-position: -74px -88px; }

.RadComboBox_ATGSkin .rcbReadOnly td.rcbArrowCellHidden { background-position: -15px -88px; }
.RadComboBox_ATGSkin .rcbHovered .rcbReadOnly td.rcbArrowCellHidden { background-position: -51px -88px; }
.RadComboBox_ATGSkin .rcbFocused .rcbReadOnly td.rcbArrowCellHidden { background-position: -87px -88px; }

.RadComboBox_ATGSkin_rtl .rcbReadOnly td.rcbArrowCellHidden { background-position: -18px -88px; }
.RadComboBox_ATGSkin_rtl .rcbHovered .rcbReadOnly td.rcbArrowCellHidden { background-position: -54px -88px; }
.RadComboBox_ATGSkin_rtl .rcbFocused .rcbReadOnly td.rcbArrowCellHidden { background-position: -90px -88px; }

/* dropdown */

.RadComboBoxDropDown_ATGSkin .rcbHeader,
.RadComboBoxDropDown_ATGSkin .rcbFooter,
.RadComboBoxDropDown_ATGSkin .rcbMoreResults a
{
	background-image: url(<%= WebResource("ATGUPSSkin.ComboBox.rcbSprite.png") %>);
	_background-image: url(<%= WebResource("ATGUPSSkin.ComboBox.rcbSpriteIE6.png") %>);
}

.RadComboBoxDropDown_ATGSkin
{
	background: #ffffff;
	border-color: #878787;
	color: #6e4d00;
}

.RadComboBoxDropDown_ATGSkin .rcbHeader,
.RadComboBoxDropDown_ATGSkin .rcbFooter
{
	background-color: #f5f5f5;
	background-position: 0 -110px;
}

.RadComboBoxDropDown_ATGSkin .rcbHeader
{
	border-bottom-color: #d6d6d6;
}

.RadComboBoxDropDown_ATGSkin .rcbFooter
{
	border-top-color: #d6d6d6;
}

.RadComboBoxDropDown_ATGSkin .rcbItem em
{
	background: #e6e6e6;
}

.RadComboBoxDropDown_ATGSkin .rcbHovered
{
	background: #ffb200;
	color: #000000;
}

.RadComboBoxDropDown_ATGSkin .rcbCheckAllItems,
.RadComboBoxDropDown_ATGSkin .rcbCheckAllItemsHovered {
	color: #6e4d00;
	background-color: #ffb700;
}
.RadComboBoxDropDown_ATGSkin .rcbCheckAllItemsHovered {
	color: #000000;
}

.RadComboBoxDropDown_ATGSkin .rcbSeparator
{
    background: #fcb100;
    color: #000000;
}

.RadComboBox_ATGSkin .rcbDisabled .rcbInputCell .rcbInput,
.RadComboBoxDropDown_ATGSkin .rcbDisabled
{
	color: #999999;
}

.RadComboBox_ATGSkin .rcbDisabled td.rcbInputCellLeft { background-position: 0 -66px; }
.RadComboBox_ATGSkin .rcbDisabled td.rcbInputCellRight { background-position: 100% -66px; }
.RadComboBox_ATGSkin .rcbDisabled td.rcbArrowCellLeft { background-position: -126px -88px; }
.RadComboBox_ATGSkin .rcbDisabled td.rcbArrowCellRight { background-position: -108px -88px; }
.RadComboBox_ATGSkin .rcbDisabled .rcbReadOnly td.rcbArrowCellRight { background-position: -110px -88px; }
.RadComboBox_ATGSkin table.rcbDisabled td.rcbArrowCellHidden,
.RadComboBox_ATGSkin .rcbDisabled .rcbReadOnly td.rcbArrowCellHidden { background-position: -123px -88px; }
.RadComboBox_ATGSkin_rtl table.rcbDisabled td.rcbArrowCellHidden,
.RadComboBox_ATGSkin_rtl .rcbDisabled .rcbReadOnly td.rcbArrowCellHidden { background-position: -126px -88px; }

.RadComboBoxDropDown_ATGSkin .rcbLoading
{
	background: #f0f0f0;
}

.RadComboBoxDropDown_ATGSkin .rcbMoreResults
{
	border-top-color: #d1c5a7;
	background-color: #ffffff;
	color: #8c8c8c;
}

.RadComboBoxDropDown_ATGSkin .rcbMoreResults a
{
	background-position: -157px -94px;
}
