/* RadFormDecorator for ASP.NET Office2007 Skin */

/* CSS class for styling the decoration zone or the <html /> tag of the page */
.RadForm_UPSBrown.rfdZone
{  
}

/* Decorate scrollbars */
.RadForm_UPSBrown.rfdScrollBars
{
	scrollbar-3dlight-color: #948a7f; 
	scrollbar-arrow-color: #736a60;
	scrollbar-base-color: #f5f5f5; 
	scrollbar-darkshadow-color: #948a7f; 
	scrollbar-face-color: #e8e7e6;
	scrollbar-highlight-color: #ffffff; 
	scrollbar-shadow-color: #a3a3a3;
	scrollbar-track-color: #f0f0f0;
}

/* Decorate <input type="button | submit | reset" /> and <button type="button | submit | reset" /> - look if there is a secondary .rfdButton class applied to the root element */
.RadForm_UPSBrown.rfdButton a.rfdSkinnedButton,
.RadForm_UPSBrown.rfdButton input[type="button"].rfdDecorated,
.RadForm_UPSBrown.rfdButton input[type="reset"].rfdDecorated,
.RadForm_UPSBrown.rfdButton input[type="submit"].rfdDecorated,
.RadForm_UPSBrown.rfdButton .rfdSkinnedButton button
{
	background-image: url('FormDecorator/ButtonSprites.gif');
	color: #000000;
}

*html .RadForm_UPSBrown a.rfdSkinnedButton,
*html .RadForm_UPSBrown .rfdSkinnedButton button,
*html .RadForm_UPSBrown .rfdSkinnedButton input.rfdDecorated,
.RadForm_UPSBrown.rfdButton a.rfdSkinnedButton,
.RadForm_UPSBrown.rfdButton a.rfdSkinnedButton *
{
	background-image: url('FormDecorator/ButtonSprites.gif');
	color: #000000;
}

/* OPERA width fix - do not remove (and check if it is still necessary) */
@media screen and (min-width:1px)  
{
	/* 
       the hack below fixes a strange behavior under Opera - 
       input and button have a different CSS display when in anchor tag 
    */
	.RadForm_UPSBrown.rfdButton a.rfdSkinnedButton input
	{
	    display: block;
	    float: left;
	}
}

/* Decorate <h4|5|6 /> */
.RadForm_UPSBrown.rfdHeading h4
{
	color: #b09e8d;	
	border-bottom: solid 1px #a1a1a1;	
}

.RadForm_UPSBrown.rfdHeading h5
{
	color: #000000;	
	border-bottom: solid 1px #a1a1a1;	
}

.RadForm_UPSBrown.rfdHeading h6
{
	color: #000000;
}

/* Decorate <label /> */
.RadForm_UPSBrown.rfdLabel label
{	
	color: #000000;
}

/* Decorate <input type="checkbox" /> */
.RadForm_UPSBrown .rfdCheckboxUnchecked,
.RadForm_UPSBrown .rfdCheckboxChecked,
.RadForm_UPSBrown .rfdInputDisabled.rfdCheckboxUnchecked,
.RadForm_UPSBrown .rfdInputDisabled.rfdCheckboxChecked
{
	background-image: url('FormDecorator/CheckBoxSprites.gif');
}

/* Decorate <input type="radio" /> */
.RadForm_UPSBrown .rfdRadioUnchecked,
.RadForm_UPSBrown .rfdRadioChecked,
.RadForm_UPSBrown .rfdInputDisabled.rfdRadioUnchecked,
.RadForm_UPSBrown .rfdInputDisabled.rfdRadioChecked
{
	background-image: url('FormDecorator/RadioButtonSprites.png');
}

/* IE6 - we set .gif")%> image instead of .png")%> due to the lack RGBA support */
.RadForm_UPSBrown .rfdRadioUnchecked,
.RadForm_UPSBrown .rfdInputDisabled.rfdRadioUnchecked:hover,
.RadForm_UPSBrown .rfdRadioUnchecked:hover,
.RadForm_UPSBrown .rfdRadioChecked,
.RadForm_UPSBrown .rfdInputDisabled.rfdRadioChecked:hover,
.RadForm_UPSBrown .rfdRadioChecked:hover
{
    _background-image: url('FormDecorator/RadioButtonSprites.gif'); /* IE6 hack */
}

/* <fieldset /> and <legend /> */

.RadForm_UPSBrown.rfdFieldset table.rfdRoundedWrapper_fieldset legend,
.RadForm_UPSBrown fieldset.rfdFieldset legend,
.RadForm_UPSBrown.rfdFieldset fieldset legend
{
	color: #000000;	
}

.RadForm_UPSBrown table.rfdRoundedWrapper:hover div.rfdRoundedInner
{
    background-color: #ffffff;
    border-color: #8f7b67 !important;
}

/* this selector styles the hover of the side bars of the rounded elements */
.RadForm_UPSBrown table.rfdRoundedWrapper:hover .rfdRoundedOuter
{	
	background-color: #8f7b67 !important;
}

/* Decorate <input type="text | password | search | url | tel | email" /> and <textarea /> */
/* For all browsers except IE6 we are using attribute selectors - single or double */
.RadForm_UPSBrown.rfdTextbox input[type="text"],
.RadForm_UPSBrown.rfdTextbox input[type="password"],
.RadForm_UPSBrown.rfdTextbox input[type="search"],
.RadForm_UPSBrown.rfdTextbox input[type="url"],
.RadForm_UPSBrown.rfdTextbox input[type="tel"],
.RadForm_UPSBrown.rfdTextbox input[type="email"],
.RadForm_UPSBrown.rfdTextarea textarea,
.RadForm_UPSBrown.rfdTextarea textarea[disabled]:hover,
.RadForm_UPSBrown.rfdTextbox input[disabled][type="text"]:hover,
.RadForm_UPSBrown.rfdTextbox input[disabled][type="password"]:hover,
.RadForm_UPSBrown.rfdTextbox input[disabled][type="search"]:hover,
.RadForm_UPSBrown.rfdTextbox input[disabled][type="url"]:hover,
.RadForm_UPSBrown.rfdTextbox input[disabled][type="tel"]:hover,
.RadForm_UPSBrown.rfdTextbox input[disabled][type="email"]:hover
{
    border: solid 1px #ded4ca;
    background-color: #ffffff;
}

.RadForm_UPSBrown.rfdTextbox .rfdDecorated:hover,
.RadForm_UPSBrown.rfdTextarea textarea:hover,
.RadForm_UPSBrown.rfdTextbox .rfdDecorated:focus,
.RadForm_UPSBrown.rfdTextarea textarea:focus
{
    border: solid 1px #8f7b67;
}

/* Decorate <fieldset /> */
.RadForm_UPSBrown.rfdFieldset fieldset
{	
	border: solid 1px #dbcfc3;
	background-image: url('FormDecorator/FieldsetBgr.png'); /* having a background image on a fieldset is not okay with IE */	
}

/* Decorate <fieldset /> and <legend /> */
.RadForm_UPSBrown.rfdFieldset table.rfdRoundedWrapper_fieldset legend,
.RadForm_UPSBrown.rfdFieldset fieldset.rfdFieldset legend
{
	color: #000000;	
}

.RadForm_UPSBrown.rfdFieldset table.rfdRoundedWrapper_fieldset fieldset,
.RadForm_UPSBrown.rfdFieldset fieldset.rfdFieldset
{	
	border: solid 1px #dbcfc3;
	background-image: url('FormDecorator/FieldsetBgr.png'); /* having a background image on a fieldset is not okay with IE */	
}

/* Because of a glitch in IE the following 2 CSS classes must be declared separately for correct parsing of the textarea class in IE6*/
.RadForm_UPSBrown table.rfdRoundedWrapper input,
.RadForm_UPSBrown table.rfdRoundedWrapper textarea,
.RadForm_UPSBrown input.rfdInput, 
.RadForm_UPSBrown textarea.rfdTextarea
{
	border: solid 1px #ded4ca;
	background: #ffffff;	
	color: #000000;
}

.RadForm_UPSBrown textarea.rfdTextarea,
.RadForm_UPSBrown table.rfdRoundedWrapper textarea
{
    overflow: auto;
}

/* <select /> */
.rfdSelect_UPSBrown,
.rfdSelect_UPSBrown:hover,
.rfdSelect_UPSBrown .rfdSelectOuter,
.rfdSelect_UPSBrown:hover .rfdSelectOuter,
.rfdSelect_UPSBrown .rfdSelectArrow span,
.rfdSelectBox_UPSBrown .rfdSelect_selected,
.rfdSelectBox_UPSBrown li:hover,
.rfdSelect_UPSBrown.rfdSelectDisabled:hover,
.rfdRtl .rfdSelect_UPSBrown,
.rfdRtl .rfdSelect_UPSBrown:hover,
.rfdRtl .rfdSelect_UPSBrown .rfdSelectOuter,
.rfdRtl .rfdSelect_UPSBrown .rfdSelectOuter:hover
{
    background-image: url('FormDecorator/ComboSprites.gif');
    background-repeat: no-repeat;
    background-color: transparent;
}

.rfdSelect_UPSBrown .rfdSelectOuter,
.rfdSelect_UPSBrown.rfdSelectDisabled:hover .rfdSelectOuter
{
    color: #000000;
}

/* dropdown settings */
.rfdSelectBox_UPSBrown
{
    background: #ffffff;
    border: solid 1px #828282;
    color: #000000;
}

.rfdSelectBox_UPSBrown li
{
    padding: 0 0 0 3px;
    background-image: none !important;
}

.rfdSelectBox_UPSBrown .rfdSelect_selected,
.rfdSelectBox_UPSBrown li:hover
{
    color: #000000;
    background-color: #ffe3c7;
}

.rfdSelectBox_UPSBrown .rfdSelectBox_optgroup_label:hover
{
    background: none;
    color: #000000;
}

/* IE6 disabled state fix - this should not be added to the base stylesheet, but at the bottom of the skin file */
* html .RadForm_UPSBrown.rfdButton a.rfdInputDisabled:hover
{
	_background-position: 0 0;
}

* html .RadForm_UPSBrown.rfdButton a.rfdInputDisabled:hover *
{
	_background-position: right -21px;
	_color: #000000;
}

.RadForm_UPSBrown.rfdTextbox input.rfdIE6TextBox,
.RadForm_UPSBrown.rfdTextbox textarea.rfdIE6TextBox
{
    _border: solid 1px #ded4ca;
    _background-color: #ffffff;
}

/* the styling of radiobuttons and checkboxes in Safari and Chrome is already fully achieved with CSS */
@media screen and (-webkit-min-device-pixel-ratio: 0)
{
    /* checkboxes */
    .rfdCheckbox input[type="checkbox"],
    .rfdCheckbox input[type="checkbox"][disabled]:hover
    {
        background-image: url('FormDecorator/CheckBoxSprites.gif');
    }
    
    /* radio buttons */
    .rfdRadio input[type="radio"],
    .rfdRadio input[type="radio"][disabled="disabled"]:hover
    {
        background-image: url('FormDecorator/RadioButtonSprites.png');
    }
}

/* ----------------------------------------------- Skin-specific Scrollbar Settings for WebKit ----------------------------------------------- */

/* the scrollbar face color */
.RadForm.rfdScrollBars.RadForm_UPSBrown body::-webkit-scrollbar,
.RadForm.rfdScrollBars.RadForm_UPSBrown body::-webkit-scrollbar-thumb:vertical,
.RadForm.rfdScrollBars.RadForm_UPSBrown body::-webkit-scrollbar-thumb:horizontal,
.RadForm.rfdScrollBars.RadForm_UPSBrown div::-webkit-scrollbar,
.RadForm.rfdScrollBars.RadForm_UPSBrown div::-webkit-scrollbar-thumb:vertical,
.RadForm.rfdScrollBars.RadForm_UPSBrown div::-webkit-scrollbar-thumb:horizontal
.RadForm.rfdScrollBars.RadForm_UPSBrown form::-webkit-scrollbar,
.RadForm.rfdScrollBars.RadForm_UPSBrown form::-webkit-scrollbar-thumb:vertical,
.RadForm.rfdScrollBars.RadForm_UPSBrown form::-webkit-scrollbar-thumb:horizontal
{
    background-color: #e8e7e6;
}

/* scrollbar track background color */
.RadForm.rfdScrollBars.RadForm_UPSBrown ::-webkit-scrollbar-track-piece,
.RadForm.rfdScrollBars.RadForm_UPSBrown ::-webkit-scrollbar-corner
{
    background-color: #f0f0f0;
}

.RadForm.rfdScrollBars.RadForm_UPSBrown ::-webkit-scrollbar-button:vertical:decrement, 
.RadForm.rfdScrollBars.RadForm_UPSBrown ::-webkit-scrollbar-button:vertical:increment, 
.RadForm.rfdScrollBars.RadForm_UPSBrown ::-webkit-scrollbar-button:horizontal:decrement, 
.RadForm.rfdScrollBars.RadForm_UPSBrown ::-webkit-scrollbar-button:horizontal:increment, 
.RadForm.rfdScrollBars.RadForm_UPSBrown ::-webkit-scrollbar-thumb:vertical, 
.RadForm.rfdScrollBars.RadForm_UPSBrown ::-webkit-scrollbar-thumb:horizontal
{
    border-color: #ffffff #a3a3a3 #a3a3a3 #ffffff;
}

/* increment / decrement button settings */
.RadForm.rfdScrollBars.RadForm_UPSBrown ::-webkit-scrollbar-button:vertical:decrement, 
.RadForm.rfdScrollBars.RadForm_UPSBrown ::-webkit-scrollbar-button:vertical:increment, 
.RadForm.rfdScrollBars.RadForm_UPSBrown ::-webkit-scrollbar-button:horizontal:decrement, 
.RadForm.rfdScrollBars.RadForm_UPSBrown ::-webkit-scrollbar-button:horizontal:increment
{
    background-image: url('FormDecorator/ButtonSprites.gif');
    background-color: #e8e7e6;
}

/*GridView, FormView, DetailsView*/
.RadForm_UPSBrown.rfdGrids .rfdTable
{
    border:1px solid #b0a192;
    background:#ffffff;
    color:#333333;
    font:12px "segoe ui",arial,sans-serif;
}

.RadForm_UPSBrown.rfdGrids .rfdTable th
{
    border-bottom:1px solid #c9b39d;
    border-left:1px solid #c9b39d;
    background:#f2e9df;
    color:#6e563d;
}

.RadForm_UPSBrown.rfdGrids .rfdTable a
{
    color:#6e563d;
}

/* Validation Summary Control and Login Control  */

.RadForm_UPSBrown .rfdValidationSummaryControl,
.RadForm_UPSBrown .rfdLoginControl
{
	background-color: #ffffff;
	border: 1px solid #ded4ca;
}

.RadForm_UPSBrown a.rfdLoginControl
{
	color: #6e563d;
}

.RadForm_UPSBrown a.rfdLoginControl:active,
.RadForm_UPSBrown a.rfdLoginControl:hover,
.RadForm_UPSBrown a.rfdLoginControl:visited
{
	color: #000000;
}




 .RadForm_UPSBrown.rfdFieldset legend {
	color: rgb(102, 51, 51);
}
 .RadForm_UPSBrown.rfdTextbox input[type=text] {
	color: rgb(102, 51, 51);
}
 .RadForm_UPSBrown.rfdTextbox input[type=password] {
	color: rgb(102, 51, 51);
}
 .RadForm_UPSBrown.rfdTextarea textarea {
	color: rgb(102, 51, 51);
}
 .RadForm_UPSBrown.rfdTextarea textarea:hover[disabled] {
	color: rgb(102, 51, 51);
}
 .RadForm_UPSBrown.rfdTextbox input:hover[disabled][type=text] {
	color: rgb(102, 51, 51);
}
 .RadForm_UPSBrown.rfdTextbox input:hover[disabled][type=password] {
	color: rgb(102, 51, 51);
}
 .RadForm_UPSBrown.rfdTextarea textarea:hover {
	color: rgb(102, 51, 51);
}
 .RadForm_UPSBrown.rfdHeading h4 {
	color: rgb(102, 51, 51);
}
 .RadForm_UPSBrown .rfdCheckboxUnchecked {
	color: rgb(102, 51, 51);
}
 .RadForm_UPSBrown .rfdRadioUnchecked {
	color: rgb(102, 51, 51);
}
