/*Telerik RadGrid Office2007 Skin*/

/*global*/

.RadGrid_ATGSkin
{
    border:1px solid #688caf;
    background:#fff;
    color:#333;
}

.RadGrid_ATGSkin,
.RadGrid_ATGSkin .rgMasterTable,
.RadGrid_ATGSkin .rgDetailTable,
.RadGrid_ATGSkin .rgGroupPanel table,
.RadGrid_ATGSkin .rgCommandRow table,
.RadGrid_ATGSkin .rgEditForm table,
.RadGrid_ATGSkin .rgPager table,
.GridToolTip_ATGSkin
{
    font:12px/16px "segoe ui",arial,sans-serif;
}

.RadGrid_ATGSkin .rgHeader:first-child,
.RadGrid_ATGSkin th.rgResizeCol:first-child,
.RadGrid_ATGSkin .rgFilterRow>td:first-child,
.RadGrid_ATGSkin .rgRow>td:first-child,
.RadGrid_ATGSkin .rgAltRow>td:first-child
{
	border-left-width:0;
	padding-left:8px;
}

.RadGrid_ATGSkin .rgAdd,
.RadGrid_ATGSkin .rgRefresh,
.RadGrid_ATGSkin .rgEdit,
.RadGrid_ATGSkin .rgDel,
.RadGrid_ATGSkin .rgFilter,
.RadGrid_ATGSkin .rgPagePrev,
.RadGrid_ATGSkin .rgPageNext,
.RadGrid_ATGSkin .rgPageFirst,
.RadGrid_ATGSkin .rgPageLast,
.RadGrid_ATGSkin .rgExpand,
.RadGrid_ATGSkin .rgCollapse,
.RadGrid_ATGSkin .rgSortAsc,
.RadGrid_ATGSkin .rgSortDesc,
.RadGrid_ATGSkin .rgUpdate,
.RadGrid_ATGSkin .rgCancel,
.RadGrid_ATGSkin .rgUngroup,
.RadGrid_ATGSkin .rgExpXLS,
.RadGrid_ATGSkin .rgExpDOC,
.RadGrid_ATGSkin .rgExpPDF,
.RadGrid_ATGSkin .rgExpCSV
{
	background-image:url(<%= System.Web.UI.WebResource("ATGUPSSkin.Grid.sprite.gif") %>) !important;
}

/*header*/

.RadGrid_ATGSkin .rgHeaderDiv
{
	background:#d6e5f3 0 -8050px repeat-x url(<%= WebResource("ATGUPSSkin.Grid.sprite.gif") %>) !important;
}
.rgTwoLines .rgHeaderDiv
{
	background-position:0 -7550px;
}

.RadGrid_ATGSkin .rgHeader,
.RadGrid_ATGSkin th.rgResizeCol
{
	border:solid #5d8cc9;
	border-width:0 0 1px 1px;
	background:0 -2300px repeat-x #c3d8f1 url(<%= WebResource("ATGUPSSkin.Grid.sprite.gif") %>) !important;
}

.RadGrid_ATGSkin th.rgSorted
{
	border-bottom-color:#ff9b35;
	background-color:#ffca5e;
	background-position:0 -2600px;
}

.RadGrid_ATGSkin .rgHeader,
.RadGrid_ATGSkin .rgHeader a
{
    color:#00156e;
}

.RadGrid_ATGSkin th.rgSorted,
.RadGrid_ATGSkin th.rgSorted a
{
    color:#000;
}

/*rows*/

.RadGrid_ATGSkin .rgRow td,
.RadGrid_ATGSkin .rgAltRow td,
.RadGrid_ATGSkin .rgEditRow td,
.RadGrid_ATGSkin .rgFooter td
{
	border-style:solid;
	border-width:0 0 1px 1px;
}

.RadGrid_ATGSkin .rgRow td,
.RadGrid_ATGSkin .rgAltRow td
{
	border-color:#d0d7e5;
}

.RadGrid_ATGSkin .rgRow .rgSorted,
.RadGrid_ATGSkin .rgAltRow .rgSorted
{
	background-color:#f2f2f2;
}

.RadGrid_ATGSkin .rgSelectedRow .rgSorted,
.RadGrid_ATGSkin .rgActiveRow .rgSorted,
.RadGrid_ATGSkin .rgHoveredRow .rgSorted,
.RadGrid_ATGSkin .rgEditRow .rgSorted
{
	background-color:transparent;
}

.RadGrid_ATGSkin .rgRow a,
.RadGrid_ATGSkin .rgAltRow a,
.RadGrid_ATGSkin .rgEditRow a,
.RadGrid_ATGSkin .rgFooter a,
.RadGrid_ATGSkin .rgEditForm a
{
	color:#00156e;
}

.RadGrid_ATGSkin .rgSelectedRow
{
    background-color:#ffcb60 !important; 
    background:#ffcb60 0 -3900px repeat-x url(<%= WebResource("ATGUPSSkin.Grid.sprite.gif") %>) !important;
}
*+html .RadGrid_ATGSkin .rgSelectedRow .rgSorted{background-color:#ffcb60}
* html .RadGrid_ATGSkin .rgSelectedRow .rgSorted{background-color:#ffcb60}

.RadGrid_ATGSkin .rgActiveRow,
.RadGrid_ATGSkin .rgHoveredRow
{
    background:#ecf4ff;
}
*+html .RadGrid_ATGSkin .rgActiveRow .rgSorted,
*+html .RadGrid_ATGSkin .rgHoveredRow .rgSorted{background-color:#ecf4ff}
* html .RadGrid_ATGSkin .rgActiveRow .rgSorted,
* html .RadGrid_ATGSkin .rgHoveredRow .rgSorted{background-color:#ecf4ff}

.RadGrid_ATGSkin .rgEditRow
{
	background:#ffe5ad;
}
*+html .RadGrid_ATGSkin .rgEditRow .rgSorted{background-color:#ffe5ad}
* html .RadGrid_ATGSkin .rgEditRow .rgSorted{background-color:#ffe5ad}

.RadGrid_ATGSkin .rgSelectedRow td,
.RadGrid_ATGSkin .rgActiveRow td,
.RadGrid_ATGSkin .rgHoveredRow td,
.RadGrid_ATGSkin .rgEditRow td
{
	border-left-width:0;
	padding-left:8px;
}

.RadGrid_ATGSkin .rgSelectedRow td
{
	border-bottom-color:#ff9b35;
}

.RadGrid_ATGSkin .rgActiveRow td,
.RadGrid_ATGSkin .rgHoveredRow td,
.RadGrid_ATGSkin .rgEditRow td
{
	border-bottom-color:#d0d7e5;
}

.RadGrid_ATGSkin .rgDrag
{
	background-image:url(<%= WebResource("ATGUPSSkin.Grid.rgDrag.gif") %>) !important;
}

/*footer*/

.RadGrid_ATGSkin .rgFooterDiv,
.RadGrid_ATGSkin .rgFooter
{
	background:#9ab5db 0 -6500px repeat-x url(<%= WebResource("ATGUPSSkin.Grid.sprite.gif") %>) !important;
}

.RadGrid_ATGSkin .rgFooter td
{
	border-width:1px 0;
	border-color:#567db0 #fff #fff;
	padding-left:8px;
}

/*status*/

.RadGrid_ATGSkin .rgPager .rgStatus
{
	border:1px solid;
	border-width:1px 1px 0 0;
	border-color:#5d8cc9 #9cb9dc;
}

.RadGrid_ATGSkin .rgStatus div
{
	background-image:url(<%= WebResource("ATGUPSSkin.Common.loading_small.gif") %>) !important;
}

/*pager*/

.RadGrid_ATGSkin .rgPager
{
	background:#ecf3fc 0 -7000px repeat-x url(<%= WebResource("ATGUPSSkin.Grid.sprite.gif") %>) !important;
	color:#00156e;
}

.RadGrid_ATGSkin td.rgPagerCell
{
	border-top:1px solid #5d8cc9;
	border-left:1px solid #fff;
}

.RadGrid_ATGSkin .rgInfoPart
{
	color:#3e69a3;
}

.RadGrid_ATGSkin .rgPageFirst
{
	margin:0 3px 0 0;
	background-position:0 -550px;
}
.RadGrid_ATGSkin .rgPageFirst:hover
{
	background-position:0 -600px;
}
.RadGrid_ATGSkin .rgPagePrev
{
	margin:0 3px 0 0;
	background-position:0 -700px;
}
.RadGrid_ATGSkin .rgPagePrev:hover
{
	background-position:0 -750px;
}
.RadGrid_ATGSkin .rgPageNext
{
	margin:0 0 0 3px;
	background-position:0 -850px;
}
.RadGrid_ATGSkin .rgPageNext:hover
{
	background-position:0 -900px;
}
.RadGrid_ATGSkin .rgPageLast
{
	margin:0 0 0 3px;
	background-position:0 -1000px;
}
.RadGrid_ATGSkin .rgPageLast:hover
{
	background-position:0 -1050px;
}

.RadGrid_ATGSkin .rgPager .rgPagerButton
{
	border-color:#7793b9;
	background:#e8f1fc repeat-x 0 -1550px url(<%= WebResource("ATGUPSSkin.Grid.sprite.gif") %>) !important;
	color:#00156e;
	font:12px/12px "segoe ui",arial,sans-serif;
}

.RadGrid_ATGSkin .rgNumPart a:hover,
.RadGrid_ATGSkin .rgNumPart a:hover span,
.RadGrid_ATGSkin .rgNumPart a.rgCurrentPage,
.RadGrid_ATGSkin .rgNumPart a.rgCurrentPage span
{
	background:no-repeat url(<%= WebResource("ATGUPSSkin.Grid.sprite.gif") %>) !important;
}

.RadGrid_ATGSkin .rgNumPart a
{
	color:#00156e;
}

.RadGrid_ATGSkin .rgNumPart a:hover
{
	background-position:100% -1250px;
}

.RadGrid_ATGSkin .rgNumPart a:hover span
{
	background-position:0 -1150px;
}

.RadGrid_ATGSkin .rgNumPart a.rgCurrentPage,
.RadGrid_ATGSkin .rgNumPart a.rgCurrentPage:hover
{
	background-position:100% -1450px;
}

.RadGrid_ATGSkin .rgNumPart a.rgCurrentPage span,
.RadGrid_ATGSkin .rgNumPart a.rgCurrentPage:hover span
{
	background-position:0 -1350px;
}

/*sorting, reordering*/

.RadGrid_ATGSkin .rgHeader .rgSortAsc
{
	background-position:3px -147px;
	height:10px;
}

.RadGrid_ATGSkin .rgHeader .rgSortDesc
{
	background-position:3px -96px;
	height:10px;
}

.GridReorderTop_ATGSkin,
.GridReorderBottom_ATGSkin
{
	height:12px;
	background:0 0 no-repeat url(<%= WebResource("ATGUPSSkin.Grid.sprite.gif") %>) !important;
}

.GridReorderBottom_ATGSkin
{
	background-position:0 -50px;
}

/*filtering*/

.RadGrid_ATGSkin .rgFilterRow
{
	background:#d6e5f3;
}

.RadGrid_ATGSkin .rgFilterRow td
{
    border:solid #9eb6ce;
    border-width:0 0 1px 1px;
}

.RadGrid_ATGSkin .rgFilter
{
	background-position:0 -300px;
}

.RadGrid_ATGSkin .rgFilter:hover
{
	background-position:0 -350px;
}

.RadGrid_ATGSkin .rgFilterActive,
.RadGrid_ATGSkin .rgFilterActive:hover
{
	background-position:0 -400px;
}

.RadGrid_ATGSkin .rgFilterBox
{
	border-color:#abc1de;
	font:12px "segoe ui",arial,sans-serif;
	color:#000;
}

/*filter context menu*/

.RadMenu_ATGSkin .rgHCMClear,
.RadMenu_ATGSkin .rgHCMFilter
{
	border-color:#a7bedb #7d98bd #a3bad8;
	background:#e8f1fc center -23px repeat-x url(<%= WebResource("ATGUPSSkin.FormDecorator.ButtonSprites.gif") %>) !important;
	color:#00156e;
	font-family:"segoe ui",arial,sans-serif;
}

.RadMenu_ATGSkin .rgHCMClear:hover,
.RadMenu_ATGSkin .rgHCMFilter:hover
{
	border-color:#d8ca95 #b9a073 #c6ba9d;
	background-position:center -67px;
	background-color:#ffe18a;
	color:#000;
}

/*context menu*/

.GridContextMenu_ATGSkin .rmLeftImage
{
	background-image:url(<%= WebResource("ATGUPSSkin.Common.contextMenu.gif") %>) !important;
}

.GridContextMenu_ATGSkin .rgHCMSortAsc .rmLeftImage
{
	background-position:0 0;
}

.GridContextMenu_ATGSkin .rgHCMSortDesc .rmLeftImage
{
	background-position:0 -40px;
}

.GridContextMenu_ATGSkin .rgHCMUnsort .rmLeftImage
{
	background-position:0 -80px;
}

.GridContextMenu_ATGSkin .rgHCMGroup .rmLeftImage
{
	background-position:0 -120px;
}

.GridContextMenu_ATGSkin .rgHCMUngroup .rmLeftImage
{
	background-position:0 -160px;
}

.GridContextMenu_ATGSkin .rgHCMCols .rmLeftImage
{
	background-position:0 -200px;
}

.GridContextMenu_ATGSkin .rgHCMFilter .rmLeftImage
{
	background-position:0 -240px;
}

.GridContextMenu_ATGSkin .rgHCMUnfilter .rmLeftImage
{
	background-position:0 -280px;
}

/*grouping*/

.RadGrid_ATGSkin .rgGroupPanel
{
	border:0;
	border-bottom:1px solid #688caf;
	background:#ecf3fc;
}

.RadGrid_ATGSkin .rgGroupPanel td
{
	border:0;
	padding:3px 4px;
	vertical-align:middle;
}

.RadGrid_ATGSkin .rgGroupPanel td td
{
	padding:0;
}

.RadGrid_ATGSkin .rgGroupPanel .rgSortAsc
{
	background-position:4px -144px;
}

.RadGrid_ATGSkin .rgGroupPanel .rgSortDesc
{
	background-position:4px -94px;
}

.RadGrid_ATGSkin .rgUngroup
{
	background-position:0 -7500px;
}

.RadGrid_ATGSkin .rgGroupItem
{
	border:1px solid #4b78ca;
	background:#e6ebf5 0 -1900px repeat-x url(<%= WebResource("ATGUPSSkin.Grid.sprite.gif") %>) !important;
	color:#00156e;
}

.RadGrid_ATGSkin .rgGroupHeader
{
    background:#d7e6f7;
    font-size:1.1em;
    line-height:21px;
	color:#567db0;
}

.RadGrid_ATGSkin .rgGroupHeader td
{
	border-top:1px solid #fcfcfd;
	border-bottom:1px solid #6f92b3;
    padding-left:8px;
}

.RadGrid_ATGSkin td.rgGroupCol,
.RadGrid_ATGSkin td.rgExpandCol
{
	background:#d7e6f7 none;
	border-color:#d7e6f7;
}

.RadGrid_ATGSkin .rgGroupHeader .rgExpand
{
	background-position:5px -495px;
}

.RadGrid_ATGSkin .rgGroupHeader .rgCollapse
{
	background-position:3px -93px;
}

/*editing*/

.RadGrid_ATGSkin .rgEditForm
{
	border-bottom:1px solid #d0d7e5;
}

.RadGrid_ATGSkin .rgUpdate
{
	background-position:0 -1800px;
}

.RadGrid_ATGSkin .rgCancel
{
	background-position:0 -1850px;
}

/*hierarchy*/

.RadGrid_ATGSkin .rgDetailTable
{
	border-color:#688caf;
}

.RadGrid_ATGSkin .rgExpand
{
	background-position:5px -496px;
}

.RadGrid_ATGSkin .rgCollapse
{
	background-position:3px -94px;
}

/*command row*/

.RadGrid_ATGSkin .rgCommandRow
{
	background:#c4d9f1 0 -2099px repeat-x url(<%= WebResource("ATGUPSSkin.Grid.sprite.gif") %>) !important;
	color:#333;
}

.RadGrid_ATGSkin .rgCommandCell
{
	border:0;
	padding:0;
}

.RadGrid_ATGSkin thead .rgCommandCell
{
	border-bottom:1px solid #688caf;
}

.RadGrid_ATGSkin .rgCommandTable td
{
	border:0;
	padding:2px 7px;
}

.RadGrid_ATGSkin .rgCommandTable
{
	border:1px solid #9eb6ce;
}

.RadGrid_ATGSkin .rgCommandRow a
{
	color:#00156e;
	text-decoration:none;
}

.RadGrid_ATGSkin .rgAdd
{
	margin-right:3px;
    background :#c4d9f1 0 -1650px no-repeat url(<%= WebResource("ATGUPSSkin.Grid.sprite.gif") %>) !important;
	/*background-position:0 -1650px;*/
}

.RadGrid_ATGSkin .rgRefresh
{
	margin-right:3px;
	background-position:0 -1600px;
}

.RadGrid_ATGSkin .rgEdit
{
    /*background :#c4d9f1 0 -1700px no-repeat url(<%= WebResource("ATGUPSSkin.Grid.sprite.gif") %>) !important;*/
	background-position:0 -1700px;
}

.RadGrid_ATGSkin .rgDel
{
	background-position:0 -1750px;
}

.RadGrid_ATGSkin .rgExpXLS,
.RadGrid_ATGSkin .rgExpDOC,
.RadGrid_ATGSkin .rgExpPDF,
.RadGrid_ATGSkin .rgExpCSV
{
	background-image:url(<%= WebResource("ATGUPSSkin.Grid.export.gif") %>) !important;
}

.RadGrid_ATGSkin .rgExpXLS
{
    background :#c4d9f1 0 0px no-repeat url(<%= WebResource("ATGUPSSkin.Grid.export.gif") %>) !important;
	/*background-position:0 0;*/
}
.RadGrid_ATGSkin .rgExpDOC
{
    background :#c4d9f1 0 -50px no-repeat url(<%= WebResource("ATGUPSSkin.Grid.export.gif") %>) !important;
	/*background-position:0 -50px;*/
}
.RadGrid_ATGSkin .rgExpPDF
{
    background :#c4d9f1 0 -100px no-repeat url(<%= WebResource("ATGUPSSkin.Grid.export.gif") %>) !important;
	/*background-position:0 -100px;*/
}
.RadGrid_ATGSkin .rgExpCSV
{
    background :#c4d9f1 0 -150px no-repeat url(<%= WebResource("ATGUPSSkin.Grid.export.gif") %>) !important;
	/*background-position:0 -150px;*/
}

/*multirow select*/

.GridRowSelector_ATGSkin
{
	background:#00156e;
}

/*row drag n drop*/

.GridItemDropIndicator_ATGSkin
{
    border-top:1px dashed #00156e;
}

/*tooltip*/

.GridToolTip_ATGSkin
{
	border:1px solid #6187b8;
	padding:3px;
	background:#d7e3f2;
	color:#333;
}

/*rtl*/

.RadGridRTL_ATGSkin .rgHeader:first-child,
.RadGridRTL_ATGSkin th.rgResizeCol:first-child,
.RadGridRTL_ATGSkin .rgFilterRow>td:first-child,
.RadGridRTL_ATGSkin .rgRow>td:first-child,
.RadGridRTL_ATGSkin .rgAltRow>td:first-child
{
	border-left-width:1px;
	padding-left:7px;
}

.RadGridRTL_ATGSkin .rgPageFirst
{
	background-position:0 -1000px;
}
.RadGridRTL_ATGSkin .rgPageFirst:hover
{
	background-position:0 -1050px;
}
.RadGridRTL_ATGSkin .rgPagePrev
{
	margin:0 0 0 3px;
	background-position:0 -850px;
}
.RadGridRTL_ATGSkin .rgPagePrev:hover
{
	background-position:0 -900px;
}
.RadGridRTL_ATGSkin .rgPageNext
{
	margin:0 3px 0 0;
	background-position:0 -700px;
}
.RadGridRTL_ATGSkin .rgPageNext:hover
{
	background-position:0 -750px;
}
.RadGridRTL_ATGSkin .rgPageLast
{
	background-position:0 -550px;
}
.RadGridRTL_ATGSkin .rgPageLast:hover
{
	background-position:0 -600px;
}

.RadGridRTL_ATGSkin .rgGroupHeader .rgExpand
{
	background-position:-20px -495px;
}

.RadGridRTL_ATGSkin .rgExpand
{
	background-position:-20px -496px;
}