/* RadImageEditor Office2007 Skin */

.RadImageEditor_ATGSkin,
.RadDock_ATGSkin.rieDialogs .riePrintContent
{
	border-color: #688caf;
	background-color: #d6e6f4;
}

.RadImageEditor_ATGSkin .rieStatusBarInfo .rieLabel
{
	color: #688caf;
}

.RadImageEditor_ATGSkin .rieStatusBarInfo span
{
	color: #2b4d6e;
}

.RadDock_ATGSkin.rieDialogs .rdContent
{
	color: #000;
}

.RadImageEditor_ATGSkin .rieContentArea
{
	border-color: #688caf;
}

/* ImageEditor Dialogs using RadDock as Wrapper */
.RadDock_ATGSkin.rieDialogs .rbPrimaryIcon,
.RadImageEditor_ATGSkin .rieResizeHandle,
.RadImageEditor_ATGSkin .rieBackgroundImg .rtbIcon /* Custom skins */
{
	background-image: url(<%= WebResource("ATGUPSSkin.ImageEditor.ImageEditorTools.png") %>);
}

*html .RadDock_ATGSkin.rieDialogs .rbPrimaryIcon,
*html .RadImageEditor_ATGSkin .rieResizeHandle,
*html .RadImageEditor_ATGSkin .rieBackgroundImg .rtbIcon /* Custom skins */
{
	background-image: url(<%= WebResource("ATGUPSSkin.ImageEditor.ImageEditorToolsIE6.gif") %>);
}

.RadDock_ATGSkin.rieDialogs .rieThumbsBottomRow td,
.RadDock_ATGSkin.rieDialogs .rieDialogsThumbsLeft,
.RadDock_ATGSkin.rieDialogs .riePrintContent img
{
	border-color: #305090;
}


.RadDock_ATGSkin.rieDialogs .rieThumbsLink
{
	border-color: #9ebfdb;
}

.RadDock_ATGSkin.rieDialogs .rieActiveThumbsLink,
.RadDock_ATGSkin.rieDialogs .rieThumbsLink:hover,
.RadImageEditor_ATGSkin .rieHighlightVertical, 
.RadImageEditor_ATGSkin .rieHighlightHorizontal
{
	border-color: #305090;
	background-color: #fffce8;
}










