/*Telerik RadInput Office2007 Skin*/

/*global*/

.RadInput_ATGSkin,
.RadInputMgr_ATGSkin
{
	font:12px "segoe ui",arial,sans-serif;
}

/*textbox states*/

html body .RadInput_ATGSkin .riTextBox,
html body .RadInputMgr_ATGSkin
{
	border-color:#debea9;
	background:#ffffff;
	color:#000000;
	font:12px "segoe ui",arial,sans-serif;
}

html body .RadInput_ATGSkin .riEmpty,
html body .RadInput_Empty_ATGSkin
{
	color:#8c8c8c;
}

html body .RadInput_ATGSkin .riHover,
html body .RadInput_Hover_ATGSkin,
html body .RadInput_ATGSkin .riFocused,
html body .RadInput_Focused_ATGSkin
{
	border-color:#8f5828;
}

html body .RadInput_ATGSkin .riRead,
html body .RadInput_Read_ATGSkin
{
	border-color:#eddcd1;
}

html body .RadInput_ATGSkin .riDisabled,
html body .RadInput_Disabled_ATGSkin
{
	border-color:#eddcd1;
	color:#8c8c8c;
	cursor:default;
}

html body .RadInput_ATGSkin .riError,
html body .RadInput_Error_ATGSkin
{
	border-color:#b26624 #db8035 #eb8e38;
	background:#ffffff 100% -298px no-repeat url(<%= WebResource("ATGUPSSkin.Input.sprite.gif") %>);
	color:#b26624;
}

.RadForm.rfdTextbox .RadInput_ATGSkin .riError[type="text"],
.RadForm.rfdTextbox .RadInput_Error_ATGSkin[type="text"]
{
	border-color:#b26624 #db8035 #eb8e38;
	background:#ffffff 100% -298px no-repeat url(<%= WebResource("ATGUPSSkin.Input.sprite.gif") %>);
	color:#b26624;
}

html body .RadInput_ATGSkin .riNegative,
html body .RadInput_Negative_ATGSkin
{
	color:#575757;
}

/*buttons*/

.RadInput_ATGSkin a
{
	background:transparent no-repeat url(<%= WebResource("ATGUPSSkin.Input.sprite.gif") %>);
}

/*go*/

.RadInput_ATGSkin .riBtn a
{
	width:20px;
	height:18px;
	line-height:18px;
	background-position:3px 5px;
}

.RadInput_ATGSkin .riBtn a:hover
{
	background-position:3px -45px;
}

/*spin*/

.RadInput_ATGSkin .riSpin a
{
	width:15px;
	height:7px;
	line-height:7px;
}

.RadInput_ATGSkin a.riUp
{
	background-position:4px -98px;
}

.RadInput_ATGSkin a.riUp:hover
{
	background-position:4px -148px;
}

.RadInput_ATGSkin a.riDown
{
	background-position:4px -199px;
}

.RadInput_ATGSkin a.riDown:hover
{
	background-position:4px -249px;
}

/*label*/

.RadInput_ATGSkin .riLabel
{
	color:#000000;
}

/*rtl*/

html body .RadInputRTL_ATGSkin .riError,
html body .RadInputRTL_Error_ATGSkin
{
	background-position:3px -298px;
}

.RadForm.rfdTextbox .RadInputRTL_ATGSkin .riError[type="text"],
.RadForm.rfdTextbox .RadInputRTL_Error_ATGSkin[type="text"]
{
	background-position:3px -298px;
}