/*Telerik RadListView Office2007 Skin*/

/*global*/

.RadListView_ATGSkin
{
	border:1px solid #688caf;
	background:#fff;
	color:#333;
	font:12px/16px "segoe ui",arial,sans-serif;
}

.RadListView_ATGSkin .rlvA
{
	/*background:#ecf4ff;*/
}

.RadListView_ATGSkin .rlvISel
{
	background:#ffcb60;
}

.RadListView_ATGSkin .rlvIEdit
{
	background:#ffe5ad;
}

/*buttons*/

.RadListView_ATGSkin .rlvBAdd,
.RadListView_ATGSkin .rlvBUpdate,
.RadListView_ATGSkin .rlvBCancel,
.RadListView_ATGSkin .rlvBDel,
.RadListView_ATGSkin .rlvBEdit
{
	background-image:url(<%= WebResource("ATGUPSSkin.Grid.sprite.gif") %>);
}

.RadListView_ATGSkin .rlvBAdd
{
	background-position:0 -1650px;
}
.RadListView_ATGSkin .rlvBUpdate
{
	background-position:0 -1800px;
}
.RadListView_ATGSkin .rlvBCancel
{
	background-position:0 -1850px;
}
.RadListView_ATGSkin .rlvBSel
{
	background-image:url(<%= WebResource("ATGUPSSkin.FormDecorator.CheckBoxSprites.gif") %>);
	background-position:-2px -2px;
}
.RadListView_ATGSkin .rlvISel .rlvBSel
{
	background-position:-2px -422px;
}
.RadListView_ATGSkin .rlvBDel
{
	background-position:0 -1750px;
}
.RadListView_ATGSkin .rlvBEdit
{
	background-position:0 -1700px;
}

.RadListView_ATGSkin .rlvDrag
{
	background-image:url(<%= WebResource("ATGUPSSkin.ListView.drag.gif") %>);
	background-position:center center;
}

/*flow*/

.RadListView_ATGSkin div.rlvI,
.RadListView_ATGSkin div.rlvA,
.RadListView_ATGSkin div.rlvIEmpty,
.RadListView_ATGSkin div.rlvIEdit
{
	border-color:#d0d7e5;
}

.RadListView_ATGSkin div.rlvISel
{
	border-color:#ff9b35;
}

/*grid*/

.RadListView_ATGSkin tr.rlvHeader th
{
	border:solid #5d8cc9;
	border-width:0 0 1px 1px;
	background:0 -2300px repeat-x #c3d8f1 url(<%= WebResource("ATGUPSSkin.Grid.sprite.gif") %>);
	color:#00156e;
}

.RadListView_ATGSkin tr.rlvI td,
.RadListView_ATGSkin tr.rlvA td,
.RadListView_ATGSkin tr.rlvISel td,
.RadListView_ATGSkin tr.rlvIEmpty td,
.RadListView_ATGSkin tr.rlvIEdit td
{
	border:1px solid;
	border-top:0;
	border-right:0;
}

.RadListView_ATGSkin tr.rlvI td,
.RadListView_ATGSkin tr.rlvA td,
.RadListView_ATGSkin tr.rlvIEmpty td,
.RadListView_ATGSkin tr.rlvIEdit td
{
	border-color:#d0d7e5;
}

.RadListView_ATGSkin tr.rlvISel td
{
	border-color:#ff9b35;
}

/*single row*/

.RadListView_ATGSkin td.rlvI,
.RadListView_ATGSkin td.rlvA,
.RadListView_ATGSkin td.rlvISel,
.RadListView_ATGSkin td.rlvIEmpty,
.RadListView_ATGSkin td.rlvIEdit
{
	border:0;
	border-right:1px solid #d0d7e5;
}

.RadListView_ATGSkin td.rlvISel
{
	border-color:#ff9b35;
}

/*floated*/

.RadListView_ATGSkin .rlvFloated .rlvI,
.RadListView_ATGSkin .rlvFloated .rlvA,
.RadListView_ATGSkin .rlvFloated .rlvISel,
.RadListView_ATGSkin .rlvFloated .rlvIEdit
{
	border-color:#688caf;
}

/*edit*/

.RadListView_ATGSkin .rlvInput
{
	border-color:#abc1de;
	background:#fff;
	color:#000;
}