/**
 * Organizational Chart Office2007 Skin
 */




/*----------------------------------------------------------------------------*/




/** Global wrapper */
.RadOrgChart_ATGSkin {
	color: #000000;
	font: normal 12px/22px "Segoe UI", Arial, sans-serif;
}




/** Viewport */
.RadOrgChart_ATGSkin .rocViewport {}




/** NodeList */
.RadOrgChart_ATGSkin .rocNodeList {}




/** Node */
.RadOrgChart_ATGSkin .rocNode {}




/** Group */
.RadOrgChart_ATGSkin .rocGroup {
	border-radius: 10px;
	background-color: #e5e5e5;
	background-color: rgba(0, 0, 0, .1);
	*background-color: #e5e5e5;
}




/** ItemList */
.RadOrgChart_ATGSkin .rocItemList {}




/** ItemWrap */
.RadOrgChart_ATGSkin .rocItemWrap {}




/** Items */
.RadOrgChart_ATGSkin .rocItem {}


	.RadOrgChart_ATGSkin .rocItemContent,
	.RadOrgChart_ATGSkin .rocItemTemplate {
		border-color: #688caf;
		border-radius: 5px;
		background-color: #d6e5f3;
		background-image: url(<%= WebResource("ATGUPSSkin.OrgChart.rocItemTileLight.png") %>);
		_background-image: none;
	}




/** Node lines */
.RadOrgChart_ATGSkin .rocLineUp,
.RadOrgChart_ATGSkin .rocLineDown,
.RadOrgChart_ATGSkin .rocLineHorizontal {
	background-image: url(<%= WebResource("ATGUPSSkin.OrgChart.rocLinesDark.png") %>);
}