/* RadScheduler Office2007 skin */

/* common */
.RadScheduler_ATGSkin,
.RadScheduler_ATGSkin a,
.RadScheduler_ATGSkin input,
.RadScheduler_ATGSkin select,
.RadScheduler_ATGSkin textarea
{
	color: #333;
	font: normal 12px/14px "Segoe UI", Arial, sans-serif;
}

.RadScheduler_ATGSkin textarea
{
	background: #fff;
}

/* header */

/* header sprites */
.RadScheduler_ATGSkin .rsHeader,
.RadScheduler_ATGSkin .rsHeader ul a:hover,
.RadScheduler_ATGSkin .rsHeader ul a:hover span,
.RadScheduler_ATGSkin .rsHeader .rsSelected,
.RadScheduler_ATGSkin .rsHeader .rsSelected em,
.RadScheduler_ATGSkin .rsHeader .rsDatePickerActivator,
.RadScheduler_ATGSkin .rsHeader .rsPrevDay,
.RadScheduler_ATGSkin .rsHeader .rsNextDay
{
	background-image: url(<%= WebResource("ATGUPSSkin.Scheduler.rsSprites.png") %>);
}

.RadScheduler_ATGSkin .rsHeader
{
	border: 1px solid #688caf;
}

.RadScheduler_ATGSkin .rsHeader,
.RadScheduler_ATGSkin .rsHeader a:hover
{
	color: #000;
}

.RadScheduler_ATGSkin .rsHeader a
{
	color: #239;
}

.RadScheduler_ATGSkin div.rsHeader .rsPrevDay
{
	margin: 6px 0 0 3px;
	background-position: 0 -48px;
}

.RadScheduler_ATGSkin div.rsHeader .rsNextDay
{
	margin: 6px 6px 0 3px;
	background-position: -16px -48px;
}

.RadScheduler_ATGSkin div.rsHeader a.rsPrevDay:hover
{
	background-position: -70px -48px;
}

.RadScheduler_ATGSkin div.rsHeader a.rsNextDay:hover
{
	background-position: -86px -48px;
}

/* content */

.RadScheduler_ATGSkin .rsContent
{
	background: #fff;
}

/* <headers> */

.RadScheduler_ATGSkin .rsHorizontalHeaderTable
{
	color: #239;
	background: #e4e4e4;
}

.RadScheduler_ATGSkin .rsHorizontalHeaderWrapper {
	border-color: #a7bac5;
	background: #d6e5f3;
}

.RadScheduler_ATGSkin .rsSpacerCell,
.RadScheduler_ATGSkin .rsAllDayHeader,
.RadScheduler_ATGSkin .rsVerticalHeaderWrapper,
.RadScheduler_ATGSkin .rsVerticalHeaderTable
{
	background: #e3efff;
}

.RadScheduler_ATGSkin .rsVerticalHeaderTable th
{
	border-color: #868686 #5d8cc9;
	color: #6593cf;
}

.RadScheduler_ATGSkin .rsHorizontalHeaderTable th
{
	border-color: #a7bac5;
	background-color: #C3D9F1;
	background-image: url(<%= WebResource("ATGUPSSkin.Scheduler.rsSprites.png") %>);
}

.RadScheduler_ATGSkin .rsVerticalHeaderTable th
{
	border-color: transparent #5d8cc9;
	border-top: 0;
}

.RadScheduler_ATGSkin .rsVerticalHeaderTable .rsAlt th
{
	border-color: #6593cf #5d8cc9;
}

/* </headers> */

/* <all-day-row> */

.RadScheduler_ATGSkin .rsAllDayRow
{
	background: #d6e5f3;
}

.RadScheduler_ATGSkin .rsSpacerCell,
.RadScheduler_ATGSkin .rsAllDayHeader,
.RadScheduler_ATGSkin .rsVerticalHeaderTable .rsAllDayHeader
{
	color: #6593cf;
	border-color: #a7bac5 #5d8cc9;
}

.RadScheduler_ATGSkin .rsAllDayRow td,
.RadScheduler_ATGSkin .rsContentTable .rsAllDayRow td
{
	border-color: #a7bac5;
	border-style: solid;
}

.RadScheduler_ATGSkin .rsVerticalHeaderTable .rsMainHeader th
{
	border-bottom-color: #A7BAC5;
}

.RadScheduler_ATGSkin .rsSpacerCell,
.RadScheduler_ATGSkin .rsContent .rsAllDayHeader
{
	border-bottom-color: #6593cf;
}

/* </all-day-row> */

.RadScheduler_ATGSkin .rsContent,
.RadScheduler_ATGSkin .rsTopWrap .rsFooter
{
	border: 1px solid #688caf;
	border-top: 0;
}

.RadScheduler_ATGSkin .rsContentTable td
{
	border-color: #e8eaec #d0d7e5;
	border-bottom-style: dotted;
}

.RadScheduler_ATGSkin .rsContentTable .rsAlt td
{
	border-color: #d0d7e5;
	border-bottom-style: solid;
}

.RadScheduler_ATGSkin .rsMonthView .rsOtherMonth
{
	background-color: #F5F5F5;
}

/* <appointments> */
.RadScheduler_ATGSkin .rsApt .rsArrowTop,
.RadScheduler_ATGSkin .rsApt .rsArrowBottom,
.RadScheduler_ATGSkin .rsApt .rsArrowLeft,
.RadScheduler_ATGSkin .rsApt .rsArrowRight,
.RadScheduler_ATGSkin .rsApt .rsAptDelete,
.RadScheduler_ATGSkin .rsApt .rsAptResize,
.RadScheduler_ATGSkin .rsApt .rsAptReminder,
.RadScheduler_ATGSkin .rsApt .rsAptRecurrence,
.RadScheduler_ATGSkin .rsApt .rsAptRecurrenceException
{
	background-color: transparent;
	background-image: url(<%= WebResource("ATGUPSSkin.Scheduler.rsSprites.png") %>);
	background-repeat: no-repeat;
}

.RadScheduler_ATGSkin .rsApt .rsAptDelete
{
	width: 22px;
}

.RadScheduler_ATGSkin .rsAptCreate,
.RadScheduler_ATGSkin .rsMonthView .rsAptCreate
{
	background-color: #ECF4FF;
	background-image: url(<%= WebResource("ATGUPSSkin.Scheduler.rsSprites.png") %>);
	background-repeat: repeat-x;
}

.RadScheduler_ATGSkin .rsAptCreateRow2,
.RadScheduler_ATGSkin .rsMonthView .rsAptCreateRow2
{
	background-color: #ECF4FF;
	background-image: url(<%= WebResource("ATGUPSSkin.Scheduler.rsSprites.png") %>);
	background-repeat: repeat-x;
}

.RadScheduler_ATGSkin .rsNonWorkHour,
.RadScheduler_ATGSkin .rsSunCol,
.RadScheduler_ATGSkin .rsSatCol
{
	background-color: #f5fcff;
}

.RadScheduler_ATGSkin .rsAptCreateRow3,
.RadScheduler_ATGSkin .rsMonthView .rsAptCreateRow3,
.RadScheduler_ATGSkin .rsAptCreateRow4,
.RadScheduler_ATGSkin .rsMonthView .rsAptCreateRow4,
.RadScheduler_ATGSkin .rsAptCreateRow5,
.RadScheduler_ATGSkin .rsMonthView .rsAptCreateRow5
{
	background: #ECF4FF;
}

.RadScheduler_ATGSkin .rsSelectedSlot,
.RadScheduler_ATGSkin .rsMonthView .rsSelectedSlot
{
    background: #ffda96;
    border-color: #efca86;
}

.RadScheduler_ATGSkin .rsContentTable td.rsAptCreate.rsSelectedSlot
{
    background: #efca86;
    border-color: #dfba76;
}

.RadScheduler_ATGSkin .rsContentTable td.rsSelectedSlot
{
    background: #ffda96;
    border-color: #efca86;
}

/* <New appointment imageless rendering */
.RadScheduler_ATGSkin .rsAptIn, 
.RadScheduler_ATGSkin .rsAptMid, 
.RadScheduler_ATGSkin .rsAptContent
{
    background-color: #c7d8ed;
	border-color: #6187b8;
}

.RadScheduler_ATGSkin .rsAptIn
{
    background-color: #e8eff8;
}

.RadScheduler_ATGSkin .rsAptContent
{
    background-image: url(<%= WebResource("ATGUPSSkin.Scheduler.rsAppointmentBg.png") %>);
}
/* </New appointment imageless rendering> */

.RadScheduler_ATGSkin .rsAptSimple
{
	background-color: #c7d8ed;
	border-color: #6187b8;
}

/* </appointments> */

/* <month view> */

.RadScheduler_ATGSkin .rsMonthView .rsDateBox
{
	background-color: #d0dbed;
	background-image: url(<%= WebResource("ATGUPSSkin.Scheduler.rsSprites.png") %>);
	border-bottom: 1px solid #81a5da;
}

.RadScheduler_ATGSkin .rsMonthView .rsAptCreate .rsDateBox
{
	border-bottom: 1px solid #f99331;
}

.RadScheduler_ATGSkin .rsMonthView .rsAptCreate
{
	background-image: none;
}

.RadScheduler_ATGSkin .rsMonthView .rsContentTable td
{
	border-color: #d0d7e5;
	border-style: solid;
}

/* </month view> */

/* <footer> */

.RadScheduler_ATGSkin div.rsFooter
{
	background-color: #f0fafd;
	background-image: url(<%= WebResource("ATGUPSSkin.Scheduler.rsSprites.png") %>);
	background-repeat: repeat-x;
	border-color: #a2a2a2;
}

.RadScheduler_ATGSkin div.rsFooter a
{
	color: #239;
	background-color: transparent;
	background-image: url(<%= WebResource("ATGUPSSkin.Scheduler.rsSprites.png") %>);
	background-repeat: no-repeat;
}

.RadScheduler_ATGSkin div.rsFooter a:hover
{
	color: #000;
}

/* </footer> */

/* <inline edit form> */

.RadScheduler_ATGSkin .rsEditOptions a,
.RadScheduler_ATGSkin .rsAptEditResizeHandle,
.RadScheduler_ATGSkin .rsAptEditFormWrapper
{
	background-image: url(<%= WebResource("ATGUPSSkin.Scheduler.rsSprites.png") %>);
}

.RadScheduler_ATGSkin .rsAptEditFormOuter, /* top */
.RadScheduler_ATGSkin .rsAptEditFormInner  /* bottom */
{
	background-image: url(<%= WebResource("ATGUPSSkin.Scheduler.rsInlineEditHSprite.png") %>);
}

.RadScheduler_ATGSkin .rsAptEditFormMiddle, /* left */
.RadScheduler_ATGSkin .rsAptEditFormMiddle2 /* right */
{
	background-image: url(<%= WebResource("ATGUPSSkin.Scheduler.rsInlineEditVSprite.png") %>);
}

.RadScheduler_ATGSkin .rsAptEditFormWrapper .rsAptEditTextareaWrapper
{
	border-color: #9cb6c5;
	background: #fff;
}

.RadScheduler_ATGSkin .rsAptEditFormWrapper .rsAptEditTextareaWrapper textarea
{
	background: #fff;
}

/* <inline edit form template and edit background> */

.RadScheduler_ATGSkin .rsAptEditFormWrapper .rsTemplateWrapper,
.RadScheduler_ATGSkin .rsAptEditFormWrapper .rsEditOptions 
{
	background: #BFD3EB;
}

/* </inline edit form template and edit background> */

/* </inline edit form> */

/* <advanced edit form> */

.RadScheduler_ATGSkin .rsAdvancedEdit .rsAdvContentWrapper
{
	background: #fff;
	border: 1px solid #9ebfdb;
	border-top-color: #9BAFCA;
}

.RadScheduler_ATGSkin div.rsAdvancedModal div.rsAdvContentWrapper
{
    border-top: 0;
}

.RadScheduler_ATGSkin div.rsAdvancedModal .rsAdvButtonWrapper
{
    padding: 10px 10px 18px 0;
}

* html .RadScheduler_ATGSkin div.rsAdvancedModal .rsAdvButtonWrapper
{
    padding: 10px 10px 10px 0;
}

* html .RadScheduler_ATGSkin div.rsAdvancedModal div.rsAdvContentWrapper
{
    margin-top: -2px;
	background: #fff;
    border: 1px solid #9bafca;
}

/* <xref input skins> */

.RadScheduler_ATGSkin .rsAdvancedEdit .rsAdvInput,
.RadScheduler_ATGSkin .rsAdvancedEdit select,
.RadScheduler_ATGSkin .rsAdvancedEdit .textareaWrapper
{
	border-color: #abc1de;
}

.RadScheduler_ATGSkin .rsAdvancedEdit .rsInvalid textarea,
.RadScheduler_ATGSkin .rsAdvancedEdit .rsInvalid input,
.RadScheduler_ATGSkin .rsAdvancedEdit .rsAdvTimePicker .riEmpty
{
	background-image: url(<%= WebResource("ATGUPSSkin.Input.sprite.gif") %>);
}

.RadScheduler_ATGSkin .rsAdvancedEdit .textareaWrapper
{
	background: #fff;
}

.RadScheduler_ATGSkin .rsAdvancedEdit .rsInvalid
{
	border-color: #F32800;
	color: #F32800;
}
/* </xref input skins> */

.RadScheduler_ATGSkin .rsAdvancedEdit h2,
.RadScheduler_ATGSkin .rsAdvancedEdit h3
{
	color: #6d8ebb;
}

.RadScheduler_ATGSkin .rsAdvancedEdit h2
{
	border-bottom: 1px solid #CCC;
}

.RadScheduler_ATGSkin .rsAdvancedEdit h2 span
{
	background: #fff;
}

.RadScheduler_ATGSkin .rsAdvancedEdit .rsAdvancedSubmitArea
{
	border-color: #CCC;
}

.RadScheduler_ATGSkin .rsAdvancedEdit div.rsAdvancedSubmitArea a 
{
	color: #333;
	background-image: url(<%= WebResource("ATGUPSSkin.Scheduler.rsSprites.png") %>);
}

/* </advanced edit form> */

/* <date/time picker> */

.RadScheduler_ATGSkin .rsTimePick .RadInput_ATGSkin input.riEnabled,
.RadScheduler_ATGSkin .rsTimePick .RadInput_ATGSkin input.riHover,
.RadScheduler_ATGSkin .rsTimePick .RadInput_ATGSkin input.riFocused
{
	background-image: url(<%= WebResource("ATGUPSSkin.Scheduler.rsSprites.png") %>);
}

/* </date/time picker> */

/* <modal dialogs> */

.RadScheduler_ATGSkin .rsModalBgTopLeft,
.RadScheduler_ATGSkin .rsModalBgTopRight,
.RadScheduler_ATGSkin .rsModalBgBottomLeft,
.RadScheduler_ATGSkin .rsModalBgBottomRight
{
    background-image: url(<%= WebResource("ATGUPSSkin.Scheduler.rsModalBg.png") %>);
}

div.RadScheduler_ATGSkin .rsAnimating
{
    background-image: url(<%= WebResource("ATGUPSSkin.Scheduler.rsModalBgIE6.png") %>);
}

* html .RadScheduler_ATGSkin .rsModalBgTopLeft,
* html .RadScheduler_ATGSkin .rsModalBgTopRight,
* html .RadScheduler_ATGSkin .rsModalBgBottomLeft,
* html .RadScheduler_ATGSkin .rsModalBgBottomRight
{
    background-image: url(<%= WebResource("ATGUPSSkin.Scheduler.rsModalBgIE6.png") %>);
}

.RadScheduler_ATGSkin .rsAdvancedEdit .rsAdvTitle,
.RadScheduler_ATGSkin .rsAdvancedEdit .rsAdvInnerTitle
{
    background-image: url(<%= WebResource("ATGUPSSkin.Scheduler.rsModalTitleBg.png") %>);
}

.RadScheduler_ATGSkin .rsAdvancedEdit a.rsAdvEditClose,
.RadScheduler_ATGSkin div.rsModalWrapper .rsModalWindowClose
{
	background-image: url(<%= WebResource("ATGUPSSkin.Scheduler.rsSprites.png") %>);
	height:19px;
	margin-top:-26px;
	width:30px;
}
.RadScheduler_ATGSkin div.rsModalWrapper .rsModalWindowClose
{
    margin-top: -24px;
}

.RadScheduler_ATGSkin .rsAdvancedEdit a.rsAdvEditClose:hover,
.RadScheduler_ATGSkin .rsModalWrapper a.rsModalWindowClose:hover
{
	background-position: -78px -526px;
}

.RadScheduler_ATGSkin .rsModalWrapper .rsModalTitle
{
	color: #000;
	background-image: url(<%= WebResource("ATGUPSSkin.Scheduler.rsSprites.png") %>);
}

.RadScheduler_ATGSkin .rsModalWrapper .rsModalInner
{
	border-color: #688caf;
	background: #fff;
}

.RadScheduler_ATGSkin .rsModalWrapper .rsModalIcon,
.RadScheduler_ATGSkin .rsModalWrapper .rsModalButtons a
{
	background-image: url(<%= WebResource("ATGUPSSkin.Scheduler.rsSprites.png") %>);
}

/* Inline Edit buttons + ModalDialog buttons */
.RadScheduler_ATGSkin .rsModalWrapper .rsModalButtons a,
.RadScheduler_ATGSkin .rsTopWrap .rsAptEditFormWrapper .rsEditOptions a
{
	color: #333;
}

/* </modal dialogs> */

.RadScheduler_ATGSkin .rsBottomIndicator .rsOvertimeArrow
{
	background: transparent url(<%= WebResource("ATGUPSSkin.Scheduler.rsSprites.png") %>) no-repeat -180px -31px;
}        	

.RadScheduler_ATGSkin .rsTopIndicator .rsOvertimeArrow
{
	background: transparent url(<%= WebResource("ATGUPSSkin.Scheduler.rsSprites.png") %>) no-repeat -134px -31px;
}




.RadScheduler_ATGSkin .rsAptSelected .rsAptIn,
.RadScheduler_ATGSkin .rsAptSelected .rsAptMid,
.RadScheduler_ATGSkin .rsAptSelected .rsAptContent {
	border-color: #000f4f;
	background-image: none;
}