/* RadSlider for ASP.NET AJAX Office2007 Skin */
.RadSlider_ATGSkin .rslTrack
{
	border-color:#85aadb #85aadb #799bc9 #799bc9;
}

.RadSlider_ATGSkin .rslHorizontal a.rslHandle
{
	background-image:url(<%= WebResource("ATGUPSSkin.Slider.Handles.gif") %>);
}

.RadSlider_ATGSkin .rslHorizontal a.rslDraghandle
{
	background-image:url(<%= WebResource("ATGUPSSkin.Slider.DragHandle.gif") %>);
	width:9px;
}

.RadSlider_ATGSkin .rslBottom a.rslDraghandle
{
	background-image:url(<%= WebResource("ATGUPSSkin.Slider.DragHandleUp.gif") %>);
}

.RadSlider_ATGSkin .rslHorizontal .rslTrack
{
	background:url(<%= WebResource("ATGUPSSkin.Slider.TrackBgr.gif") %>) repeat-x;
}

.RadSlider_ATGSkin .rslHorizontal .rslSelectedregion
{
	background:url(<%= WebResource("ATGUPSSkin.Slider.SelectedRegionHorizontalBgr.gif") %>) right top no-repeat;
}

/* vertical slider */
.RadSlider_ATGSkin .rslVertical a.rslHandle
{
	background-image:url(<%= WebResource("ATGUPSSkin.Slider.HandlesVertical.gif") %>);
}

.RadSlider_ATGSkin .rslVertical .rslTrack
{
	background:url(<%= WebResource("ATGUPSSkin.Slider.TrackVerticalBgr.gif") %>) repeat-y;
}

.RadSlider_ATGSkin .rslVertical .rslSelectedregion
{
	background:url(<%= WebResource("ATGUPSSkin.Slider.SelectedRegionVerticalBgr.gif") %>) left bottom no-repeat;
}

.RadSlider_ATGSkin .rslVertical a.rslDraghandle
{
	background:url(<%= WebResource("ATGUPSSkin.Slider.DragVerticalHandle.gif") %>) no-repeat;
	height:9px;
}

.RadSlider_ATGSkin .rslLeft a.rslDraghandle
{
	background:url(<%= WebResource("ATGUPSSkin.Slider.DragVerticalHandleRight.gif") %>) no-repeat;
}

.RadSlider_ATGSkin .rslItem,
.RadSlider_ATGSkin .rslLargeTick span
{
	color:#333;
}

.RadSlider_ATGSkin .rslItemsWrapper .rslItemSelected
{
	color:#000;
}

/* horizontal slider items */
.RadSlider_ATGSkin .rslHorizontal .rslItem
{
	background-image:url(<%= WebResource("ATGUPSSkin.Slider.ItemHorizontalBgr.gif") %>);
}

/* vertical slider items */
.RadSlider_ATGSkin .rslVertical .rslItem
{
	background-image:url(<%= WebResource("ATGUPSSkin.Slider.ItemVerticalBgr.gif") %>);
}

/* horizontal slider - TrackPosition=Top/Bottom */
.RadSlider_ATGSkin .rslTop .rslSmallTick,
.RadSlider_ATGSkin .rslBottom .rslSmallTick
{
	background-image:url(<%= WebResource("ATGUPSSkin.Slider.SmallChangeHorizontal.gif") %>);
}

.RadSlider_ATGSkin .rslTop .rslLargeTick,
.RadSlider_ATGSkin .rslBottom .rslLargeTick
{
	background-image:url(<%= WebResource("ATGUPSSkin.Slider.LargeChangeHorizontal.gif") %>);
}

/* vertical slider - TrackPosition=Left/Right */
.RadSlider_ATGSkin .rslLeft .rslSmallTick,
.RadSlider_ATGSkin .rslRight .rslSmallTick
{
	background-image:url(<%= WebResource("ATGUPSSkin.Slider.SmallChangeVertical.gif") %>);
}

.RadSlider_ATGSkin .rslLeft .rslLargeTick,
.RadSlider_ATGSkin .rslRight .rslLargeTick 
{
	background-image:url(<%= WebResource("ATGUPSSkin.Slider.LargelChangeVertical.gif") %>);
}

/* horizontal slider - TrackPosition=Center */
.RadSlider_ATGSkin .rslMiddle .rslSmallTick
{
	background-image:url(<%= WebResource("ATGUPSSkin.Slider.SmallChangeMiddleHorizontal.gif") %>);
}

.RadSlider_ATGSkin .rslMiddle .rslLargeTick
{
	background-image:url(<%= WebResource("ATGUPSSkin.Slider.LargeChangeMiddleHorizontal.gif") %>);
}

/* vertical slider - TrackPosition=Center */
.RadSlider_ATGSkin .rslCenter .rslSmallTick
{
	background-image:url(<%= WebResource("ATGUPSSkin.Slider.SmallChangeCenterVertical.gif") %>);
}

.RadSlider_ATGSkin .rslCenter .rslLargeTick
{
	background-image:url(<%= WebResource("ATGUPSSkin.Slider.LargelChangeCenterVertical.gif") %>);
}