/* RadSocialShare Office2007 Skin */

.RadSocialShare_ATGSkin
{
	border: 1px solid #688caf;
}

.RadSocialShare_ATGSkin .sshLinkItem .sshText,
.RadComboBoxDropDown_ATGSkin .rcbItem .sshLinkItem .sshText
{
	color: #333;
}

.RadSocialShare_ATGSkin .sshLinkItem:hover .sshText,
.RadComboBoxDropDown_ATGSkin .rcbHovered .sshLinkItem .sshText
{
	color: #000;
}