.RadTabStrip_ATGSkin .rtsLI,
.RadTabStrip_ATGSkin .rtsLink
{
	color: #000;
	font: 12px/26px "Segoe UI", Arial, sans-serif;
}

.RadTabStrip_ATGSkin .rtsLevel1 .rtsLI,
.RadTabStrip_ATGSkin .rtsLevel1 .rtsLink
{
	color: #00156e;
}

.RadTabStrip_ATGSkin .rtsLevel .rtsLink:hover,
.RadTabStrip_ATGSkin .rtsLevel .rtsSelected,
.RadTabStrip_ATGSkin .rtsLevel .rtsSelected:hover
{
	text-decoration: underline;
}

.RadTabStrip_ATGSkin .rtsLevel1 .rtsLink:hover,
.RadTabStrip_ATGSkin .rtsLevel1 .rtsSelected,
.RadTabStrip_ATGSkin .rtsLevel1 .rtsSelected:hover
{
	text-decoration: none;
}

.RadTabStripLeft_ATGSkin .rtsSeparator,
.RadTabStripRight_ATGSkin .rtsSeparator
{
	background: #8DB2E3;
}

/* <focus cue> */
div.RadTabStrip_ATGSkin a.rtsLink:focus
{
    outline-color: #47A;
}

div.RadTabStrip_ATGSkin a.rtsLink:focus:after
{
    border-color /*\**/: #47A;
}
/* </focus cue> */

/* <disabled tabs> */
.RadTabStrip_ATGSkin .rtsLevel .rtsDisabled
{
	color: #666;
}
/* </disabled tabs> */

/* <scrolling arrows> */
.RadTabStrip_ATGSkin .rtsNextArrow,
.RadTabStrip_ATGSkin .rtsPrevArrow,
.RadTabStrip_ATGSkin .rtsPrevArrowDisabled,
.RadTabStrip_ATGSkin .rtsNextArrowDisabled
{
	background-image: url(<%= WebResource("ATGUPSSkin.TabStrip.TabStripStates.png") %>);
}
/* </scrolling arrows> */

/* <tab backgrounds> */

.RadTabStrip_ATGSkin .rtsLevel { background: #ccdbee; }

.RadTabStrip_ATGSkin .rtsLevel1 { background-color: #bfdbff; }
.RadTabStripTop_ATGSkin .rtsLevel2 { background: #ccdbee url(<%= WebResource("ATGUPSSkin.TabStrip.Level2Bg.png") %>) repeat-x 0 0; }

.RadTabStripTop_ATGSkin .rtsLevel .rtsLink,
.RadTabStripTop_ATGSkin .rtsLevel .rtsOut { background-image: none; }

.RadTabStripTop_ATGSkin .rtsLevel1 .rtsLink,
.RadTabStripTop_ATGSkin .rtsLevel1 .rtsOut,
.RadTabStripBottom_ATGSkin .rtsLevel1 .rtsLink,
.RadTabStripBottom_ATGSkin .rtsLevel1 .rtsOut,
.RadTabStripTop_ATGSkin .rtsLevel1,
.RadTabStripBottom_ATGSkin .rtsLevel1 { background-image: url(<%= WebResource("ATGUPSSkin.TabStrip.TabStripStates.png") %>); }

.RadTabStripLeft_ATGSkin .rtsLink,
.RadTabStripRight_ATGSkin .rtsLink { background-image: url(<%= WebResource("ATGUPSSkin.TabStrip.TabStripVStates.png") %>); }

.RadTabStripLeft_ATGSkin .rtsLast .rtsLink,
.RadTabStripRight_ATGSkin .rtsLast .rtsLink
{
	border-bottom: 1px solid #898C95;
}

.RadTabStripRight_ATGSkin .rtsLink,
.RadTabStripRight_ATGSkin .rtsLI .rtsDisabled:hover { background-position: 100% 0; }
.RadTabStripRight_ATGSkin .rtsLink:hover { background-position: 100% -200px; }
.RadTabStripRight_ATGSkin .rtsSelected,
.RadTabStripRight_ATGSkin .rtsSelected:hover { background-position: 100% -400px; }
/* </tab backgrounds> */


/* <background positioning: tabs with hovers> */

/* <orientation: top> */

.RadTabStripTop_ATGSkin .rtsLevel1 .rtsLink { background-position: 0 0; }
.RadTabStripTop_ATGSkin .rtsLevel1 .rtsOut { background-position: 100% 0; }

.RadTabStripTop_ATGSkin .rtsLevel1 .rtsLink:hover { background-position: 0 -52px; }
.RadTabStripTop_ATGSkin .rtsLevel1 .rtsLink:hover .rtsOut { background-position: 100% -52px; }

.RadTabStripTop_ATGSkin .rtsLevel1 .rtsSelected,
.RadTabStripTop_ATGSkin .rtsLevel1 .rtsSelected:hover { background-position: 0 -26px; }
.RadTabStripTop_ATGSkin .rtsLevel1 .rtsSelected .rtsOut,
.RadTabStripTop_ATGSkin .rtsLevel1 .rtsSelected:hover .rtsOut { background-position: 100% -26px; }

.RadTabStripTop_ATGSkin .rtsLevel1 .rtsDisabled:hover { background-position: 0 0; }
.RadTabStripTop_ATGSkin .rtsLevel1 .rtsDisabled:hover .rtsOut { background-position: 100% 0; }

.RadTabStripTop_ATGSkin .rtsLevel1 { background-position: 0 100%; background-repeat: repeat-x; }

/* </orientation: top> */

/* <orientation: bottom> */

.RadTabStripBottom_ATGSkin .rtsLevel1 .rtsLink { background-position: 0 -182px; }
.RadTabStripBottom_ATGSkin .rtsLevel1 .rtsOut { background-position: 100% -182px; }

.RadTabStripBottom_ATGSkin .rtsLevel1 .rtsLink:hover { background-position: 0 -130px; }
.RadTabStripBottom_ATGSkin .rtsLevel1 .rtsLink:hover .rtsOut { background-position: 100% -130px; }

.RadTabStripBottom_ATGSkin .rtsLevel1 .rtsSelected,
.RadTabStripBottom_ATGSkin .rtsLevel1 .rtsSelected:hover { background-position: 0 -156px; }
.RadTabStripBottom_ATGSkin .rtsLevel1 .rtsSelected .rtsOut,
.RadTabStripBottom_ATGSkin .rtsLevel1 .rtsSelected:hover .rtsOut { background-position: 100% -156px; }

.RadTabStripBottom_ATGSkin .rtsLevel1 .rtsDisabled:hover { background-position: 0 -182px; }
.RadTabStripBottom_ATGSkin .rtsLevel1 .rtsDisabled:hover .rtsOut { background-position: 100% -182px; }

.RadTabStripBottom_ATGSkin .rtsLevel1 { background-position: 0 -599px; background-repeat: repeat-x; }

/* </orientation: bottom> */

/* <orientation: right> */

.RadTabStripRight_ATGSkin .rtsUL .rtsLink,
.RadTabStripRight_ATGSkin .rtsUL .rtsLI .rtsDisabled:hover { background-position: 100% 0; text-align: left; }
.RadTabStripRight_ATGSkin .rtsUL .rtsLink:hover { background-position: 100% -200px; }
.RadTabStripRight_ATGSkin .rtsUL .rtsSelected,
.RadTabStripRight_ATGSkin .rtsUL .rtsSelected:hover { background-position: 100% -400px; }

/* </orientation: right> */

/* </background positioning: tabs with hovers> */
