.RadTagCloud_ATGSkin
{
	border: 1px dotted #ccc;
}
.RadTagCloud_ATGSkin .rtcTagList .rtcTagItem
{
	color: #ccc;
}
.RadTagCloud_ATGSkin .rtcTagList .rtcTagItem:hover
{
	color: #000;
}
.RadTagCloud_ATGSkin .rtcTagList .rtcTagItem a
{
	color: #00156e;
}
.RadTagCloud_ATGSkin .rtcTagList .rtcTagItem a:hover
{
	color: #000;
	background: #ffe086;
}

/* Loading image */
.rtcLoading.RadTagCloud_ATGSkin
{
	background-image: url(<%= WebResource("ATGUPSSkin.Common.loading_small.gif") %>);
}
