/* RadToolTip Office2007 Skin */

.RadToolTip_ATGSkin.rtLoading
{	
	background: url(<%= WebResource("ATGUPSSkin.Common.loading.gif") %>) no-repeat center;
}

div.RadToolTip_ATGSkin table.rtWrapper td.rtWrapperTopLeft,
div.RadToolTip_ATGSkin table.rtWrapper td.rtWrapperTopRight,
div.RadToolTip_ATGSkin table.rtWrapper td.rtWrapperBottomLeft,
div.RadToolTip_ATGSkin table.rtWrapper td.rtWrapperBottomRight,
div.RadToolTip_ATGSkin table.rtWrapper td.rtWrapperTopCenter,
div.RadToolTip_ATGSkin table.rtWrapper td.rtWrapperBottomCenter,
div.RadToolTip_ATGSkin table.rtShadow td.rtWrapperTopLeft,
div.RadToolTip_ATGSkin table.rtShadow td.rtWrapperTopRight,
div.RadToolTip_ATGSkin table.rtShadow td.rtWrapperBottomLeft,
div.RadToolTip_ATGSkin table.rtShadow td.rtWrapperBottomRight,
div.RadToolTip_ATGSkin table.rtShadow td.rtWrapperTopCenter,
div.RadToolTip_ATGSkin table.rtShadow td.rtWrapperBottomCenter,
div.RadToolTip_ATGSkin a.rtCloseButton
{
	background-image: url(<%= WebResource("ATGUPSSkin.ToolTip.ToolTipSprites.png") %>);
}

div.RadToolTip_ATGSkin table.rtWrapper td.rtWrapperLeftMiddle,
div.RadToolTip_ATGSkin table.rtWrapper td.rtWrapperRightMiddle,
div.RadToolTip_ATGSkin table.rtShadow td.rtWrapperLeftMiddle,
div.RadToolTip_ATGSkin table.rtShadow td.rtWrapperRightMiddle
{
	background-image:  url(<%= WebResource("ATGUPSSkin.ToolTip.ToolTipVerticalSprites.png") %>);
}

div.RadToolTip_ATGSkin table.rtWrapper td.rtWrapperContent
{
	background-color: #d7e3f2;	
	color: #272722;
}

div.RadToolTip_ATGSkin div.rtTitlebar
{	
	color: #272722;
}

div.RadToolTip_ATGSkin div.rtCallout
{
	background-image: url(<%= WebResource("ATGUPSSkin.ToolTip.Callouts.gif") %>);
}

/* overwrite shadow callouts because of the shadow depth */
div.RadToolTip_ATGSkin.rtShadow .rtCalloutTopLeft, 
div.RadToolTip_ATGSkin.rtShadow .rtCalloutTopRight,
div.RadToolTip_ATGSkin.rtShadow .rtCalloutTopCenter 
{
	margin-top:-5px;
}

div.RadToolTip_ATGSkin.rtShadow .rtCalloutMiddleRight
{
	margin-left:-6px;
}

div.RadToolTip_ATGSkin.rtShadow .rtCalloutMiddleLeft
{
	margin-left:-5px;
}

div.RadToolTip_ATGSkin.rtShadow .rtCalloutBottomRight, 
div.RadToolTip_ATGSkin.rtShadow .rtCalloutBottomCenter,
div.RadToolTip_ATGSkin.rtShadow .rtCalloutBottomLeft
{
	margin-top: -6px;
}