/* Telerik RadTreeList Office2007 Skin */

/*global*/

.RadTreeList_ATGSkin,
.rtlCEdit div.RadTreeList_ATGSkin
{
	border-color:#688caf;
	background:#fff;
	color:#333;
}

.RadTreeList_ATGSkin .rtlAdd,
.RadTreeList_ATGSkin .rtlEdit,
.RadTreeList_ATGSkin .rtlUpdate,
.RadTreeList_ATGSkin .rtlCancel,
.RadTreeList_ATGSkin .rtlDel
{
	background-image:url(<%= WebResource("ATGUPSSkin.Grid.sprite.gif") %>);
}

.RadTreeList_ATGSkin .rtlTable
{
	font:12px/16px "segoe ui",arial,sans-serif;
}

.RadTreeList_ATGSkin .rtlHeader
{
	background:#c3d8f1 0 -2300px repeat-x url(<%= WebResource("ATGUPSSkin.Grid.sprite.gif") %>);
}

.RadTreeList_ATGSkin .rtlHeader,
.RadTreeList_ATGSkin .rtlHeader a
{
	color:#00156e;
}

.RadTreeList_ATGSkin .rtlHeader,
.RadTreeList_ATGSkin .rtlHeader th
{
	border-color:#5d8cc9;
}

.RadTreeList_ATGSkin .rtlScroller
{
	border-color:#99badf;
}

.RadTreeList_ATGSkin .rtlA
{
	background-color:#e7ebf2;
}

.RadTreeList_ATGSkin .rtlRSel
{
	background:#ffcb60 0 -3900px repeat-x url(<%= WebResource("ATGUPSSkin.Grid.sprite.gif") %>);
}

.RadTreeList_ATGSkin .rtlRActive
{
    background:#ffe5b0;
}

.RadTreeList_ATGSkin .rtlRFooter
{
	background:#9ab5db 0 -6500px repeat-x url(<%= WebResource("ATGUPSSkin.Grid.sprite.gif") %>);
}

.RadTreeList_ATGSkin .rtlREdit
{
    background-color:#ffe5ad;
}

.rtlCEdit .RadTreeList_ATGSkin 
{
    border-right:1px solid;
    border-top:1px solid;
}

.RadTreeList_ATGSkin .rtlRActive td,
.RadTreeList_ATGSkin .rtlR td,
.RadTreeList_ATGSkin .rtlA td,
.RadTreeList_ATGSkin .rtlREdit td,
.RadTreeList_ATGSkin .rtlRFooter td,
.RadTreeList_ATGSkin .rtlEditForm
{
	border-color:#d0d7e5;
}

.RadTreeList_ATGSkin .rtlR a,
.RadTreeList_ATGSkin .rtlA a,
.RadTreeList_ATGSkin .rtlREdit a,
.RadTreeList_ATGSkin .rtlEditForm a
{
	color:#00156e;
}

.RadTreeList_ATGSkin .rtlVBorders td.rtlL,
.RadTreeList_ATGSkin .rtlLines td.rtlL
{
	background-color:#fff;
}

.RadTreeList_ATGSkin .rtlDrag,
.RadTreeList_ATGSkin .rtlExpand,
.RadTreeList_ATGSkin .rtlCollapse
{
	background-image:url(<%= WebResource("ATGUPSSkin.TreeList.sprite.gif") %>);
}

.RadTreeList_ATGSkin .rtlExpand
{
	background-position:0 0;
}

.RadTreeList_ATGSkin .rtlCollapse
{
	background-position:0 -50px;
}

.RadTreeList_ATGSkin .rtlSortAsc,
.RadTreeList_ATGSkin .rtlSortDesc
{
	background-image:url(<%= WebResource("ATGUPSSkin.Grid.sprite.gif") %>);
}

.RadTreeList_ATGSkin .rtlSortAsc
{
	background-position:3px -147px;
}

.RadTreeList_ATGSkin .rtlSortDesc
{
	background-position:3px -96px;
}

.RadTreeList_ATGSkin .rtlLines td.rtlL0
{
	background-image:url(<%= WebResource("ATGUPSSkin.TreeList.rtlSingle.gif") %>);
}

.RadTreeList_ATGSkin .rtlLines td.rtlL1
{
	background-image:url(<%= WebResource("ATGUPSSkin.TreeList.rtlTop.gif") %>);
}

.RadTreeList_ATGSkin .rtlLines td.rtlL2
{
	background-image:url(<%= WebResource("ATGUPSSkin.TreeList.rtlMiddle.gif") %>);
}

.RadTreeList_ATGSkin .rtlLines td.rtlL3
{
	background-image:url(<%= WebResource("ATGUPSSkin.TreeList.rtlBottom.gif") %>);
}

/*rtl*/

.RadTreeListRTL_ATGSkin .rtlLines td.rtlL1
{
	background-image:url(<%= WebResource("ATGUPSSkin.TreeList.rtlTopRTL.gif") %>);
}

.RadTreeListRTL_ATGSkin .rtlLines td.rtlL2
{
	background-image:url(<%= WebResource("ATGUPSSkin.TreeList.rtlMiddleRTL.gif") %>);
}

.RadTreeListRTL_ATGSkin .rtlLines td.rtlL3
{
	background-image:url(<%= WebResource("ATGUPSSkin.TreeList.rtlBottomRTL.gif") %>);
}

/*pager*/

.RadTreeList_ATGSkin .rtlPager
{
	background:#ecf3fc 0 -7000px repeat-x url(<%= WebResource("ATGUPSSkin.Grid.sprite.gif") %>);
	color:#00156e;
}

.RadTreeList_ATGSkin .rtlPagerCell
{
	border-color:#5d8cc9;
}

.RadTreeList_ATGSkin .rtlPager .rtlInfoPart
{
	color:#3e69a3;
}

.RadTreeList_ATGSkin .rtlPager .rtlPageFirst,
.RadTreeList_ATGSkin .rtlPager .rtlPagePrev,
.RadTreeList_ATGSkin .rtlPager .rtlPageNext,
.RadTreeList_ATGSkin .rtlPager .rtlPageLast
{
	background:transparent no-repeat url(<%= WebResource("ATGUPSSkin.Grid.sprite.gif") %>);
}

.RadTreeList_ATGSkin .rtlPager .rtlPageFirst
{
	background-position:0 -550px;
}
.RadTreeList_ATGSkin .rtlPager .rtlPageFirst:hover
{
	background-position:0 -600px;
}
.RadTreeList_ATGSkin .rtlPager .rtlPagePrev
{
	background-position:0 -700px;
}
.RadTreeList_ATGSkin .rtlPager .rtlPagePrev:hover
{
	background-position:0 -750px;
}
.RadTreeList_ATGSkin .rtlPager .rtlPageNext
{
	background-position:0 -850px;
}
.RadTreeList_ATGSkin .rtlPager .rtlPageNext:hover
{
	background-position:0 -900px;
}
.RadTreeList_ATGSkin .rtlPager .rtlPageLast
{
	background-position:0 -1000px;
}
.RadTreeList_ATGSkin .rtlPager .rtlPageLast:hover
{
	background-position:0 -1050px;
}

.RadTreeList_ATGSkin .rtlPager .rtlPagerButton
{
	border-color:#c2cedb;
	background:#dde8f6 repeat-x 0 -1550px url(<%= WebResource("ATGUPSSkin.Grid.sprite.gif") %>);
	color:#000;
	font-family:"segoe ui",arial,sans-serif;
}

.RadTreeList_ATGSkin .rtlPager .rtlNumPart a:hover,
.RadTreeList_ATGSkin .rtlPager .rtlNumPart a:hover span,
.RadTreeList_ATGSkin .rtlPager .rtlNumPart a.rtlCurrentPage,
.RadTreeList_ATGSkin .rtlPager .rtlNumPart a.rtlCurrentPage span
{
	background:no-repeat url(<%= WebResource("ATGUPSSkin.Grid.sprite.gif") %>);
}

.RadTreeList_ATGSkin .rtlPager .rtlNumPart a
{
	color:#1e395b;
}

.RadTreeList_ATGSkin .rtlPager .rtlNumPart a:hover
{
	background-position:100% -1250px;
	color:#4c607a;
}

.RadTreeList_ATGSkin .rtlPager .rtlNumPart a:hover span
{
	background-position:0 -1150px;
}

.RadTreeList_ATGSkin .rtlPager .rtlNumPart a.rtlCurrentPage,
.RadTreeList_ATGSkin .rtlPager .rtlNumPart a.rtlCurrentPage:hover
{
	background-position:100% -1450px;
	color:#4c607a;
}

.RadTreeList_ATGSkin .rtlPager .rtlNumPart a.rtlCurrentPage span,
.RadTreeList_ATGSkin .rtlPager .rtlNumPart a.rtlCurrentPage:hover span
{
	background-position:0 -1350px;
}