.RadTreeView_ATGSkin,
.RadTreeView_ATGSkin a.rtIn,
.RadTreeView_ATGSkin .rtEdit .rtIn input
{
	color: #00156e;
	font: 12px/18px "Segoe UI", Arial, sans-serif;
}

.RadTreeView_ATGSkin .rtPlus, 
.RadTreeView_ATGSkin .rtMinus
{
	background-image: url(<%= WebResource("ATGUPSSkin.TreeView.PlusMinus.png") %>);
}

.RadTreeView_ATGSkin .rtChecked,
.RadTreeView_ATGSkin .rtUnchecked,
.RadTreeView_ATGSkin .rtIndeterminate
{
	background-image: url(<%= WebResource("ATGUPSSkin.TreeView.TriState.png") %>);
}

.RadTreeView_ATGSkin .rtHover .rtIn
{
	color: #000;
	border-color: #a79d87 #b89f73;
	background-color: #FFE086;
	background-image: url(<%= WebResource("ATGUPSSkin.TreeView.ItemHoveredBg.png") %>);
}

.RadTreeView_ATGSkin .rtSelected .rtIn
{
	color: #000;
	border-color: #8f8267 #a79d87;
	background-color: #fcdb89;
	background-image: url(<%= WebResource("ATGUPSSkin.TreeView.ItemSelectedBg.png") %>);
}

.RadTreeView_ATGSkin .rtSelected .rtLoadingBefore,
.RadTreeView_ATGSkin .rtSelected .rtLoadingAfter,
.RadTreeView_ATGSkin .rtSelected .rtLoadingBelow
{
	color: #333;
}

.RadTreeView_ATGSkin .rtLoadingIcon
{
	background-image: url(<%= WebResource("ATGUPSSkin.TreeView.LoadingIcon.gif") %>);
}

.RadTreeView .rtLI .rtEdit .rtIn
{
	border-color: #0f3789;
	background: #fff;
}

.RadTreeView_ATGSkin_disabled .rtIn,
.RadTreeView_ATGSkin .rtDisabled .rtIn
{
	color: #ccc;
}


/* <node lines> */

.RadTreeView_ATGSkin .rtLines .rtLI,
.RadTreeView_ATGSkin .rtLines .rtFirst .rtUL { background-image: url(<%= WebResource("ATGUPSSkin.TreeView.NodeSpan.png") %>); }
.RadTreeView_ATGSkin_rtl .rtLines .rtLI,
.RadTreeView_ATGSkin_rtl .rtLines .rtFirst .rtUL { background-image:url(<%= WebResource("ATGUPSSkin.TreeView.NodeSpan_rtl.png") %>); }

.RadTreeView_ATGSkin .rtLines .rtFirst,
.RadTreeView_ATGSkin .rtLines .rtFirst .rtUL { background-image: url(<%= WebResource("ATGUPSSkin.TreeView.FirstNodeSpan.png") %>); }
.RadTreeView_ATGSkin_rtl .rtLines .rtFirst,
.RadTreeView_ATGSkin_rtl .rtLines .rtFirst .rtUL { background-image: url(<%= WebResource("ATGUPSSkin.TreeView.FirstNodeSpan_rtl.png") %>); }
.RadTreeView_ATGSkin .rtLines .rtLast,
.RadTreeView_ATGSkin .rtLines .rtLast .rtUL { background-image: none; }

.RadTreeView_ATGSkin .rtLines .rtTop { background-image:url(<%= WebResource("ATGUPSSkin.TreeView.TopLine.png") %>); }
.RadTreeView_ATGSkin_rtl .rtLines .rtTop { background-image:url(<%= WebResource("ATGUPSSkin.TreeView.TopLine_rtl.png") %>); }
.RadTreeView_ATGSkin .rtLines .rtMid { background-image:url(<%= WebResource("ATGUPSSkin.TreeView.MiddleLine.png") %>); }
.RadTreeView_ATGSkin_rtl .rtLines .rtMid { background-image:url(<%= WebResource("ATGUPSSkin.TreeView.MiddleLine_rtl.png") %>); }
.RadTreeView_ATGSkin .rtLines .rtBot { background-image:url(<%= WebResource("ATGUPSSkin.TreeView.BottomLine.png") %>); }
.RadTreeView_ATGSkin_rtl .rtLines .rtBot { background-image: url(<%= WebResource("ATGUPSSkin.TreeView.BottomLine_rtl.png") %>); }
.RadTreeView_ATGSkin .rtLines .rtLast .rtTop { background-image:url(<%= WebResource("ATGUPSSkin.TreeView.SingleLine.png") %>); }
.RadTreeView_ATGSkin_rtl .rtLines .rtLast .rtTop { background-image:url(<%= WebResource("ATGUPSSkin.TreeView.SingleLine_rtl.png") %>); }

/* </node lines> */
