/* RadWindow for ASP.NET AJAX Office 2007 Skin */

/* Window Background */

/* Horiznotal */
.RadWindow_ATGSkin .rwTopLeft,
.RadWindow_ATGSkin .rwTopRight,
.RadWindow_ATGSkin .rwTitlebar,
.RadWindow_ATGSkin .rwFooterLeft,
.RadWindow_ATGSkin .rwFooterRight,
.RadWindow_ATGSkin .rwFooterCenter,
.RadWindow_ATGSkin .rwTopResize,
.RadWindow_ATGSkin .rwStatusbar div,
.RadWindow_ATGSkin .rwStatusbar,
.RadWindow_ATGSkin .rwPopupButton,
.RadWindow_ATGSkin .rwPopupButton span,
.RadWindow_ATGSkin.rwMinimizedWindow .rwCorner
{
    background-image: url(<%= WebResource("ATGUPSSkin.Window.WindowHorizontalSprites.gif") %>);
}

/* Vertical */
.RadWindow_ATGSkin .rwBodyLeft,
.RadWindow_ATGSkin .rwBodyRight,
.RadWindow_ATGSkin .rwStatusbarRow .rwCorner
{
	background-image: url(<%= WebResource("ATGUPSSkin.Window.WindowVerticalSprites.gif") %>);
}

/* Window Shadows */

/* Horiznotal */
.RadWindow_ATGSkin .rwShadow .rwTopLeft,
.RadWindow_ATGSkin .rwShadow .rwTopRight,
.RadWindow_ATGSkin .rwShadow .rwTitlebar,
.RadWindow_ATGSkin .rwShadow .rwFooterLeft,
.RadWindow_ATGSkin .rwShadow .rwFooterRight,
.RadWindow_ATGSkin .rwShadow .rwFooterCenter,
.RadWindow_ATGSkin .rwShadow .rwTopResize,
.RadWindow_ATGSkin .rwShadow .rwStatusbar div,
.RadWindow_ATGSkin .rwShadow .rwStatusbar,
.RadWindow_ATGSkin .rwShadow .rwPopupButton,
.RadWindow_ATGSkin .rwShadow .rwPopupButton span,
.RadWindow_ATGSkin .rwShadow .rwBodyLeft,
.RadWindow_ATGSkin .rwShadow .rwBodyRight,
.RadWindow_ATGSkin .rwShadow .rwStatusbarRow .rwBodyLeft,
.RadWindow_ATGSkin .rwShadow .rwStatusbarRow .rwBodyRight
{
	background-image: url(<%= WebResource("ATGUPSSkin.Window.WindowHorizontalSprites.png") %>);
}

/* Vertical */
.RadWindow_ATGSkin .rwShadow .rwBodyLeft,
.RadWindow_ATGSkin .rwShadow .rwBodyRight,
.RadWindow_ATGSkin .rwShadow .rwStatusbarRow .rwBodyLeft,
.RadWindow_ATGSkin .rwShadow .rwStatusbarRow .rwBodyRight
{
	background-image: url(<%= WebResource("ATGUPSSkin.Window.WindowVerticalSprites.png") %>);
}

/* Shadows End */

.RadWindow_ATGSkin .rwStatusbar input
{
    background-color: #f7f5f2;
}

.RadWindow_ATGSkin .rwControlButtons
{
    margin-top: 0;
}

.RadWindow_ATGSkin .rwControlButtons a
{
    background-image: url(<%= WebResource("ATGUPSSkin.Window.CommandButtonSprites.gif") %>);
}

.RadWindow_ATGSkin a.rwIcon
{
	background-image: url(<%= WebResource("ATGUPSSkin.Window.WindowHorizontalSprites.gif") %>);
}

div.RadWindow_ATGSkin .rwTitlebarControls em
{
	color: #6e5232;
}

div.RadWindow_ATGSkin .rwDialogInput
{
	border: solid 1px #ded1c3;
}

div.RadWindow_ATGSkin .rwDialogInput:hover
{
	border-color: #8f775b;
}

div.RadWindow_ATGSkin td.rwWindowContent
{
    background-color: #ffffff;
}

/* Loading Indicators */
div.RadWindow_ATGSkin tr td.rwLoading
{
    background-color: #fcf9f2;
}


/* When ShowContentDuringLoad="true" */
div.RadWindow_ATGSkin td.rwWindowContent.rwLoading
{
    background-image: url(<%= WebResource("ATGUPSSkin.Common.loading.gif") %>);
}

/* When ShowContentDuringLoad="false" */
div.RadWindow_ATGSkin input.rwLoading
{
    background-image: url(<%= WebResource("ATGUPSSkin.Common.loading_small.gif") %>);
}

/*div.RadWindow_ATGSkin td.rwStatusbar
{
     background-position: 0 -373px; 
    background-repeat: repeat-x;
}*/

/* Shadow Control Buttons */

.RadWindow_ATGSkin .rwShadow .rwControlButtons 
{
	margin: 5px -2px 0 0;
}

.RadWindow_ATGSkin .rwShadow .rwControlButtons 
{
	margin: 5px -1px 0 0;
}

/* ctrl buttons when winodw is minimized */
.RadWindow_ATGSkin.rwMinimizedWindowShadow .rwShadow .rwControlButtons 
{
	margin: 9px -8px 0 0;
}

/* Icon when winodw is minimized */
.RadWindow_ATGSkin.rwMinimizedWindowShadow .rwShadow .rwIcon 
{
	margin: 9px 6px 0 0;
}

/*title buttons when winodw is minimized */
.RadWindow_ATGSkin.rwMinimizedWindowShadow .rwShadow em 
{
	margin: 4px 0 0 -1px;
}

.RadWindow_ATGSkin .rwShadow .rwControlButtons li
{
	float: left;
	padding: 0;
}

.RadWindow_ATGSkin .rwShadow .rwControlButtons a
{
	width: 28px; 
}

.rwInactiveWindow .rwShadow .rwTopLeft,
.rwInactiveWindow .rwShadow .rwTopRight,
.rwInactiveWindow .rwShadow .rwTitlebar,
.rwInactiveWindow .rwShadow .rwFooterLeft,
.rwInactiveWindow .rwShadow .rwFooterRight,
.rwInactiveWindow .rwShadow .rwFooterCenter,
.rwInactiveWindow .rwShadow .rwTopResize,
.rwInactiveWindow .rwShadow .rwStatusbar div,
.rwInactiveWindow .rwShadow .rwStatusbar,
.rwInactiveWindow .rwShadow .rwPopupButton,
.rwInactiveWindow .rwShadow .rwPopupButton span,
.rwInactiveWindow .rwShadow.rwMinimizedWindow .rwCorner,
.RadWindow_ATGSkin.rwNoTitleBar.rwInactiveWindow .rwShadow .rwTopLeft,
.RadWindow_ATGSkin.rwNoTitleBar.rwInactiveWindow .rwShadow .rwTitlebar,
.RadWindow_ATGSkin.rwNoTitleBar.rwInactiveWindow .rwShadow .rwTopRight,
.RadWindow_ATGSkin.rwNoTitleBar.rwInactiveWindow .rwShadow .rwFooterLeft,
.RadWindow_ATGSkin.rwNoTitleBar.rwInactiveWindow .rwShadow .rwFooterCenter,
.RadWindow_ATGSkin.rwNoTitleBar.rwInactiveWindow .rwShadow .rwFooterRight
{
    background-image: url(<%= WebResource("ATGUPSSkin.Window.WindowHorizontalSprites.gif") %>) !important;
}

.rwInactiveWindow .rwShadow .rwBodyLeft,
.rwInactiveWindow .rwShadow .rwBodyRight,
.rwInactiveWindow .rwShadow .rwStatusbarRow .rwCorner,
.RadWindow_ATGSkin.rwNoTitleBar.rwInactiveWindow .rwShadow .rwBodyLeft,
.RadWindow_ATGSkin.rwNoTitleBar.rwInactiveWindow .rwShadow .rwBodyRight
{
	background-image: url(<%= WebResource("ATGUPSSkin.Window.WindowVerticalSprites.gif") %>) !important;
}
