      #briefBody {
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
      }
	  
      #briefBody table {
	
	margin: 0px;
	padding: 0px;
	    border: 1px solid #D2D2D2;
      }
   
      #briefBody td {
	vertical-align: top;
	font: 9pt verdana, arial, san serif;
	width: 571;
	border: 1px solid: #333333;
	
      }

      #briefBody  brief_link A:visited {
	font: 9pt  verdana, arial,san serif; text-decoration: none; color: #F0EADB; 
	  }
	  
      #briefBody brief_link A:link {
	font: 9pt  verdana, arial,san serif; text-decoration: none; color: #F0EADB
	  }
	  
      #briefBody brief_link A:hover {
	font: 9pt  verdana, arial,san serif; text-decoration: underline; color: #F0EADB
	  }
	  
      #briefBody span.brief_title {
	font-weight: bold;
	display: block;
	color: #3C8EB4;
      }

      #briefBody td.brief_text {
	background-color: #ffffff;
	color: #727272;
	padding-bottom: 7px;
      }

      #briefBody img {
	width: 75px;
	border: 1px solid #fff;
      }
	  
      #briefBody td.brief_image {
	width: 75px;
	padding-right: 7px;
      }
	  
      #briefBody td.brief_between {
	display: none;
	background-color: #444;
      }

      #briefBody span.brief_link {
	display: none;
      }
	  






	  
      #briefProduct {
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
      }
	  
      #briefProduct table {
	
	margin: 0px;
	padding: 0px;
	    border: 1px solid #D2D2D2;
      }
   
      #briefProduct td {
	vertical-align: top;
	font: 9pt verdana, arial, san serif;
	width: 571;
	border: 1px solid: #333333;
	
      }

      #briefProduct  brief_link A:visited {
	font: 9pt  verdana, arial,san serif; text-decoration: none; color: #F0EADB; 
	  }
	  
      #briefProduct brief_link A:link {
	font: 9pt  verdana, arial,san serif; text-decoration: none; color: #F0EADB
	  }
	  
      #briefProduct brief_link A:hover {
	font: 9pt  verdana, arial,san serif; text-decoration: underline; color: #F0EADB
	  }
	  
      #briefProduct span.brief_title {
	font-weight: bold;
	display: block;
	color: #3C8EB4;
      }

      #briefProduct td.brief_text {
	background-color: #ffffff;
	color: #727272;
	padding-bottom: 7px;
      }

      #briefProduct img {
	width: 75px;
	border: 1px solid #B7B7B7;
      }
	  
      #briefProduct td.brief_image {
	width: 75px;
	padding-right: 7px;
      }
	  
      #briefProduct td.brief_between {
	display: none;
	background-color: #444;
      }

      #briefProduct span.brief_link {
	display: block;
      }
	  
	  
	  
	  
