#search {
  margin-bottom: 0px;
}
  dl {
    margin: 0;
    padding: 0;
  }
  dt.count {
    float: left;
    width: 25px;
    font-weight: bold;
    margin: 0;
    padding: 0;
	color: #2A3E59;
	font: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #788D9F; padding-bottom: 0px; margin-bottom: 5px;
  }
  
  dt.links {
    padding-left: 0px;
    margin-left: 25px;
    text-align: left;
	width: 517px;
	font: 8pt verdana, arial, san serif; 
	font-weight: bold;
  }
  dt.links A:visited {font: 10pt  verdana, arial,san serif; text-decoration: none; color: #4C769B; font-weight: bold;}
  dt.links A:link {font: 10pt  verdana, arial,san serif; text-decoration: none; color: #4C769B; font-weight: bold;}
  dt.links A:hover {font: 10pt  verdana, arial,san serif; text-decoration: none; color: #067AC3;  font-weight: bold;}
  
  dd.summarytext {
    margin: 2px 0px 0px 25px;
	width: 517px;
	font: 8pt verdana, arial, san serif; color: #333333; text-decoration: none
  }
  dd.linktext {
    margin: 2px 0px 0px 25px;
    padding: 0px;
    color: #666666;
	font: 7pt verdana, arial, san serif; color: #666666; text-decoration: none
  }
  dd.relevence {
    padding: 0;
    margin: 0px 0px 15px 25px;
    color: #333333;
  }
  span.percent {
    display:none;
  }
  .graph {
    width: 75px;
    height: 8px;
    background-color: white;
    border: solid 1px;
    padding: 0;
    margin: 0;
    font-size: 1px;
  }
  .bar {
    background-color: #BDC1C2;
    text-align: right;
    float: left;
    padding: 0;
    margin: 0;
    height: 8px;
    font-size: 1px;
  }
  div.result {
    width: 517px;
    background-color: #316793;
	color: #ffffff;
	font: 10pt verdana, arial, san serif; color: #ffffff; text-decoration: none;
	padding: 4px;
	margin-bottom: 4px;
  }
  span.title {
    font-weight: bold;
  }
  span.detail {
    position: relative;
    right: -15px;
  }
  span.total {
  }
  span.currentset {
    font-weight: bold;
  }
  span.total {
    font-weight: bold;
  }
  span.term {
    font-weight: bold;
  }
                                                                                                                                                          
  div.pages {
    text-align: center;
    font-weight:bold;
  }
                                                                                                                                                          
  span.pagelink {
    color: #000;
  }

  span.currentpage {
    color: #C4C5C7;
  }

