.top	{
background-image: url(images/top_right.jpg);
background-repeat: no-repeat;
background-position: right;
}

.bodyArea	{
background-image: url(images/bg_page.jpg); background-repeat: repeat-x; 
background-color: #E2E5E6;
}

.frontArea	{
background-image: url(images/bg_front.jpg); background-repeat: repeat-x; 
background-color: #C0CED9;
}

.subBox
{
border: #B7B7B7 1px solid;
background-image: url(images/bg_sub.jpg); background-repeat: repeat-x; 
background-color: #E0E2E1;
}

.blueBox
{
border: #ffffff 1px solid;
background-image: url(images/bg_bluebox.jpg); background-repeat: repeat-x; 
background-color: #4F6981;
}

.blueBox {font: 10pt verdana, arial, san serif; color: #fff; text-decoration: none}
.blueBox A:visited {font: 8pt  verdana, arial,san serif; text-decoration: none; color: #fff}
.blueBox A:link {font: 8pt  verdana, arial,san serif; text-decoration: none; color: #fff}
.blueBox A:hover {font: 8pt  verdana, arial,san serif; text-decoration: none; color: #E6FBFF; background-color: #56718E}
.blueBox LI {list-style-image: url("images/bullets2.jpg"); margin-left: 10px; padding-left: 0px; vertical-align: top; padding-bottom:3px; margin-bottom: 3px; font: 8pt verdana, arial, san serif; color: #fff; text-decoration: none}
.blueBox UL { margin-left: 15px; margin-right: 5px; padding-top: 0px; margin-top: 3px; margin-bottom: 0px; padding-bottom: 0px } 

.frontBox
{
border: #102F4C 1px solid;
background-color: #ffffff;
}

.front {font: 9pt verdana, arial, san serif; color: #1D1D1D; text-decoration: none}
.front A:visited {font: 8pt  verdana, arial,san serif; text-decoration: none; color: #2F4764; font-weight: bold;}
.front A:link {font: 8pt  verdana, arial,san serif; text-decoration: none; color: #2F4764; font-weight: bold;}
.front A:hover {font: 8pt  verdana, arial,san serif; text-decoration: underline; color: #6992B4; font-weight: bold;}

.frontsmall {font: 8pt verdana, arial, san serif; color: #333333; text-decoration: none}
.frontsmall A:visited {font: 8pt  verdana, arial,san serif; text-decoration: none; color: #2F4764; font-weight: bold;}
.frontsmall A:link {font: 8pt  verdana, arial,san serif; text-decoration: none; color: #2F4764; font-weight: bold;}
.frontsmall A:hover {font: 8pt  verdana, arial,san serif; text-decoration: underline; color: #6992B4; font-weight: bold;}

.body {font: 10pt verdana, arial, san serif; color: #303030; text-decoration: none}
.body A:visited {font: 10pt  verdana, arial,san serif; text-decoration: none; color: #4C769B}
.body A:link {font: 10pt  verdana, arial,san serif; text-decoration: none; color: #4C769B}
.body A:hover {font: 10pt  verdana, arial,san serif; text-decoration: underline; color: #067AC3}

.price {font: 7pt verdana, arial, san serif; color: #990000; text-decoration: none}

.row
{
border: #CCCCCC 1px solid;
background-color: #BABBBA;
font: 6pt verdana, arial, san serif; color: #303030; text-decoration: none; font-weight: bold
}

.small {font: 7pt verdana, arial, san serif; color: #303030; text-decoration: none}
.small A:visited {font: 7pt  verdana, arial,san serif; text-decoration: none; color: #4C769B}
.small A:link {font: 7pt  verdana, arial,san serif; text-decoration: none; color: #4C769B}
.small A:hover {font: 7pt  verdana, arial,san serif; text-decoration: underline; color: #067AC3}

.navigate {font: 10pt verdana, arial, san serif; color: #999999; text-decoration: none; font-weight: bold;}
.navigate A:visited {font-weight: bold; font: 8pt  verdana, arial,san serif; text-decoration: none; color: #990000; background-color: #EBEBEB; font-weight: bold;}
.navigate A:link {font: 8pt  verdana, arial,san serif; text-decoration: none; color: #990000; background-color: #EBEBEB; font-weight: bold;}
.navigate A:hover {font: 8pt  verdana, arial,san serif; text-decoration: none; color: #cc0000; background-color: #fff; font-weight: bold;}

.right LI {list-style-image: url("images/bullet.gif"); margin-left: 0px; padding-left: 0px; vertical-align: top; padding-bottom:3px}
.right UL { margin-left: 1em; margin-right: 0em; padding-top: 0PX; margin-top: 3px } 
.right {font: 8pt verdana, arial, san serif; color: #303030; text-decoration: none}
.right A:visited {font: 8pt  verdana, arial,san serif; text-decoration: none; color: #FA830C}
.right A:link {font: 8pt  verdana, arial,san serif; text-decoration: none; color: #FA830C}
.right A:hover {font: 8pt  verdana, arial,san serif; text-decoration: underline; color: #FA830C}

h3 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #788D9F; padding-bottom: 0px; margin-bottom: 0px;}

UL {margin-top: 5px; padding-top: 5px; margin-left: 0px; padding-left: 0px; vertical-align: top; padding-bottom:0px; margin-bottom: 5px; padding-top:15px}
LI {list-style-image: url("images/bullet.gif"); margin-left: 20px; padding-left: 0px; vertical-align: top;padding-bottom:0px}

.as_title {font: 10pt verdana, arial, san serif; color: #303030; text-decoration: none; font-weight: bold}

.as_image { border: 1px solid #303030;}

.as_summary {font: 10pt verdana, arial, san serif; color: #303030; text-decoration: none}
.as_summary A:visited {font: 10pt  verdana, arial,san serif; text-decoration: none; color: #343E44}
.as_summary A:link {font: 10pt  verdana, arial,san serif; text-decoration: none; color: #343E44}
.as_summary A:hover {font: 10pt  verdana, arial,san serif; text-decoration: underline; color: #343E44}

.as_byline {font: 10pt verdana, arial, san serif; color: #303030; text-decoration: none}
.as_byline A:visited {font: 10pt  verdana, arial,san serif; text-decoration: none; color: #343E44}
.as_byline A:link {font: 10pt  verdana, arial,san serif; text-decoration: none; color: #343E44}
.as_byline A:hover {font: 10pt  verdana, arial,san serif; text-decoration: underline; color: #343E44}

.as_text {font: 10pt verdana, arial, san serif; color: #303030; text-decoration: none}
.as_text A:visited {font: 10pt  verdana, arial,san serif; text-decoration: none; color: #D1600C}
.as_text A:link {font: 10pt  verdana, arial,san serif; text-decoration: none; color: #D1600C}
.as_text A:hover {font: 10pt  verdana, arial,san serif; text-decoration: underline; color: #F47615}
.as_text LI {font: 9pt verdana, arial, san serif; color: #303030; text-decoration: none}
.as_text LI {list-style-image: url("images/bullet.gif"); margin-left: 10px; padding-left: 0px; vertical-align: top;padding-bottom:0px; margin-bottom: 0px; padding-top: 0px; margin-top: 0px}
.as_text UL { margin-left: 10px; margin-right: 1em; padding-top: 0px; margin-top: opx; margin-bottom: 0px; padding-bottom: 0px } 

.as_toc {font: 10pt Verdana, Arial, Helvetica, sans-serif; color: #ffffff; text-decoration: none}
.as_toc A:visited {font: 10pt Verdana, Arial, Helvetica, sans-serif; color: #0E5476; text-decoration: none}
.as_toc A:link {font: 10pt Verdana, Arial, Helvetica, sans-serif; color: #0E5476; text-decoration: none}
.as_toc A:hover {font: 10pt Verdana, Arial, Helvetica, sans-serif; color: #067AC3; text-decoration: none; background-color: #E6FBFF}
.as_toc BLOCKQUOTE {padding-left: 0px; vertical-align: top;padding-bottom:3px}
.as_toc LI {list-style-image: url("images/bullets.gif"); margin-left: 10px; padding-left: 10px; vertical-align: top;padding-bottom:3px; margin-bottom: 3px}
.as_toc UL { margin-left: 1em; margin-right: 1em; padding-top: 0px; margin-top: 3px; margin-bottom: 0px; padding-bottom: 0px } 

.footer {font: 8pt arial, arial, san serif; color: #454545; text-decoration: none;}
.footer A:visited {font: 8pt  arial, arial,san serif; text-decoration: none; color: #000000}
.footer A:link {font: 8pt  arial, arial,san serif; text-decoration: none; color: #000000}
.footer A:hover {font: 8pt  arial, arial,san serif; text-decoration: underline; color: #000000}

.box
{
	BORDER-TOP: #adaead 1px solid;
	BORDER-LEFT: #adaead 1px solid;
	BORDER-RIGHT: #A8A8A8 3px solid;
	BORDER-BOTTOM: #A8A8A8 3px solid;
	background-color: #fff;
}

.forms
{
	SCROLLBAR-FACE-COLOR: #E9E9E9;
    SCROLLBAR-HIGHLIGHT-COLOR: #999999;
    SCROLLBAR-SHADOW-COLOR: #2E2E2E;
    SCROLLBAR-3DLIGHT-COLOR: #ffffff;
    SCROLLBAR-ARROW-COLOR: #000000;
    SCROLLBAR-TRACK-COLOR: #ffffff;
    SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
	BORDER-TOP: #979797 1px solid;
	BORDER-LEFT: #979797 1px solid;
	BORDER-RIGHT: #E1E1E1 1px solid;
	BORDER-BOTTOM: #E1E1E1 1px solid;
	FONT-SIZE: 12px;
	COLOR: #104184;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	background-position : top;
	margin-top : 0;
	padding : 0;
	vertical-align : top;
}

.search
{
	BORDER-TOP: #979797 1px solid;
	BORDER-LEFT: #979797 1px solid;
	BORDER-RIGHT: #E1E1E1 1px solid;
	BORDER-BOTTOM: #E1E1E1 1px solid;
	FONT-SIZE: 12px;
	COLOR: #104184;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	background-image: url(images/bg_form.jpg);
	background-repeat: repeat-x; 
	background-position : top;
	margin-top : 0;
	padding : 0;
	vertical-align : top;
}

BODY
{
	SCROLLBAR-FACE-COLOR: #E9E9E9;
    SCROLLBAR-HIGHLIGHT-COLOR: #999999;
    SCROLLBAR-SHADOW-COLOR: #2E2E2E;
    SCROLLBAR-3DLIGHT-COLOR: #ffffff;
    SCROLLBAR-ARROW-COLOR: #000000;
    SCROLLBAR-TRACK-COLOR: #ffffff;
    SCROLLBAR-DARKSHADOW-COLOR: #ffffff
}

.submit {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; background-color: #FFFFFF}